<html>
<head>
	<meta charset="utf-8">
	<title>修改权限</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
<style type="text/css">
	.js_gl{display: none;}
	.checknone{display:none;}
</style>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>修改权限</h2>
			</div>
			<div class="common_main">
			  <form action="{:U('Account/subauthority')}" method="post" id="form">	
				<input type="hidden" name="user_id" value="{$user['id']}">
				 <input type="hidden" name="user_name" value="{$user['user_name']}">
				 <input type="hidden" name="cityno" value="<?php echo $_GET['cityno'];?>">
					<table class="table_one table_two">
						<tr>
							<td class="td_title"><span>*</span>账户名称：</td>
							<td class="td_main">{$user['user_name']}</td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>员工工号：</td>
							<td class="td_main">{$user['staffid']}</td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>员工姓名：</td>
							<td class="td_main">{$user['real_name']}</td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>员工手机号：</td>
							<td class="td_main">{$user['mobile']}</td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>部门：</td>
							<td class="td_main">{$user['department']}</td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>城市：</td>
							<td class="td_main">
								<select name="admincitys" onchange="selectClick(this.options[this.selectedIndex].value)">
								 <volist name="admincity" id="vo">
								 <if condition="$vo['city_no'] eq 1"> <option value="1" <?php if($_GET['cityno']==1){echo"selected";}?>>上海</option></if>
							 	 <if condition="$vo['city_no'] eq 2"><option value="2" <?php if($_GET['cityno']==2){echo"selected";}?>>北京</option></if>
							 	 <if condition="$vo['city_no'] eq 3"><option value="3" <?php if($_GET['cityno']==3){echo"selected";}?>>杭州</option></if>
							 	 <if condition="$vo['city_no'] eq 4"><option value="4" <?php if($_GET['cityno']==4){echo"selected";}?>>南京</option></if>
							 	 <if condition="$vo['city_no'] eq 5"><option value="5" <?php if($_GET['cityno']==5){echo"selected";}?>>广州</option></if>
							 	 <if condition="$vo['city_no'] eq 6"><option value="6" <?php if($_GET['cityno']==6){echo"selected";}?>>深圳</option></if>
					  			 </volist>
								</select>
							</td>
						</tr>
						<tr>
							<td class="td_title" style="vertical-align:top;"><span>*</span>分配权限：</td>
							<td class="td_main">
			
									<div class="J_table_box">
									<?php if(isset($tablesystem)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="1"><span>系统管理</span></label></th>
											</tr>
											<?php echo $sysmanagement;?>
										</table>
										<?php }?>
									<!-- 	<?php if(isset($tablepar)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2" class=""><label><input class="js_gl" type="checkbox" name="public_check[]" value="2"><span>参数管理</span></label></th>
											</tr>
											<?php echo $parmanagement;?>
										</table>
										<?php }?> -->
										<?php if(isset($tablehouse)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="3"><span>房源管理</span></label></th>
											</tr>
											<?php echo $housemanagement;?>
										</table>
										<?php }?>
										<?php if(isset($tableorder)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="4"><span>订单管理</span></label></th>
											</tr>
											<?php echo $ordermanagement;?>
										</table>
										<?php }?>
										<!--<table class="powerSelect">
											<tr>
												<th colspan="2"><label><span>合同管理</span>&nbsp;&nbsp;<input type="checkbox"></label></th>
											</tr>
											<tr>
												<td class="twolevel"></td>
												<td></td>
											</tr>
										</table>-->
										<?php if(isset($tableuser)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="6"><span>用户管理</span></label></th>
											</tr>
											<?php echo $usermanagement;?>
										</table>
										<?php }?>
										<?php if(isset($tablefin)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="7"><span>财务管理</span></label></th>
											</tr>
											<?php echo $finmanagement;?>
										</table>
										<?php }?>
										<?php if(isset($tablecircle)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
											<tr>
												<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="47"><span>圈子管理</span></label></th>
											</tr>
											<?php echo $circlemanage;?>
										</table>
										<?php }?>
										<?php if(isset($tablecoupon)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
									     	<tr>
											<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="77"><span>优惠劵管理</span></label></th>
											</tr>
											<?php echo $couponmanage;?>
										</table>
										<?php }?>
										<?php if(isset($tablemake)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
									     	<tr>
											<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="87"><span>预约管理</span></label></th>
											</tr>
											<?php echo $makemanage;?>
										</table>
										<?php }?>
										<?php if(isset($tablecommission)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
									     	<tr>
											<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="107"><span>佣金管理</span></label></th>
											</tr>
											<?php echo $commission;?>
										</table>
										<?php }?>
										<?php if(isset($tools)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
									     	<tr>
											<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="141"><span>工具</span></label></th>
											</tr>
											<?php echo $tools;?>
										</table>
										<?php }?>
										<?php if(isset($store)||cookie("admin_user_name")=="admin"){?>
										<table class="powerSelect">
									     	<tr>
											<th colspan="2"><label><input class="js_gl" type="checkbox" name="public_check[]" value="162"><span>店铺管理</span></label></th>
											</tr>
											<?php echo $store;?>
										</table>
										<?php }?>
									</div>
							</td>
						</tr>
					</table>
					<div class="addhouse_last addhouse_last_room">
						<a href="{:U('Account/upprivilege')}?no=1&leftno=80" class="btn_b">返回</a>
						<button class="btn_a">确定提交</button>
					</div>
				</form>
			</div>
		</div>
</body>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
		function selectClick(value){
			    var uid="<?php echo $_GET['uid'];?>";
				window.location.href="authoritytemp.html?no=1&leftno=80&uid="+uid+"&cityno="+value;

		}

</script>
<script type="text/javascript">
var public_check='{$menustr}';
	if(public_check !=''){
		var equipment_array=public_check.split(",");
		for (var i = equipment_array.length - 1; i >= 0; i--){
			$("input[name^=public_check][value="+equipment_array[i]+"]").attr("checked","checked");
		};
	}

 $(function(){
	$(".powerSelect ").find(".twolevel").siblings("td").on("click",function(){
		if($(this).find("input").is(":checked")){
			$(this).parent().find("td:first input[type='checkbox']").attr("checked",true);
			$(this).parent().parent().find("tr:first  input[type='checkbox']").attr("checked",true)
		}else{
			$(this).parent().find("td:first input[type='checkbox']").removeAttr("checked");
			if($(this).parent().parent().find("td.twolevel input[type='checkbox']").is(":checked")){
				$(this).parent().parent().find("tr:first  input[type='checkbox']").attr("checked",true)
			}else{
				$(this).parent().parent().find("tr:first  input[type='checkbox']").removeAttr("checked")
			}
		}
	})   
});
</script>
</html>