<html>
<head>
	<meta charset="utf-8">
	<title>短信推送</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2></h2>
				<div class="common_head_main">
					
				</div>
			</div>
			<div class="common_main">
				<h2>列表<a href="#" class="btn_a" id="btn_add">新增</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>房东手机</th>
								<th>推送类型</th>
								<th>推送时间</th>
								<th>城市</th>
								<th>推送人</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.push_mobile}</td>
								<td>
									<if condition="strtoupper($vo['push_type']) eq 'EZA009'">
									 房东推送
									</if>
								</td>
								<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
								<td>
									<if condition="strtoupper($vo['city_code']) eq '001009001'">
									 上海
									<elseif condition="strtoupper($vo['city_code']) eq '001001'"/>
									 北京
									 <elseif condition="strtoupper($vo['city_code']) eq '001011001'"/>
									 杭州
									 <elseif condition="strtoupper($vo['city_code']) eq '001010001'"/>
									 南京
									  <elseif condition="strtoupper($vo['city_code']) eq '001019001'"/>
									 广州
									  <elseif condition="strtoupper($vo['city_code']) eq '001019002'"/>
									 深圳
									</if>
								</td>
								<td>{$vo.push_man}</td>
							</tr>
					    	</volist>
						</tbody>
					</table>
					 <div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="dialogAdd" style="position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.6);z-index:999;display:none;">
		<div style="width:450px;height:300px;background:#fff;position:absolute;left:50%;margin-left:-300px;top:50%;margin-top:-235px;border-radius:10px;">
		     <div style="margin:30px;" class="cf">
				<label class="fl" style="height:36px;line-height:36px;width:100px;text-align:right;">推送类型：</label>
				<select name="push_type" id="push_type" style="height:30px;width:150px;">
					<option value="EZA009">房东推送</option>
				</select>
			</div>
			<div style="margin:30px;" class="cf">
				<label class="fl" style="height:36px;line-height:36px;width:100px;text-align:right;">房东手机：</label>
				<input type="tel" maxlength="11" class="fl" id="renterMoblie" style="width:200px;height:36px;">
			</div>
			<div  style="text-align:center;">
				<button class="btn_b" style="margin-right:50px;">取消</button>
				<button class="btn_a" id="btn_submitadd">提交</button>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
	//add
	$("#btn_add").click(function(){
		$("#renterMoblie").val('');
		$("#contactMobile").val('');
		$("#contactTime").val('');$("#shorturlAdd").val('');$("#txtBakadd").val('');
		$("#dialogAdd").show();
	});
	
	$(".btn_b").click(function(){
		$("#dialogDiv").hide();
		$("#dialogAdd").hide();
	});
	$("#btn_submitadd").click(function(){
		 var push_mobile=$("#renterMoblie").val();
		 var push_type=$("#push_type").val();
		  var isMobile=/^1[34578]\d{9}$/;
		if(push_mobile==""){
			alert("请输入房东手机号");
			return false;
		}else if(!isMobile.test(push_mobile)){
			alert("请正确输入房东手机号");
			return false;
		}else{
			$("#btn_submitadd").unbind("click");
			$.get("__URL__/pushLoading.html",{push_mobile:push_mobile,push_type:push_type},function(data){
    	   	 if(data.status==200){
    	   	 	alert("推送成功");
    	   	     location.reload(); 
    	   	 }
	    	},"json");

		}
	});
	
</script>
</html>
