<html>
<head>
	<meta charset="utf-8">
	<title>退款申请</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
     <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>订金单查询</h2>
				<div class="common_head_main">
				<form action="__URL__/refundlist.html" method="get">
				    <input type="hidden" name="no" value="7">
					<input type="hidden" name="leftno" value="115">
					<table class="table_one">
						<tr>
							<td class="td_title">提交时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo$_GET['startTime']?>">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="<?php echo$_GET['endTime']?>"></td>
							<td class="td_title">租客手机号：</td>
							<td class="td_main"><input type="tel" name="mobile" maxlength="11" value="<?php echo I('get.mobile');?>">
							</td>
							<td class="td_title">房东手机号：</td>
							<td class="td_main"><input type="tel" name="ownermobile" maxlength="11" value="<?php echo I('get.ownermobile');?>"></td>
						</tr>
						<tr>
					     	<td class="td_title">订单编号：</td>
							<td class="td_main"><input type="tel" name="orderid" value="<?php echo I('get.orderid');?>"></td>
							<td class="td_title">房间编号：</td>
							<td class="td_main"><input type="tel" name="roomno" value="<?php echo I('get.roomno');?>"></td>
							<td class="td_title">城市</td>
							<td class="td_main">
							     <select name="citycode" style="width:100px;";>
									<option value="" <?php if(I('get.citycode')==""){echo "selected";}?>>全部</option>
									<option value="001009001" <?php if(I('get.citycode')=='001009001'){echo "selected";}?>>上海</option>
									<option value="001001" <?php if(I('get.citycode')=='001001'){echo "selected";}?>>北京</option>
									<option value="001011001" <?php if(I('get.citycode')=='001011001'){echo "selected";}?>>杭州</option>
									<option value="001010001" <?php if(I('get.citycode')=='001010001'){echo "selected";}?>>南京</option>
									<option value="001019001" <?php if(I('get.citycode')=='001019001'){echo "selected";}?>>广州</option>
									<option value="001019002" <?php if(I('get.citycode')=='001019002'){echo "selected";}?>>深圳</option>
								</select>
							</td>
							</td>
						</tr>
				    
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>退款订单列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>订单编号</th>
								<th>租客手机</th>
								<th>房东手机</th>
								<th>房东姓名</th>
								<th>房间编号</th>
								<th>是否有佣金</th>
								<th>订金金额</th>
								<th>优惠金额</th>
								<th>租客付款金额</th>
								<th>签约时间</th>
								<th>状态</th>
								<th>提交时间</th>
								<th>操作人</th>
								<th>查看</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['id']}</td>
								<td>{$vo['customer_mobile']}</td>
								<td>{$vo['owner_mobile']}</td>
								<td>{$vo['owner_name']}</td>
								<td>{$vo['room_no']}</td>
								<td>
									<if condition="strtoupper($vo['is_commission']) eq '0'">
									 否
									<elseif condition="strtoupper($vo['is_commission']) eq '1'"/>
									 是
									</if>
								</td>
								<td>{$vo['earnest_money']}</td>
								<td>{$vo['coupon_money']}</td>
								<td><?php echo ($vo['earnest_money']*100-$vo['coupon_money']*100)/100;?></td>
								<td>{$vo['signed_time']|date="Y-m-d",###}</td>
	
								<td><if condition="strtoupper($vo['order_status']) eq '1'">
									 待付款
									<elseif condition="strtoupper($vo['order_status']) eq '2'"/>
									 已付款
									 <elseif condition="strtoupper($vo['order_status']) eq '3'"/>
									 已取消
									 <elseif condition="strtoupper($vo['order_status']) eq '4'"/>
									 已申请退款
									 <elseif condition="strtoupper($vo['order_status']) eq '5'"/>
									 已退款
									 <elseif condition="strtoupper($vo['order_status']) eq '6'"/>
									 已打款
									</if>
							     </td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo['update_man']}</td>
								<td><a href="__URL__/refunddetails.html?no=7&leftno=115&oid={$vo['id']}">查看</a></td>
							</tr>
			
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});

</script>
</body>
</html>
