<html>
<head>
	<meta charset="utf-8">
	<title>圈子管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>回复查询</h2>
				<div class="common_head_main">
					<form action="{:U('CircleManage/circlePostsDetails')}" method="get">
					<input type="hidden" name="no" value="47"/>
					<input type="hidden" name="leftno" value="49"/>
					<input type="hidden" name="pid" value="{$postsid}"/>
						<table class="table_one">
							<tr>
								<td class="td_title">回复内容：</td>
						        <td class="td_main"><input class="inpt_a" type="text" name="replycontent" value="<?php echo $_GET['replycontent'] ?>"></td>
								<td class="td_title">创建者手机号：</td>
								<td class="td_main"><input type="text" name="replyphone" value="<?php echo $_GET['replyphone'] ?>"></td>
								<td class="td_title">创建者姓名：</td>
								<td class="td_main"><input type="text" name="replyname" value="<?php echo $_GET['replyname'] ?>"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>回复列表 ({$posttitle['title']})</h2>
				<div style="background:#fff;margin:20px 0;padding:10px 2em;border-top:1px solid #ddd;border-bottom:1px solid #ddd;">
					<p style="line-height:25px;color:#444;">{$posttitle['describe']}</p>
				</div>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>回复内容</th>
								<th>楼层</th>
								<th>创建者姓名</th>
								<th>创建者手机</th>
								<th>回复时间</th>
								<th>隐藏回复</th>
								<th>回复TA</th>
							</tr>
						</thead>
						<tbody>
						<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.reply_content}</td>
								<td>{$vo.reply_position}</td>
								<td>{$vo.cname}</td>
								<td>{$vo.mobile}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>
								<if condition="strtoupper($vo['is_display']) eq '1'">
								<a href="{:U('CircleManage/upCircleReplayState')}?cid={$vo.id}&pid={$postsid}">隐藏</a>
								<elseif condition="strtoupper($vo['is_display']) eq '0'"/>
								<a href="{:U('CircleManage/upCircleReplayState')}?cid={$vo.id}&pid={$postsid}">取消隐藏</a>
								</if>
								</td>
								<td><a href="javascript:;">回复TA</a></td>
								 <input type="hidden" name="parent_id" value="{$vo['id']}">
						    	 <input type="hidden" name="parent_customer_id" value="{$vo['customer_id']}">
							</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
			<div class="circleReply">
			   <form method="post" action="{:U('CircleManage/replyPosts')}" id="form">
			      <input type="hidden" name="post_id" value="{$posttitle['id']}">
			      <input type="hidden" name="parent_customer_id" value="{$posttitle['customer_id']}">
					<div class="circle_text cf">
						<span>回复内容</span>
						<textarea name="reply_content" id="reply_content"></textarea>
					</div>
					<div class="circle_message cf">
						<label for="b">创建者手机</label>
						<input type="tel" name="mobile" maxlength="11">
					</div>
					<div class="circle_add">
						<button class="btn_a" onclick="return check();">添加回复<button>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div class="addReply" style="display:none;">
		<div class="addReply_main">
			<form method="post" action="{:U('CircleManage/layersReplyPosts')}" id="form1">
			 <input type="hidden" name="post_id" value="{$posttitle['id']}">
			 <input type="hidden" name="js_parent_id">
			 <input type="hidden" name="js_parent_customer_id">
				<div class="cf reply_text">
					<span>回复内容</span>
					<textarea name="reply_content" id="reply_content1"></textarea>
				</div>
				<div class="cf reply_message">
					<div class="fl cf">
						<label for="a">创建者手机</label>
						<input type="tel" name="mobile" id="mobile">
					</div>
				</div>
				<div class="anniu cf">	
					<a href="javasctipt:;" class="anniu_back">返回</a>
					<button class="anniu_add" onclick="return check1();">添加回复</button>

				</div>
			</form>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
    <script type="text/javascript">
        $(function(){
		   $(".table tr").children("td:nth-child(8)").bind("click",function(){
               var parent_id=$(this).parents("tr").find("input[name='parent_id']").val()
               var parent_customer_id=$(this).parents("tr").find("input[name='parent_customer_id']").val()
                 $("input[name='js_parent_id']").val(parent_id);
                 $("input[name='js_parent_customer_id']").val(parent_customer_id);
		     	 $(".addReply").show();
		    })
		   $(".anniu_back").on("click",function(){
		       $(".addReply").hide();
		   })
		});
    </script>
    <script type="text/javascript">
     function check(){
	   var reply_content=$("#reply_content").val();
	   var mobile=$("input[name='mobile']").val();
	   if(reply_content==""){
		    alert("回复内容不能为空！");
		    return false;
	   }else if(mobile==""){
		   alert("创建者手机不能为空！");
		   return false;
	   }else if(mobile.length!=11){
	   	   	alert("电话格式不正确！");
		   return false;
	   }else{
		   $("#form").submit();
	   } 
    }

    function check1(){
	   var reply_content=$("#reply_content1").val();
	   var mobile=$("#mobile").val();
	   if(reply_content==""){
		    alert("回复内容不能为空！");
		    return false;
	   }else if(mobile==""){
		   alert("创建者手机不能为空！");
		   return false;
	   }else if(mobile.length!=11){
	   	   	alert("电话格式不正确！");
		   return false;
	   }else{
		   $("#form1").submit();
	   } 
    }
    </script>
</body>
</html>
