<html>
<head>
	<meta charset="utf-8">
	<title>修改</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
			<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>修改</h2>
			</div>
			<div class="common_main">
				<table class="table_one">
					<tr>
						<td class="td_title">订单编号</td>
						<td class="td_main">{$data['id']}</td>
						<td class="td_title">手机号</td>
						<td class="td_main">{$data['customer_mobile']}</td>
					</tr>
					<tr>
						<td class="td_title">新家地址</td>
						<td class="td_main" colspan="3">{$data['address']}</td>
					</tr>
					<tr>
						<td class="td_title">支付平台</td>
						<td class="td_main" colspan="3"><switch name="data.pay_platform"><case value="0">微信</case><case value="1">银行卡</case><case value="2">支付宝</case></switch></td>
					</tr>
					<tr>
						<td class="td_title">修改状态为</td>
						<td class="td_main"><select id="status" name="status">
						<option value="">选择</option>
						<option value="4">领取成功</option><option value="6">领取失败(待退款)</option><option value="7">已退款</option>
									</select></td>
						<td class="td_title"><span>券码/理由</span></td>
						<td class="td_main"><input name="result"></td>
					</tr>
					<tr><td colspan="4"><button class="btn_a">提交</button></td></tr>
				</table>
				<div>操作记录</div>
				<table>
					<tr><td>操作人</td><td>处理状态</td><td>操作时间</td></tr>
					<foreach item="vo" name="logs">
						<tr><td>{$vo.oper_id}</td><td><switch name="vo.order_status"><case value="1">待支付</case><case value="2">支付成功</case><case value="3">审核中</case><case value="4">领取成功</case><case value="6">待退款</case><case value="7">已退款</case></switch></td><td>{$vo.create_time|date='Y-m-d H:i:s',###}</td></tr>
					</foreach>
				</table>
			</div>
			
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
var pid="{$data['id']}";
var redirectUrl='__URL__/housemovelist?no=4&leftno=100';
$(".btn_a").bind('click',function(){subedit(this);});
function subedit(obj){
	var status=$("#status").val();
	var info=$("input[name='result']").val().replace(/\s+/g,'');
	if(status==""){
		alert("选择处理状态");return;
	}
	if(status=="4"){
		if(info==""){
			alert("请填写券码");return;
		}
	}else if(status=="6"){
		if(info==""){
			alert("请填写原因");return;
		}
	}else if(status=="7"){
		info="已退款";
	}
	$(obj).unbind("click").text("提交中");
	$.post('__URL__/submitHandle',{status:status,result:info,id:pid},function(data){
		if(data.status=="200"){
			alert("操作成功");window.location.href=redirectUrl;
		}else{
			alert(data.msg);$(obj).bind("click",function(){subedit(this);}).text("提交");
		}
	},'json');
}

</script>
</html>
