<html>
<head>
	<meta charset="utf-8">
	<title>搬家活动列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>所有订单</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/housemovelist" method="get">
						<input type="hidden" name="no" value="4">
						<input type="hidden" name="leftno" value="100">
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">手机：</td>
								<td class="td_main"><input type="text" name="mobile" value="<?php echo isset($_GET['mobile'])?$_GET['mobile']:'' ?>"></td>
								<td class="td_title">状态：</td>
								<td class="td_main">
									<select id="status" name="status">
										<option value="">全部</option>
										<option value="1">待支付</option>
										<option value="2">支付成功</option>
										<option value="3">审核中</option>
										<option value="4">领取成功</option>
										<option value="6">待退款</option>
										<option value="7">已退款</option>
									</select>
								</td>
							</tr>
						</table>
					</form>
					<p class="head_p"><button class="btn_a" onclick="search()">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>订单编号</th>
								<th>手机号</th>
								<th>新家地址</th>
								<th>券码</th><th>更新时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.customer_mobile}</td>
								<td>{$vo.address}</td>
								<td>{$vo.coupon_code}</td>
								<td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
								<td><switch name="vo.order_status"><case value="1">待支付</case><case value="2">支付成功</case><case value="3">审核中</case><case value="4">领取成功</case><case value="6">待退款</case><case value="7">已退款</case></switch>
								</td>
								<td><a href="__URL__/editmove?no=4&leftno=100&id={$vo.id}">修改</a></td>
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$pageSHow}&nbsp;<input type="text" style="width:50px" maxlength="4" id="jumpPage" name="jumpPage">&nbsp;<button onclick="jump()">跳转</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
	$("#status").val('<?php echo isset($_GET["status"])?$_GET["status"]:"" ?>');
	function search(){
		$("#searchForm").submit();
	}
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	
</script>

</html>
