<html>
<head>
	<meta charset="utf-8">
	<title>房源参数</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>新增房源参数</h2>
			</div>

			<div class="common_main">
				<!-- 表单 -->
				<form method="post" action="__URL__/addParamHouse.html" id="form">
				     <input name="type" type="hidden" value="<?php echo I('get.type');?>">
				    <table class="table_one table_two">
					<!-- <tr>
						<td class="td_title">类型编号：</td> 
						<td><input type="text" name="type_no"></td>
					</tr> -->
					<tr>
						<td class="td_title">房源详细类型：</td>
						<td class="td_main">
							<select name="info_type">
									<option value="16">品牌</option>
								</select>
						</td>
					</tr>
					<tr>
						<td class="td_title">名称：</td>
						<td class="td_main">
							<input type="text" name="name">
						</td>
					</tr>
					<tr>
						<td class="td_title">排序：</td>
						<td class="td_main">
						   <input type="text" name="index_no">
						</td>
					</tr>
					<tr>
						<td class="td_title">数据状态：</td>
						<td class="td_main">
						        <input type="radio" id="show" name="is_display" value="1" checked>
								<label for="show">显示</label>
								<input type="radio" id="hide" name="is_display" value="0">
								<label for="hide">隐藏</label>
						</td>
					</tr>
				</table>
				
				<div class="addhouse_last addhouse_last_room"><a href="javascript:;" onclick="check();" class="btn_a">提交</a></div>
				</form>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
	/*提交表单*/
 function check(){
	   var type_no=$("input[name='type_no']").val();
	   var name=$("input[name='name']").val();
	   var index_no=$("input[name='index_no']").val();
	   if(type_no==""){
		    alert("类型编号不能为空！");
		    $("#type_no").focus();
		    return false;
	   }else if(name==""){
		   alert("名称不能为空！");
		   $("#name").attr("value","");
		   $("#name").focus();
		   return false;
	   }else if(index_no==""){
		   alert("排序不能为空！");
		   $("#index_no").attr("value","");
		   $("#index_no").focus();
		   return false;
	   }else{
		   $("#form").submit();
	   } 
   }
</script>
</html>
