<html>
<head>
	<meta charset="utf-8">
	<title>所有话题</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>帖子查询</h2>
				<div class="common_head_main">
					<form action="{:U('CirclePost/circlePostList')}" method="get">
					<input type="hidden" name="no" value="47"/>
					<input type="hidden" name="leftno" value="50"/>
						<table class="table_one">
						    <tr>
								<td class="td_title">发布时间：</td>
						        <td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo$_GET['startTime']?>">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="<?php echo$_GET['endTime']?>"></td>
								<td class="td_title">创建人手机号：</td>
								<td class="td_main"><input type="text" name="creatorphone" value="<?php echo $_GET['creatorphone'] ?>"></td>
								<td class="td_title">创建者姓名：</td>
								<td class="td_main"><input type="text" name="creatorname" value="<?php echo $_GET['creatorname'] ?>"></td>
							</tr>
							<tr>
								<td class="td_title">区域：</td>
						        <td class="td_main">
						        	<select  id="ddl_region" name="region">
						            	 <option value=""></option>
						        	     <volist name="regionarr" id="vo">
						        		 <option value="{$vo['id']}" <?php if(I('get.region')==$vo['id']){echo "selected";}?>>{$vo['cname']}</option>
						        		 </volist>
						        	</select>
						        </td>
								<td class="td_title">地铁站名：</td>
								<td class="td_main"><input type="text" name="nameboard" value="<?php echo $_GET['nameboard'] ?>"></td>
								<td class="td_title">帖子标题：</td>
								<td class="td_main"><input type="text" name="postsname" value="<?php echo $_GET['postsname'] ?>"></td>
							</tr>
							<tr>
								<td class="td_title">板块名：</td>
						        <td class="td_main" >
						        	<select name="scope" id="ddl_scope">
						            	 {$scopeList}
						        	    
						        	</select>
						        </td>
								<td class="td_title">帖子状态：</td>
								<td class="td_main">
									<select name="poststatus" id="js_poststatus">
									   <option value="99" <?php if(I('get.poststatus')==99){echo "selected";}?>>全部帖子</option>
									   <option value="0" <?php if(strlen($_GET['poststatus'])==1){echo "selected";}?>>隐藏的帖子</option>
									   <option value="1" <?php if(I('get.poststatus')==1){echo "selected";}elseif(!isset($_GET['poststatus'])){echo "selected";}?>>可见的帖子</option>
									</select>
								</td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a" onclick="return clickCity();">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>帖子列表<a href="__URL__/downloadExcel.html?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a">下载</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th style="width:18%;">板块与地铁站</th>
								<th>帖子标题</th>
								<th>回复数</th>
								<th>创建时间</th>
								<th>创建人</th>
								<th>创建人手机</th>
								<th>帖子详情</th>
								<th>隐藏帖子</th>
								<th>放入职业房东</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td><?php if($vo['tagname']!=""){echo rtrim($vo['tagname'],",");}else{echo'<select name="tagid">';
                                foreach ($taglist as $key => $value) {
                                	echo '<option value="'.$value['id'].'">'.$value['name'].'</option>';
                                }
								echo '</select>';echo"&nbsp&nbsp<button>确定</button>";}?></td>
								<td>{$vo.title}</td>
								<td>{$vo.replay_cnt}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo.cname}</td>
								<td>{$vo.mobile}</td>
								<td><a href="{:U('CirclePost/circlePostsDetails')}?pid={$vo.id}&no=47&leftno=50">查看详情</a></td>
								<td>
								<if condition="strtoupper($vo['is_display']) eq '1'">
								     <a href="javascript:;" onclick="upPostsState('{$vo.id}',this);">隐藏</a>
								  <else/>
								     <a href="javascript:;" onclick="upPostsState('{$vo.id}',this);">取消隐藏</a>
								</if>
								</td>
								<td></td>
								<input name="ownermobile" type="hidden" value="{$vo.mobile}">
								<input type="hidden" name="post_id" value="{$vo.id}">
							</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
      <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

    <script type="text/javascript">
    	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	    $('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});

    	 $(function(){
		   $(".table tr").children("td:nth-child(2)").find("button").bind("click",function(){
               var tage_id=$(this).parents("tr").find("select").val();
               var post_id=$(this).parents("tr").find("input[name='post_id']").val();
               if(confirm("确认提交？")){
		            $.get("__URL__/addcircletags.html",{tageid:tage_id,postid:post_id},function(data){
					       if(data.status==200){
					       	location.reload();
					       }
					},"json");
	           }
		    })
		});

   function upPostsState(cid,object){
    	if(cid!=""){
	        $.get("__URL__/upPostsState.html",{cid:cid},function(data){
					if(data.status==200){
					   var is_display=data.is_display;
					   if(is_display==0){
					   	 $(object).html("取消隐藏");
					   }else if(is_display==1){
					     $(object).html("隐藏");
					   }
					}
				},"json");
	    }
    }

    //下拉联动
	$("#ddl_region").change(function(){
		if($(this).val()==""){
			$("#ddl_scope").html("");
			return;
		}
		$.get("__APP__/HouseResource/getScopes",{region_id:$(this).val()},function(data){
			$("#ddl_scope").html(data);
		},"html");
	});
   
   function clickCity(){
   		var region=$("#ddl_region").val();
   		var scope=$("#ddl_scope").val();
   		if(region!=""&&scope==""){
   			alert("请选择板块名");
   			return false;
   		}
   }

  $(".table table tr").each(function(index,object){
  	var reply='';
    var ownermobile=$(object).find("input[name='ownermobile']").val();
    var post_id=$(object).find("input[name='post_id']").val();
      if(ownermobile!="undefined"&&ownermobile!=""){
	    $.get("__URL__/professionalowner.html",{ownermobile:ownermobile,post_id:post_id,index:index},function(data){
	      var is_owner=data.is_owner;
	       var is_deal=data.is_deal;
	       if(is_owner==4){
	           $(".table table").find("tr:eq("+index+")").children("td:eq(9)").text("职业房东");
	       }else{	
		      	/*疑似职业房东*/
		      	if(is_deal==1){
		      	   $(".table table").find("tr:eq("+index+")").children("td:eq(9)").html('放入职业房东');
		      	}else{
		           $(".table table").find("tr:eq("+index+")").children("td:eq(9)").html('<a href="#" onclick="confirmJobowner(\''+ownermobile+'\',\''+post_id+'\')">放入职业房东</a>');
		       }
	       }
		  },"json");
	    }
	});

	 function confirmJobowner(ownermobile,post_id){
	 	if(confirm("确认设置为职业房东？")){
	     	$.get("__URL__/setConfirmJobowner?ownermobile="+ownermobile+"&post_id="+post_id,function(data){
				alert(data);
				location.reload();
			});
	     }
	  }
    </script>
</body>
</html>
