<html>
<head>
	<meta charset="utf-8">
	<title>订单管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				
			</div>
			<div class="common_main">
				<h2>评论列表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;房东姓名：{$landlord['true_name']} &nbsp;&nbsp;房东手机：{$landlord['mobile']}</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>总体评价</th>
								<th>评价内容</th>
								<th>房间地址</th>
								<th>是否匿名</th>
								<th>是否显示地址</th>
								<th>评论日期</th>
								<th>评论人</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>
									<if condition="strtoupper($vo['comment_type']) eq '1'">
									值得推荐
									<elseif condition="strtoupper($vo['comment_type']) eq '2'"/>
									有待改善
									<elseif condition="strtoupper($vo['comment_type']) eq '3'"/>
									问题很多
									</if>
								</td>
								<td>{$vo['content']}</td>
								<td>{$vo['address']}</td>
								<td>
								<if condition="strtoupper($vo['is_anonymous']) eq '1'">
									是
								<elseif condition="strtoupper($vo['is_anonymous']) eq '0'"/>
									否
								</if>
								</td>
								<td>
								<if condition="strtoupper($vo['is_anonymous_address']) eq '1'">
									否
								<elseif condition="strtoupper($vo['is_anonymous_address']) eq '0'"/>
									是
								</if>
								</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo['customer_name']}</td>
								<td><a href="#" onclick="deletedata('{$vo['id']}','{$vo['owner_id']}')">删除</a></td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
					<div class="back fl" style="text-align:center;width:100%;margin:0 auto;"><a href="{:U('Comment/OwnerCommentList')}" class="btn_b">返回</a></div>
				</div>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
function deletedata(resource_id,owner_id){
		if(confirm("确认删除？")){
			var url="__URL__/delComment.html?delid="+resource_id+"&owner_id="+owner_id;
			window.location.href = url;
		}
	}
</script>
</body>
</html>
