<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
			<button class="btn btn-success">
				<i class="icon-signal"></i>
			</button>

			<button class="btn btn-info">
				<i class="icon-pencil"></i>
			</button>

			<button class="btn btn-warning">
				<i class="icon-group"></i>
			</button>

			<button class="btn btn-danger">
				<i class="icon-cogs"></i>
			</button>
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div><!-- #sidebar-shortcuts -->

	<assign name="attribute" value="$menu_url['childrenAttributes']['id']" />
	<ul class="nav nav-list" id={{$attribute}}>
		<foreach name="menu_url['children']" item="vo" key="k">
			<li class="">
				<a href={{$vo['url']}} class="dropdown-toggle">
					<i class={{$vo['attribute']['icon_class']}}></i>
					<span class="menu-text"> {{$k}} </span>

					<notempty name="vo['children']">
					    <b class="arrow icon-angle-right"></b>
					</notempty>
				</a>
				<notempty name="vo['children']">
					<ul class="submenu">
						<volist name="vo['children']" id="vo2">
							<li>
								<a href={{$vo2['url']}}>
									<i class="icon-double-angle-right"></i>
									{{$vo2['name']}}
								</a>
							</li>
						</volist>
					</ul>
				</notempty>
			</li>
		</foreach>
	</ul>

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>

	<script type="text/javascript">
		try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
	<script type="text/javascript">
		$(function(){
			$(".dropdown-toggle").parent("li").on("click", function(){
				var $class = $(this).attr("class");
				if("open" == $class) {
					$(this).find("b").attr("class", "arrow icon-angle-right");
				} else {
					$(this).find("b").attr("class", "arrow icon-angle-down");
				}
			})
		})
	</script>
</div>