<!DOCTYPE html>
<html lang="cn">
<head>
	<include file="Admin@Public:top"/>
	<title> 登录-Airele </title>
</head>

<body class="login-layout">
	<div id="loginWrap" class="main-container main-login">
			<div class="login-head">
                <span>后台管理系统</span>
            </div>

			<div class="login-content">
				<div class="login-form">
			    	<form action="{{:U('islogin')}}" method="post" onsubmit="return Juuz.ajaxForm(this);">
			    		<div class="login-username">
			    			<span>用户名：</span><img src="__ASSETS__/images/login_img_username.jpg" /><input type="text" name="username" data-opt='{
			    				type : "require",
			    				msg : "请输入用户名" 
			    		}' placeholder="请输入用户名" tabindex="1">
			    		</div>
			    		<div class="login-password">	
			    			<span>密&nbsp;&nbsp;&nbsp;码：</span><img src="__ASSETS__/images/login_img_pwd.jpg" /><input type="password" name="password" data-opt='{
			    				type : "require",
                                msg : "请输入密码"
                            }' placeholder="请输入密码" tabindex="2">
			    		</div>
			    		<div class="login-code">
			            	<span>验证码：</span>
			    			<input type="text" name="verify" class="code" placeholder="请输入验证码" tabindex="3">
			            	<img src="{{:U('code')}}" class="code-img" alt="验证码" title="点击刷新" onclick="change(this)"> 
			    		</div>
			    			<button type="reset">重置</button><button type="submit" class="login_bt_submit">登录</button>
			    	</form>
		    	</div>
		    </div>
    </div>
<script>
    var __url = "{{:U('code')}}";
    function change(img){
        img.src =  __url +'?t='+ Math.random();
    }
</script>
</body>
</html>
