<style>
    .update-pwd-form{
        padding-bottom:42px;
    }
</style>
<form class="update-pwd-form clearfix" action="{:U('updatepwd')}" method="post" onsubmit="return Juuz.ajaxForm(this);">
    <div class="ui-col-10" style="width:420px;padding:10px 20px 20px 20px">
        <div class="ui-col-10">
            <label class="ui-label">原密码 : </label>
            <input class="ui-text-input" value="" type="password" name="password" tabindex="1" data-opt='{
            type : "require",
            msg : "请输入原密码"
        }' />
        </div>
        <div class="ui-col-10">
            <label class="ui-label">新密码 : </label>
            <input class="ui-text-input" id="new_pwd"  type="password" name="new_pwd" tabindex="2" data-opt='{
            type : "require",
            msg : "请输入新密码"
        }' />
        </div>
        <div class="ui-col-10">
            <label class="ui-label">重复新密码 : </label>
            <input class="ui-text-input"  type="password" name="rep_new_pwd" tabindex="3" data-opt='{
            type : "repeat",
            rel : "newPwd",
            msg : "2次密码输入不一致"
        }' />
        </div>
    </div>
    <div class="ui-pop-foot">
        <button type="submit" class="ui-button small btn btn-minier btn-purple">保 存</button>
    </div>

</form>
