<html>
<head>
	<meta charset="utf-8">
	<title>已发布到58房源</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>查询条件</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/hadfabulist" method="get">
						<input type="hidden" name="no" value="3">
						<input type="hidden" name="leftno" value="103"> 
						<input type="hidden" id="jump" name="p">
						<input type="hidden" name="pagecount" value="<?php echo I('get.pagecount'); ?>">
						<table class="table_one">
							<tr>
								<td class="td_title">房间编号：</td>
								<td class="td_main"><input type="text" name="roomNo" value="<?php echo I('get.roomNo'); ?>"></td>
								<td class="td_title">更新日期：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" value="<?php echo I('get.startTime'); ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime" value="<?php echo I('get.endTime'); ?>"></td>
								<td class="td_title">操作人：</td>
								<td class="td_main">
									<input type="text" name="update_man" value="<?php echo I('get.update_man'); ?>">
								</td>
							</tr>
							<tr>
								<td class="td_title">出租状态</td>
								<td class="td_main">
									<select id="roomStatus" name="roomStatus">
										<option value="">全部</option>
										<option value="2">未入住</option>
										<option value="3">已出租</option>
										<option value="4">待维护</option>
										<option value="0">待审核</option>
										<option value="1">审核未通过</option>
										<option value="del">已删除</option>
									</select>
								</td>
								<td class="td_title">创建日期：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime_create" value="<?php echo I('get.startTime_create'); ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime_create" value="<?php echo I('get.endTime_create'); ?>"></td>
								<td class="td_title">数据来源：</td>
								<td class="td_main">
									<select name="info_resource_type" style="width:110px;">
										{$infoResourceTypeList}
									</select>
									<select name="info_resource" style="width:110px;">
										<option value=""></option>
										{$infoResourceList}
									</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">是否已经推送：</td>
								<td class="td_main">
									<select id="is_recommend" name="is_recommend">
										<option value="">全部</option>
										<option value="1">是</option>
										<option value="2">否</option>
									</select>
								</td>
								<td class="td_title">发布日期：</td>
								<td class="td_main">
									<input class="inpt_a" type="text" name="startTime_fabu" value="<?php echo I('get.startTime_fabu'); ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime_fabu" value="<?php echo I('get.endTime_fabu'); ?>">
								</td>
								<td class="td_title">是否真实房源：</td>
								<td class="td_main">
									<select id="is_true" name="is_true">
										<option value="">全部</option>
										<option value="1">是</option>
										<option value="2">否</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">小区名称：</td>
								<td class="td_main">
									<input type="text" name="estateName" value="<?php echo I('get.estateName'); ?>">
								</td>
								<td class="td_title">房东电话：</td>
								<td class="td_main">
									<input type="text" name="clientPhone" value="<?php echo I('get.clientPhone'); ?>">
								</td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
					</form>
					<p class="head_p">点击搜索显示数据&nbsp;<button class="btn_a" onclick="search()">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>共选中 <span id="selectNum">0</span><a class="btn_a" id="btn_choose">删除发布</a>&nbsp;&nbsp;<a class="btn_a" style="margin-left:130px;" id="btn_reflush">刷新发布</a>&nbsp;&nbsp;<a class="btn_a" style="margin-left:260px;" id="btn_push">推送</a>&nbsp;&nbsp;<a class="btn_a" style="margin-left:380px;" id="btn_settrue">设为真实房源</a>&nbsp;&nbsp;</h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th><input type="checkbox" id="checkall"></th>
								<th>房间编号</th>
								<th>数据来源</th><th>小区名称</th><th>房东电话</th>
								<th>单间名称</th>
								<th>面积（㎡）</th>
								<th>租金（元）</th>
								<th>出租状态</th>
								<th>58地址</th>
								<th>发布时间</th>
								<th>刷新时间</th>
								<th>推送时间</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="list" name="list">
							<tr>
								<td><input type="checkbox" value="{$list.room_id}"></td>
								<td>{$list.room_no}</td>
								<td>{$list.info_resource}</td><td>{$list.estate_name}</td><td>{$list.client_phone}</td>
								<td>{$list.room_name}</td>
								<td>{$list.room_area}</td>
								<td>{$list.room_money}</td>
								<switch name="list.status">
									<case value="3"><td style="color:green;">已出租</td></case>
									<case value="2"><td style="color:red;">未入住</td></case>
									<case value="0"><td>待审核</td></case>
									<case value="1"><td>审核未通过</td></case>
									<case value="4"><td>待维护</td></case>
									<default/><td></td>
								</switch>
								
								<td><a href="{$list.html_url_58}" target="_blank">链接</a></td>
								<td><gt name="list.create_time" value="0">{$list.create_time|date="Y-m-d H:i",###}</gt></td>
								<td><gt name="list.reflush_time" value="0">{$list.reflush_time|date="Y-m-d H:i",###}</gt></td>
								<td><gt name="list.recommend_time" value="0">{$list.recommend_time|date="Y-m-d H:i",###}</gt></td>
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录，每页100条&nbsp;&nbsp;</p>
						<p class="fr skip_right">
							{$pageSHow}&nbsp;<input type="text" style="width:50px" maxlength="4" id="jumpPage" name="jumpPage">&nbsp;<button onclick="jump()">跳转</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">

	$("#roomStatus").val('<?php echo I("get.roomStatus"); ?>');
	$("#is_recommend").val('<?php echo I("get.is_recommend"); ?>');
	$("#is_true").val('<?php echo I("get.is_true"); ?>');
	$('.inpt_a').datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2020,format:"Y-m-d"});
	$("select[name='info_resource_type']").val('<?php echo I("get.info_resource_type"); ?>');
	$("select[name='info_resource']").val('<?php echo I("get.info_resource"); ?>');
	//下拉联动，来源
	$("select[name='info_resource_type']").change(function(){
		if($(this).val()==""){
			$("select[name='info_resource']").html("");
			return;
		}
		$.get("__ROOT__/HouseResource/getInforesourceByType",{type:$(this).val()},function(data){
			$("select[name='info_resource']").html('<option value=""></option>'+data);
		},"html");
	});
	function search(){
		$("#searchForm").submit();
	}
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	
	function getSelectNum(){
		var selectNum=0;
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				selectNum+=1;
			}
		});
		$("#selectNum").text(selectNum);
	}
	/*选择 */
	$("#dataDiv table tbody tr").each(function(){
		var select_object=$(this).children("td:eq(0)").find("input");
		select_object.bind("click",function(){
			getSelectNum();
		})
	});
	$("#checkall").click(function(){
		if($(this).attr("checked")=="checked"){
			$("input[type='checkbox']").attr("checked","checked");
		}else{
			$("input[type='checkbox']").removeAttr("checked");
		}
		getSelectNum();
	})
	$("#btn_choose").bind("click",function(){
		submitEdit(this);
	});
	function submitEdit(obj){
		var ids="";
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("没有勾选项");return;
		}
		$(obj).unbind("click").text("提交中");
		$.post('__URL__/removeFabu',{select_ids:ids},function(data){
			alert(data.msg);$(obj).text("删除完成");
		},'json');
	}
	/*刷新 */
	$("#btn_reflush").bind("click",function(){
		submitFlush(this);
	});
	function submitFlush(obj){
		var ids="";
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("没有勾选项");return;
		}
		$(obj).unbind("click").text("提交中");
		$.post('__URL__/reflushFabu',{select_ids:ids},function(data){
			alert(data.msg);$(obj).text("刷新完成");
		},'json');
	}
	/*推送 */
	$("#btn_push").bind("click",function(){
		submitPush(this);
	});
	function submitPush(obj){
		var ids="";
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("没有勾选项");return;
		}
		$(obj).unbind("click").text("提交中");
		$.post('__URL__/pushFabu',{select_ids:ids},function(data){
			alert(data.msg);$(obj).text("推送完成");
		},'json');
	}
	/*推送 */
	$("#btn_settrue").bind("click",function(){
		submitSettrue(this);
	});
	function submitSettrue(obj){
		var ids="";
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("没有勾选项");return;
		}
		$(obj).unbind("click").text("提交中");
		$.post('__URL__/setTrueFabu',{select_ids:ids},function(data){
			alert(data.msg);$(obj).text("设置完成");
		},'json');
	}
</script>
</html>
