<html>
<head>
	<meta charset="utf-8">
	<title>链接数查询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>查询列表</h2>
				<div class="common_head_main">
				<form action="{:U('CustomerTracking/customerLinksQuery')}" method="get" id="searchForm">
						<input type="hidden" name="no" value="6">
						<input type="hidden" name="leftno" value="201">
					<table class="table_one">
						<tr>
							<td class="td_title">用户手机号：</td>
							<td class="td_main"><input type="tel" maxlength='11' name="customer_mobile" value="{:I('get.customer_mobile')}"></td>
							<td class="td_title">用户类型：</td>
							<td class="td_main">
								<select name="is_owner">
							        <option value="" <?php if(I('get.is_owner')===""){echo "selected";}?>>全部</option>
							    	<option value="3" <?php if(I('get.is_owner')=="3"){echo "selected";}?>>个人房东</option>
							    	<option value="4" <?php if(I('get.is_owner')=="4"){echo "selected";}?>>职业房东</option>
							    	<option value="5" <?php if(I('get.is_owner')=="5"){echo "selected";}?>>中介经纪人</option>
							    </select>
							</td>
							<td class="td_title">查询周期：</td>
							<td class="td_main">
								<select name="period_status">
							        <option value="" <?php if(I('get.period_status')===""){echo "selected";}?>>全部</option>
							    	<option value="0" <?php if(I('get.period_status')=="0"){echo "selected";}?>>近7天</option>
							    	<option value="1" <?php if(I('get.period_status')=="1"){echo "selected";}?>>近30天</option>
							    	<option value="2" <?php if(I('get.period_status')=="2"){echo "selected";}?>>本月以来</option>
							    </select>
							</td>
						</tr>
						<tr>
							<td class="td_title">链接数查询</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startNum" value="{:I('get.startNum')}">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endNum"  value="{:I('get.endNum')}"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					</form>
					<p class="head_p"><button type="submit" class="btn_a" id="btn_search">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>统计列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>用户姓名</th>
								<th>用户手机号</th>
								<th>房东负责人</th>
								<th>用户类型</th>
								<th>在架(房源+报价)数量</th>
								<th>租客数</th>
								<th>电话链接数</th>
								<th>预约链接数</th>
								<th>总链接数</th>
							</tr>
						</thead>
						<tbody>
						  	<volist name="list" id="vo">
							<tr>
								<input type="hidden" name="customer" value="{$vo['customer_id']}">
								<td>{$vo['true_name']}</td>
								<td>{$vo['customer_mobile']}</td>
								<td>{$vo['principal_man']}</td>
								<td>
									<switch name="vo.is_owner">
										<case value="3">个人房东</case>
										<case value="4">职业房东</case>
										<case value="5">中介经纪人</case>
									</switch>
								</td>
								<td>{$vo['limit_count']}</td>
								<td>{$vo['renter_num']}</td>
								<td>{$vo['contact_num']}</td>
								<td>{$vo['reserve_num']}</td>
								<td>{$vo['total_num']}</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页5条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$("#btn_search").click(function(){
		$(this).unbind('click').text('搜索中..');
		$("#searchForm").submit();
	});
	</script>
</body>
</html>
