<html>
<head>
	<meta charset="utf-8">
	<title>新增租客追踪</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css">
</head>
<body>
	<div class="main">
		
		<div class="main_right">
			<div class="common_main">
				<form method="post" action="__URL__/saveTrackingadd">
				<div  style="font-size:16px;margin:20px 0 10px 50px;">回访结果</div>
				<table class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;">
					<tr>
						<td class="td_title"><span>*</span>城市：</td>
						<td class="td_main">
							<select name="city_code">
								<option value=""></option>
								<option value="001009001">上海</option>
								<option value="001001">北京</option>
								<option value="001011001">杭州</option>
								<option value="001010001">南京</option>
								<option value="001019002">深圳</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>手机号：</td>
						<td class="td_main">
							<input type="text" name="mobile">
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>回访来源：</td>
						<td class="td_main">
							<select id="visit_source" name="visit_source">
								<option value="0">请选择</option>
								<option value="1">电话回访</option>
								<option value="2">房东反馈</option>
								<option value="3">保障房源</option>
								<option value="4">短信回访</option>
								<option value="5">返现申请</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>回访结果：</td>
						<td class="td_main">
							<select id="renter_status" name="renter_status">
								<option value="0">请选择</option>
								<option value="1">未租到</option>
								<option value="2">已租到</option>
								<option value="3">拒绝回访</option>
								<option value="4">未接听</option>
								<option value="5">不租了</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title">租到渠道：</td>
						<td class="td_main">
							<select id="renter_sourcetype" name="renter_sourcetype" >
								<option value="0">请选择</option>
								<option value="1">嗨住</option>
								<option value="2">其他</option>
							</select>&nbsp;<input type="input" name="renter_source" style="display:none;">
						</td>
					</tr>
					<tr>
						<td class="td_title">是否看房：</td>
						<td class="td_main"><label><input type="radio" name="is_look" value="1">是</label>&nbsp;<label><input type="radio" name="is_look" value="2">否</label>&nbsp;
						</td>
					</tr>
					
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><input type="text" name="renter_room" ></td>
					</tr>
					<tr>
						<td class="td_title">入住时间：</td>
						<td class="td_main"><input type="text" name="renter_time"  class="inpt_a" style="width:25%;"></td>
					</tr>
					<tr>
						<td class="td_title">继续服务：</td>
						<td class="td_main"><label><input type="radio" name="is_service" value="1">是</label>&nbsp;<label><input type="radio" name="is_service" value="2">否</label>&nbsp;
						</td>
					</tr>
					<tr>
						<td class="td_title">二次回访：</td>
						<td class="td_main"><label><input type="radio" name="second_visit" value="1">需要</label>&nbsp;<label><input type="radio" name="second_visit" value="2">不需要</label>&nbsp;
						</td>
					</tr>
					
					<tr>
						<td class="td_title">备注：</td>
						<td class="td_main"><input type="text" name="bakinfo" style="width:98%"></td>
					</tr>
					
				</table>
				</form>
			</div>
			<div style="margin-left:35%;"><a href="javascript:;" class="btn_a">提交</a></div>
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
 <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$('.inpt_a').datetimepicker({validateOnBlur:false,step:5,lang:'ch',timepicker:false,yearStart:2017,yearEnd:2020,format:"Y-m-d"});

$("#renter_status").change(function(){
	var renter_status = $("#renter_status").val();
	if( renter_status == '4' || renter_status == '5') {
		$("#renter_sourcetype").val('');
		$("input[name='is_look']").attr('checked',false);
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("input[name='is_service']").attr('checked',false);
		$("input[name='second_visit']").attr('checked',false);
		$("#renter_sourcetype").attr('disabled','disabled');
		$("input[name='is_look']").attr('disabled','disabled');
		$("input[name='renter_room']").attr('disabled','disabled');
		$("input[name='renter_time']").attr('disabled','disabled');
		$("input[name='is_service']").attr('disabled','disabled');
		$("input[name='second_visit']").removeAttr('disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '3') {
		$("#renter_sourcetype").val('');
		$("input[name='is_look']").attr('checked',false);
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("input[name='is_service']").attr('checked',false);
		$("input[name='second_visit']").attr('checked',false);
		$("#renter_sourcetype").attr('disabled','disabled');
		$("input[name='is_look']").attr('disabled','disabled');
		$("input[name='renter_room']").attr('disabled','disabled');
		$("input[name='renter_time']").attr('disabled','disabled');
		$("input[name='is_service']").attr('disabled','disabled');
		$("input[name='second_visit']").attr('disabled','disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '2') {
		$("input[name='second_visit']").attr('checked',false);
		$("#renter_sourcetype").removeAttr('disabled');
		$("input[name='is_look']").removeAttr('disabled');
		$("input[name='renter_room']").removeAttr('disabled');
		$("input[name='renter_time']").removeAttr('disabled');
		$("input[name='is_service']").removeAttr('disabled');
		$("input[name='second_visit']").attr('disabled','disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '0') {
		$("#renter_sourcetype").val('');
		$("input[name='is_look']").attr('checked',false);
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("input[name='is_service']").attr('checked',false);
		$("input[name='second_visit']").attr('checked',false);
		$("input[name='bakinfo']").val('');
		$("#renter_sourcetype").removeAttr('disabled');
		$("input[name='is_look']").removeAttr('disabled');
		$("input[name='renter_room']").removeAttr('disabled');
		$("input[name='renter_time']").removeAttr('disabled');
		$("input[name='is_service']").removeAttr('disabled');
		$("input[name='second_visit']").removeAttr('disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '1') {
		$("#renter_sourcetype").val('');
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("#renter_sourcetype").attr('disabled','disabled');
		$("input[name='is_look']").removeAttr('disabled');
		$("input[name='renter_room']").attr('disabled','disabled');
		$("input[name='renter_time']").attr('disabled','disabled');
		$("input[name='is_service']").removeAttr('disabled');
		$("input[name='second_visit']").removeAttr('disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	}
});

$("#renter_sourcetype").change(function(){
	var renter_status = $("#renter_status").val();
	var type=$(this).val();
	if(type=='2'){
		$("input[name='renter_source']").show();
	}else{
		$("input[name='renter_source']").val('').hide();
	}
	if(type == '1'&& (renter_status== '0' || renter_status == '2')) {
		$("input[name='is_look'][value='1']").attr('checked',true);
	}
	
});

$('.btn_a').bind('click',function(){
	if($("select[name='city_code']").val()==''){
		alert("请选择城市");return;
	}
	var regPhone=/^1[34578]\d{9}$/;
	if(!regPhone.test($("input[name='mobile']").val())){
		alert("请输入有效的手机号");return;
	}
	if($("#visit_source").val() == '0') {
		alert("请选择回访来源");return;
	}
	if($("#renter_status").val() == '0'){
		alert("请选择回访结果");return;
	}
	$(this).unbind('click').text('提交中');
	$("form").submit();
});
</script>
</html>
