<html>
<head>
	<meta charset="utf-8">
	<title>租客追踪修改</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
			<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			
			<div class="common_main">
				<div  style="font-size:16px;margin:20px 0 10px 50px;">租客信息</div>
				<table  class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;text-align:center;">
					<thead>
						<tr>
							<th>手机号</th>
							<th>用户姓名</th>
							<th>性别</th>
							<th>年龄段</th>
							<th>注册时间</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{$trackModel['mobile']}</td>
							<td>{$trackModel['true_name']}</td>
							<td>{$trackModel['sex']}</td>
							<td>{$trackModel['age']}</td>
							<td><if condition="($trackModel.register_time gt 0)">{$trackModel.register_time|date="Y-m-d H:i:s",###}</if></td>
						</tr>
					</tbody>
				</table>
				<!-- 联系记录 -->
				<div  style="font-size:16px;margin:20px 0 10px 50px;">联系记录(最多展示最近10条)</div>
				<table  class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;text-align:center;">
					<thead>
						<tr>
							<th>房间编号</th>
							<th>区域板块</th>
							<th>小区</th>
							<th>价格</th>
							<th>拨打时间</th>
							<th>房间来源</th>
							<th>是否有佣金</th>
							<th>是否有包月</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="contactlist" item="vo">
						<tr>
							<td>{$vo.room_no}</td>
							<td>{$vo.region_name}-{$vo.scope_name}</td>
							<td>{$vo.estate_name}</td>
							<td>{$vo.room_money}</td>
							<td><if condition="($vo.call_time gt 0)">{$vo.call_time|date="Y-m-d H:i:s",###}</if></td>
							<td>{$vo.info_resource}</td>
							<td>{$vo.is_commission}</td>
							<td>{$vo.is_monthly}</td>
						</tr>
						</foreach>
					</tbody>
				</table>
				<!-- 预约记录 -->
				<div  style="font-size:16px;margin:20px 0 10px 50px;">预约记录(最多展示最近10条)</div>
				<table  class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;text-align:center;">
					<thead>
						<tr>
							<th>房间编号</th>
							<th>区域板块</th>
							<th>小区</th>
							<th>价格</th>
							<th>预约时间</th>
							<th>预约状态</th><th>看房时间</th>
							<th>房间来源</th>
							<th>是否有佣金</th>
							<th>是否有包月</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="appointlist" item="vo">
						<tr>
							<td>{$vo.room_no}</td>
							<td>{$vo.region_name}-{$vo.scope_name}</td>
							<td>{$vo.estate_name}</td>
							<td>{$vo.room_money}</td>
							<td><if condition="($vo.create_time gt 0)">{$vo.create_time|date="Y-m-d H:i",###}</if></td>
							<td><switch name="vo.status"><case value="0">未处理</case><case value="1">处理中</case><case value="2">成功</case><case value="3">取消</case><case value="4">暂停</case><case value="5">失败</case></switch></td><td><if condition="($vo.look_time gt 0)">{$vo.look_time|date="Y-m-d H:i",###}</if></td>
							<td>{$vo.info_resource}</td>
							<td>{$vo.is_commission}</td>
							<td>{$vo.is_monthly}</td>
						</tr>
						</foreach>
					</tbody>
				</table>
				<!-- 看房日程 -->
				<div  style="font-size:16px;margin:20px 0 10px 50px;">看房日程(最多展示最近10条)</div>
				<table  class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;text-align:center;">
					<thead>
						<tr>
							<th>房间编号</th>
							<th>区域板块</th>
							<th>小区</th>
							<th>价格</th>
							<th>看房状态</th>
							<th>看房时间</th>
							<th>是否有佣金</th>
							<th>是否有包月</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="looklist" item="vo">
						<tr>
							<td>{$vo.room_no}</td>
							<td>{$vo.region_name}-{$vo.scope_name}</td>
							<td>{$vo.estate_name}</td>
							<td>{$vo.room_money}</td>
							<td><switch name="vo.is_view"><case value="0">未看</case><case value="1">已看</case><case value="2">取消</case></switch></td><td><if condition="($vo.view_time gt 0)">{$vo.view_time|date="Y-m-d H:i",###}</if></td>
							<td>{$vo.is_commission}</td>
							<td>{$vo.is_monthly}</td>
						</tr>
						</foreach>
					</tbody>
				</table>
				<!-- 回访记录 -->
				<div  style="font-size:16px;margin:20px 0 10px 50px;">回访记录(最多展示最近10条)</div>
				<table  class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;text-align:center;">
					<thead>
						<tr>
							<th>回访来源</th>
							<th>租住状态</th>
							<th>租到渠道</th>
							<th>是否看房</th>
							<th>租住房间</th>
							<th>入住时间</th>
							<th>是否继续服务</th>
							<th>二次回访</th>
							<th>是否符合返现条件</th>
							<th>回访时间</th>
							<th>回访人</th>
							<th>备注</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="trackinglist" item="vo">
						<tr>
							<td><switch name="vo.visit_source"><case value="1">电话回访</case><case value="2">房东反馈</case><case value="3">保障房源</case><case value="4">短信回访</case><case value="5">返现申请</case><default/></switch></td>
							<td><switch name="vo.renter_status"><case value="1">未租到</case><case value="2">已租到</case><case value="3">拒绝回访</case><default/></switch></td>
							<td><switch name="vo.renter_sourcetype"><case value="1">嗨住</case><case value="2">其他</case></switch>-{$vo.renter_source}</td>
							<td><switch name="vo.is_look"><case value="1">是</case><case value="2">否</case><default/></switch></td>
							<td>{$vo.renter_room}</td>
							<td><if condition="($vo.renter_time gt 0)">{$vo.renter_time|date="Y-m-d H:i:s",###}</if></td>
							<td><switch name="vo.is_service"><case value="1">是</case><case value="2">否</case><default/></switch></td>
							<td><switch name="vo.second_visit"><case value="1">需要</case><case value="2">不需要</case><default/></switch></td>
							<td><switch name="vo.is_cashback"><case value="1">是</case><case value="2">否</case><default/></switch></td>
							<td><if condition="($vo.create_time gt 0)">{$vo.create_time|date="Y-m-d H:i:s",###}</if></td>
							<td>{$vo.create_man}</td>
							<td>{$vo.bakinfo}</td>
						</tr>
						</foreach>
					</tbody>
				</table>
				<!-- 申请返现记录 -->
				<if condition="($applybacklist neq null)">
				<div  style="font-size:16px;margin:20px 0 10px 50px;">申请返现记录(最多展示最近10条)</div>
				<table  class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;text-align:center;">
					<thead>
						<tr>
							<th>房间编号</th>
							<th>区域板块</th>
							<th>小区</th>
							<th>价格</th>
							<th>申请时间</th>
							<th>房间来源</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="applybacklist" item="vo">
						<tr>
							<td>{$vo.room_no}</td>
							<td>{$vo.region_name}</td>
							<td>{$vo.scope_name}</td>
							<td>{$vo.price}</td>
							<td><if condition="($vo.create_time gt 0)">{$vo.create_time|date="Y-m-d H:i:s",###}</if></td>
							<td><switch name="vo.info_resource_type"><case value="1">爬取</case><case value="2">OPEN-API</case><case value="3">个人发布</case><case value="4">房东版发</case><case value="5">BD</case></switch></td>
						</tr>
						</foreach>
					</tbody>
				</table>
				</if>

				<form method="post" action="__URL__/saveTracking">
				<input type="hidden" name="id" value="{$trackModel['id']}">
				<input type="hidden" name="customer_id" value="{$trackModel['customer_id']}">
				<input type="hidden" name="customer_mobile" value="{$trackModel['mobile']}">
				<div  style="font-size:16px;margin:20px 0 10px 50px;">回访结果</div>
				<table class="table_one table_two" style="margin:10px 0 30px 50px;width:70%;">
					<tr>
						<td class="td_title"><span>*</span>回访来源：</td>
						<td class="td_main">
							<select id="visit_source" name="visit_source">
								<option value="0">请选择</option>
								<option value="1">电话回访</option>
								<option value="2">房东反馈</option>
								<option value="3">保障房源</option>
								<option value="4">短信回访</option>
								<option value="5">返现申请</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>回访结果：</td>
						<td class="td_main">
							<select id="renter_status" name="renter_status">
								<option value="0">请选择</option>
								<option value="1">未租到</option>
								<option value="2">已租到</option>
								<option value="3">拒绝回访</option>
								<option value="4">未接听</option>
								<option value="5">不租了</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title">租到渠道：</td>
						<td class="td_main">
							<select id="renter_sourcetype" name="renter_sourcetype" >
								<option value="0">请选择</option>
								<option value="1">嗨住</option>
								<option value="2">其他</option>
							</select>&nbsp;<input type="input" name="renter_source" style="display:none;">
						</td>
					</tr>
					<tr>
						<td class="td_title">是否看房：</td>
						<td class="td_main"><label><input type="radio" name="is_look" value="1">是</label>&nbsp;<label><input type="radio" name="is_look" value="2">否</label>&nbsp;
						</td>
					</tr>
					<tr style="display:none">
						<td class="td_title">BD是否收到佣金：</td>
						<td class="td_main"><label><input type="radio" name="is_getcommission" value="1">是</label>&nbsp;<label><input type="radio" name="is_getcommission" value="2">否</label>&nbsp;
						</td>
					</tr>
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><input type="text" name="renter_room" ></td>
					</tr>
					<tr>
						<td class="td_title">入住时间：</td>
						<td class="td_main"><input type="text" name="renter_time"  class="inpt_a" style="width:25%;"></td>
					</tr>
					<tr>
						<td class="td_title">继续服务：</td>
						<td class="td_main"><label><input type="radio" name="is_service" value="1">是</label>&nbsp;<label><input type="radio" name="is_service" value="2">否</label>&nbsp;
						</td>
					</tr>
					<tr>
						<td class="td_title">二次回访：</td>
						<td class="td_main"><label><input type="radio" name="second_visit" value="1">需要</label>&nbsp;<label><input type="radio" name="second_visit" value="2">不需要</label>&nbsp;
						</td>
					</tr>
					<tr style="display:none">
						<td class="td_title">是否满意：</td>
						<td class="td_main"><label><input type="radio" name="is_satisfied" value="1">是</label>&nbsp;<label><input type="radio" name="is_satisfied" value="2">否</label>&nbsp;
						</td>
					</tr>
					<tr style="display:none">
						<td class="td_title">是否推荐：</td>
						<td class="td_main"><label><input type="radio" name="is_recommend" value="1">是</label>&nbsp;<label><input type="radio" name="is_recommend" value="2">否</label>&nbsp;
						</td>
					</tr>
					<if condition="($cashstatus['status_code'] eq 1)">
					<tr>
						<td class="td_title">是否符合返现条件：</td>
						<td class="td_main"><label><input type="radio" name="status_code" value="2">是</label>&nbsp;<label><input type="radio" name="status_code" value="4">否</label>&nbsp;
						</td>
					</tr>
					</if>
					<tr>
						<td class="td_title">备注：</td>
						<td class="td_main"><input type="text" name="bakinfo" style="width:98%"></td>
					</tr>
				</table>
				</form>
			</div>
			<div style="margin-left:35%;"><a href="javascript:;" class="btn_a">提交</a></div>
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
 <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$('.inpt_a').datetimepicker({validateOnBlur:false,step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2018,format:"Y-m-d"});

$("#renter_status").change(function(){
	var renter_status = $("#renter_status").val();
	if( renter_status == '4' || renter_status == '5') {
		$("#renter_sourcetype").val('');
		$("input[name='is_look']").attr('checked',false);
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("input[name='is_service']").attr('checked',false);
		$("input[name='second_visit']").attr('checked',false);
		$("#renter_sourcetype").attr('disabled','disabled');
		$("input[name='is_look']").attr('disabled','disabled');
		$("input[name='renter_room']").attr('disabled','disabled');
		$("input[name='renter_time']").attr('disabled','disabled');
		$("input[name='is_service']").attr('disabled','disabled');
		$("input[name='second_visit']").removeAttr('disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '3') {
		$("#renter_sourcetype").val('');
		$("input[name='is_look']").attr('checked',false);
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("input[name='is_service']").attr('checked',false);
		$("input[name='second_visit']").attr('checked',false);
		$("#renter_sourcetype").attr('disabled','disabled');
		$("input[name='is_look']").attr('disabled','disabled');
		$("input[name='renter_room']").attr('disabled','disabled');
		$("input[name='renter_time']").attr('disabled','disabled');
		$("input[name='is_service']").attr('disabled','disabled');
		$("input[name='second_visit']").attr('disabled','disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '2') {
		$("input[name='second_visit']").attr('checked',false);
		$("#renter_sourcetype").removeAttr('disabled');
		$("input[name='is_look']").removeAttr('disabled');
		$("input[name='renter_room']").removeAttr('disabled');
		$("input[name='renter_time']").removeAttr('disabled');
		$("input[name='is_service']").removeAttr('disabled');
		$("input[name='second_visit']").attr('disabled','disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '0') {
		$("#renter_sourcetype").val('');
		$("input[name='is_look']").attr('checked',false);
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("input[name='is_service']").attr('checked',false);
		$("input[name='second_visit']").attr('checked',false);
		$("input[name='bakinfo']").val('');
		$("#renter_sourcetype").removeAttr('disabled');
		$("input[name='is_look']").removeAttr('disabled');
		$("input[name='renter_room']").removeAttr('disabled');
		$("input[name='renter_time']").removeAttr('disabled');
		$("input[name='is_service']").removeAttr('disabled');
		$("input[name='second_visit']").removeAttr('disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	} else if(renter_status == '1') {
		$("#renter_sourcetype").val('');
		$("input[name='renter_room']").val('');
		$("input[name='renter_time']").val('');
		$("#renter_sourcetype").attr('disabled','disabled');
		$("input[name='is_look']").removeAttr('disabled');
		$("input[name='renter_room']").attr('disabled','disabled');
		$("input[name='renter_time']").attr('disabled','disabled');
		$("input[name='is_service']").removeAttr('disabled');
		$("input[name='second_visit']").removeAttr('disabled');
		$("input[name='bakinfo']").removeAttr('disabled');
	}
});

$("#renter_sourcetype").change(function(){
	var renter_status = $("#renter_status").val();
	var type=$(this).val();
	if(type=='2'){
		$("input[name='renter_source']").show();
	}else{
		$("input[name='renter_source']").val('').hide();
	}
	if(type == '1'&& (renter_status== '0' || renter_status == '2')) {
		$("input[name='is_look'][value='1']").attr('checked',true);
	}
	
});
$('.btn_a').bind('click',function(){
	var visit_source = $("#visit_source").val();
	var renter_status = $("#renter_status").val();
	if(visit_source == '0') {
		alert("请选择回访来源");return;
	} else if(renter_status == '0'){
		alert("请选择租住状态");return;
	}
	$(this).unbind('click').text('提交中');
	$("form").submit();
});
</script>
</html>
