@charset "UTF-8";
/*
新细明体      \65B0\7EC6\660E\4F53
细明体        \7EC6\660E\4F53
标楷体        \6807\6977\4F53
黑体          \9ED1\4F53
宋体          \5B8B\4F53
新宋体        \65B0\5B8B\4F53
仿宋          \4EFF\5B8B
楷体          \6977\4F53
仿宋_GB2312   \4EFF\5B8B_GB2312
楷体_GB2312   \6977\4F53_GB2312
微软正黑体    \5FAE\x8F6F\6B63\9ED1\4F53
微软雅黑      \5FAE\8F6F\96C5\9ED1
*/
/** 列宽 **/
/***自定义ArtDialog样式***/
.ui-dialog.ui_success {
  border-color: #0c0;
  box-shadow: none;
}
.ui-dialog.ui_error {
  border-color: #c00;
  box-shadow: none;
}
.ui-dialog.ui_tips {
  border-color: #00c;
  box-shadow: none;
}
.ui-dialog.ui_alert,
.ui-dialog.ui_confirm,
.ui-dialog.ui_pop_box {
  border-radius: 0;
  border-color: #E5E5E5;
  box-shadow: none;
}
.ui-dialog.ui_alert .ui-dialog-header,
.ui-dialog.ui_confirm .ui-dialog-header,
.ui-dialog.ui_pop_box .ui-dialog-header {
  background: #F4F5F9;
}
.ui-dialog.ui_alert .ui-dialog-header .ui-dialog-close,
.ui-dialog.ui_confirm .ui-dialog-header .ui-dialog-close,
.ui-dialog.ui_pop_box .ui-dialog-header .ui-dialog-close {
  top: 8px;
  right: 8px;
}
.ui-dialog.ui_alert .ui-dialog-title,
.ui-dialog.ui_confirm .ui-dialog-title,
.ui-dialog.ui_pop_box .ui-dialog-title {
  padding: 10px 15px;
  cursor: move;
}
.ui-dialog.ui_alert .ui-dialog-footer,
.ui-dialog.ui_confirm .ui-dialog-footer,
.ui-dialog.ui_pop_box .ui-dialog-footer {
  background: #F4F5F9;
  padding: 10px;
  border-top: 1px solid #E5E5E5;
}
.ui-dialog.ui_alert .ui-dialog-button button,
.ui-dialog.ui_confirm .ui-dialog-button button,
.ui-dialog.ui_pop_box .ui-dialog-button button {
  padding: 0 15px;
  line-height: 26px;
  height: 26px;
  background: #fcfcfc;
  color: #333;
  font-size: 12px;
  outline: 0;
  border: 1px solid #bababa;
  border-radius: 0;
}
.ui-dialog.ui_alert .ui-dialog-button button.ui-dialog-autofocus,
.ui-dialog.ui_confirm .ui-dialog-button button.ui-dialog-autofocus,
.ui-dialog.ui_pop_box .ui-dialog-button button.ui-dialog-autofocus {
  border-color: #bababa;
  color: #333;
}
.ui-dialog.ui_alert .ui-dialog-button button:hover,
.ui-dialog.ui_confirm .ui-dialog-button button:hover,
.ui-dialog.ui_pop_box .ui-dialog-button button:hover {
  background: #f7fafe;
  border-color: #3598fe;
  color: #333;
}
