@charset "UTF-8";
/*
新细明体      \65B0\7EC6\660E\4F53
细明体        \7EC6\660E\4F53
标楷体        \6807\6977\4F53
黑体          \9ED1\4F53
宋体          \5B8B\4F53
新宋体        \65B0\5B8B\4F53
仿宋          \4EFF\5B8B
楷体          \6977\4F53
仿宋_GB2312   \4EFF\5B8B_GB2312
楷体_GB2312   \6977\4F53_GB2312
微软正黑体    \5FAE\x8F6F\6B63\9ED1\4F53
微软雅黑      \5FAE\8F6F\96C5\9ED1
*/
/** 列宽 **/
/**颜色**/
/***预定义函数***/
/***Airele基础样式***/
.ui-col-24 {
  float: left;
  width: 960px;
}
.ui-col-24 input,
.ui-col-24 textarea {
  width: 938px;
}
.ui-col-24 input.ui_button {
  width: auto;
}
.ui-col-24 input.js_find_back {
  width: 908px;
}
.ui-col-24 input.js_find_search {
  width: 908px;
}
.ui-col-24 input.js_color_input {
  width: 850px;
}
.ui-col-24 textarea.editor {
  width: 948px;
}
.ui-col-24 textarea.kindEditor {
  width: 950px;
}
.ui-col-24 .ui-select-input {
  width: 948px;
}
.ui-col-23 {
  float: left;
  width: 920px;
}
.ui-col-23 input,
.ui-col-23 textarea {
  width: 898px;
}
.ui-col-23 input.ui_button {
  width: auto;
}
.ui-col-23 input.js_find_back {
  width: 868px;
}
.ui-col-23 input.js_find_search {
  width: 868px;
}
.ui-col-23 input.js_color_input {
  width: 810px;
}
.ui-col-23 textarea.editor {
  width: 908px;
}
.ui-col-23 textarea.kindEditor {
  width: 910px;
}
.ui-col-23 .ui-select-input {
  width: 908px;
}
.ui-col-22 {
  float: left;
  width: 880px;
}
.ui-col-22 input,
.ui-col-22 textarea {
  width: 858px;
}
.ui-col-22 input.ui_button {
  width: auto;
}
.ui-col-22 input.js_find_back {
  width: 828px;
}
.ui-col-22 input.js_find_search {
  width: 828px;
}
.ui-col-22 input.js_color_input {
  width: 770px;
}
.ui-col-22 textarea.editor {
  width: 868px;
}
.ui-col-22 textarea.kindEditor {
  width: 870px;
}
.ui-col-22 .ui-select-input {
  width: 868px;
}
.ui-col-21 {
  float: left;
  width: 840px;
}
.ui-col-21 input,
.ui-col-21 textarea {
  width: 818px;
}
.ui-col-21 input.ui_button {
  width: auto;
}
.ui-col-21 input.js_find_back {
  width: 788px;
}
.ui-col-21 input.js_find_search {
  width: 788px;
}
.ui-col-21 input.js_color_input {
  width: 730px;
}
.ui-col-21 textarea.editor {
  width: 828px;
}
.ui-col-21 textarea.kindEditor {
  width: 830px;
}
.ui-col-21 .ui-select-input {
  width: 828px;
}
.ui-col-20 {
  float: left;
  width: 800px;
}
.ui-col-20 input,
.ui-col-20 textarea {
  width: 778px;
}
.ui-col-20 input.ui_button {
  width: auto;
}
.ui-col-20 input.js_find_back {
  width: 748px;
}
.ui-col-20 input.js_find_search {
  width: 748px;
}
.ui-col-20 input.js_color_input {
  width: 690px;
}
.ui-col-20 textarea.editor {
  width: 788px;
}
.ui-col-20 textarea.kindEditor {
  width: 790px;
}
.ui-col-20 .ui-select-input {
  width: 788px;
}
.ui-col-19 {
  float: left;
  width: 760px;
}
.ui-col-19 input,
.ui-col-19 textarea {
  width: 738px;
}
.ui-col-19 input.ui_button {
  width: auto;
}
.ui-col-19 input.js_find_back {
  width: 708px;
}
.ui-col-19 input.js_find_search {
  width: 708px;
}
.ui-col-19 input.js_color_input {
  width: 650px;
}
.ui-col-19 textarea.editor {
  width: 748px;
}
.ui-col-19 textarea.kindEditor {
  width: 750px;
}
.ui-col-19 .ui-select-input {
  width: 748px;
}
.ui-col-18 {
  float: left;
  width: 720px;
}
.ui-col-18 input,
.ui-col-18 textarea {
  width: 698px;
}
.ui-col-18 input.ui_button {
  width: auto;
}
.ui-col-18 input.js_find_back {
  width: 668px;
}
.ui-col-18 input.js_find_search {
  width: 668px;
}
.ui-col-18 input.js_color_input {
  width: 610px;
}
.ui-col-18 textarea.editor {
  width: 708px;
}
.ui-col-18 textarea.kindEditor {
  width: 710px;
}
.ui-col-18 .ui-select-input {
  width: 708px;
}
.ui-col-17 {
  float: left;
  width: 680px;
}
.ui-col-17 input,
.ui-col-17 textarea {
  width: 658px;
}
.ui-col-17 input.ui_button {
  width: auto;
}
.ui-col-17 input.js_find_back {
  width: 628px;
}
.ui-col-17 input.js_find_search {
  width: 628px;
}
.ui-col-17 input.js_color_input {
  width: 570px;
}
.ui-col-17 textarea.editor {
  width: 668px;
}
.ui-col-17 textarea.kindEditor {
  width: 670px;
}
.ui-col-17 .ui-select-input {
  width: 668px;
}
.ui-col-16 {
  float: left;
  width: 640px;
}
.ui-col-16 input,
.ui-col-16 textarea {
  width: 618px;
}
.ui-col-16 input.ui_button {
  width: auto;
}
.ui-col-16 input.js_find_back {
  width: 588px;
}
.ui-col-16 input.js_find_search {
  width: 588px;
}
.ui-col-16 input.js_color_input {
  width: 530px;
}
.ui-col-16 textarea.editor {
  width: 628px;
}
.ui-col-16 textarea.kindEditor {
  width: 630px;
}
.ui-col-16 .ui-select-input {
  width: 628px;
}
.ui-col-15 {
  float: left;
  width: 600px;
}
.ui-col-15 input,
.ui-col-15 textarea {
  width: 578px;
}
.ui-col-15 input.ui_button {
  width: auto;
}
.ui-col-15 input.js_find_back {
  width: 548px;
}
.ui-col-15 input.js_find_search {
  width: 548px;
}
.ui-col-15 input.js_color_input {
  width: 490px;
}
.ui-col-15 textarea.editor {
  width: 588px;
}
.ui-col-15 textarea.kindEditor {
  width: 590px;
}
.ui-col-15 .ui-select-input {
  width: 588px;
}
.ui-col-14 {
  float: left;
  width: 560px;
}
.ui-col-14 input,
.ui-col-14 textarea {
  width: 538px;
}
.ui-col-14 input.ui_button {
  width: auto;
}
.ui-col-14 input.js_find_back {
  width: 508px;
}
.ui-col-14 input.js_find_search {
  width: 508px;
}
.ui-col-14 input.js_color_input {
  width: 450px;
}
.ui-col-14 textarea.editor {
  width: 548px;
}
.ui-col-14 textarea.kindEditor {
  width: 550px;
}
.ui-col-14 .ui-select-input {
  width: 548px;
}
.ui-col-13 {
  float: left;
  width: 520px;
}
.ui-col-13 input,
.ui-col-13 textarea {
  width: 498px;
}
.ui-col-13 input.ui_button {
  width: auto;
}
.ui-col-13 input.js_find_back {
  width: 468px;
}
.ui-col-13 input.js_find_search {
  width: 468px;
}
.ui-col-13 input.js_color_input {
  width: 410px;
}
.ui-col-13 textarea.editor {
  width: 508px;
}
.ui-col-13 textarea.kindEditor {
  width: 510px;
}
.ui-col-13 .ui-select-input {
  width: 508px;
}
.ui-col-12 {
  float: left;
  width: 480px;
}
.ui-col-12 input,
.ui-col-12 textarea {
  width: 458px;
}
.ui-col-12 input.ui_button {
  width: auto;
}
.ui-col-12 input.js_find_back {
  width: 428px;
}
.ui-col-12 input.js_find_search {
  width: 428px;
}
.ui-col-12 input.js_color_input {
  width: 370px;
}
.ui-col-12 textarea.editor {
  width: 468px;
}
.ui-col-12 textarea.kindEditor {
  width: 470px;
}
.ui-col-12 .ui-select-input {
  width: 468px;
}
.ui-col-11 {
  float: left;
  width: 440px;
}
.ui-col-11 input,
.ui-col-11 textarea {
  width: 418px;
}
.ui-col-11 input.ui_button {
  width: auto;
}
.ui-col-11 input.js_find_back {
  width: 388px;
}
.ui-col-11 input.js_find_search {
  width: 388px;
}
.ui-col-11 input.js_color_input {
  width: 330px;
}
.ui-col-11 textarea.editor {
  width: 428px;
}
.ui-col-11 textarea.kindEditor {
  width: 430px;
}
.ui-col-11 .ui-select-input {
  width: 428px;
}
.ui-col-10 {
  float: left;
  width: 400px;
}
.ui-col-10 input,
.ui-col-10 textarea {
  width: 378px;
}
.ui-col-10 input.ui_button {
  width: auto;
}
.ui-col-10 input.js_find_back {
  width: 348px;
}
.ui-col-10 input.js_find_search {
  width: 348px;
}
.ui-col-10 input.js_color_input {
  width: 290px;
}
.ui-col-10 textarea.editor {
  width: 388px;
}
.ui-col-10 textarea.kindEditor {
  width: 390px;
}
.ui-col-10 .ui-select-input {
  width: 388px;
}
.ui-col-9 {
  float: left;
  width: 360px;
}
.ui-col-9 input,
.ui-col-9 textarea {
  width: 338px;
}
.ui-col-9 input.ui_button {
  width: auto;
}
.ui-col-9 input.js_find_back {
  width: 308px;
}
.ui-col-9 input.js_find_search {
  width: 308px;
}
.ui-col-9 input.js_color_input {
  width: 250px;
}
.ui-col-9 textarea.editor {
  width: 348px;
}
.ui-col-9 textarea.kindEditor {
  width: 350px;
}
.ui-col-9 .ui-select-input {
  width: 348px;
}
.ui-col-8 {
  float: left;
  width: 320px;
}
.ui-col-8 input,
.ui-col-8 textarea {
  width: 298px;
}
.ui-col-8 input.ui_button {
  width: auto;
}
.ui-col-8 input.js_find_back {
  width: 268px;
}
.ui-col-8 input.js_find_search {
  width: 268px;
}
.ui-col-8 input.js_color_input {
  width: 210px;
}
.ui-col-8 textarea.editor {
  width: 308px;
}
.ui-col-8 textarea.kindEditor {
  width: 310px;
}
.ui-col-8 .ui-select-input {
  width: 308px;
}
.ui-col-7 {
  float: left;
  width: 280px;
}
.ui-col-7 input,
.ui-col-7 textarea {
  width: 258px;
}
.ui-col-7 input.ui_button {
  width: auto;
}
.ui-col-7 input.js_find_back {
  width: 228px;
}
.ui-col-7 input.js_find_search {
  width: 228px;
}
.ui-col-7 input.js_color_input {
  width: 170px;
}
.ui-col-7 textarea.editor {
  width: 268px;
}
.ui-col-7 textarea.kindEditor {
  width: 270px;
}
.ui-col-7 .ui-select-input {
  width: 268px;
}
.ui-col-6 {
  float: left;
  width: 240px;
}
.ui-col-6 input,
.ui-col-6 textarea {
  width: 218px;
}
.ui-col-6 input.ui_button {
  width: auto;
}
.ui-col-6 input.js_find_back {
  width: 188px;
}
.ui-col-6 input.js_find_search {
  width: 188px;
}
.ui-col-6 input.js_color_input {
  width: 130px;
}
.ui-col-6 textarea.editor {
  width: 228px;
}
.ui-col-6 textarea.kindEditor {
  width: 230px;
}
.ui-col-6 .ui-select-input {
  width: 228px;
}
.ui-col-5 {
  float: left;
  width: 200px;
}
.ui-col-5 input,
.ui-col-5 textarea {
  width: 178px;
}
.ui-col-5 input.ui_button {
  width: auto;
}
.ui-col-5 input.js_find_back {
  width: 148px;
}
.ui-col-5 input.js_find_search {
  width: 148px;
}
.ui-col-5 input.js_color_input {
  width: 90px;
}
.ui-col-5 textarea.editor {
  width: 188px;
}
.ui-col-5 textarea.kindEditor {
  width: 190px;
}
.ui-col-5 .ui-select-input {
  width: 188px;
}
.ui-col-4 {
  float: left;
  width: 160px;
}
.ui-col-4 input,
.ui-col-4 textarea {
  width: 138px;
}
.ui-col-4 input.ui_button {
  width: auto;
}
.ui-col-4 input.js_find_back {
  width: 108px;
}
.ui-col-4 input.js_find_search {
  width: 108px;
}
.ui-col-4 input.js_color_input {
  width: 50px;
}
.ui-col-4 textarea.editor {
  width: 148px;
}
.ui-col-4 textarea.kindEditor {
  width: 150px;
}
.ui-col-4 .ui-select-input {
  width: 148px;
}
.ui-col-3 {
  float: left;
  width: 120px;
}
.ui-col-3 input,
.ui-col-3 textarea {
  width: 98px;
}
.ui-col-3 input.ui_button {
  width: auto;
}
.ui-col-3 input.js_find_back {
  width: 68px;
}
.ui-col-3 input.js_find_search {
  width: 68px;
}
.ui-col-3 input.js_color_input {
  width: 10px;
}
.ui-col-3 textarea.editor {
  width: 108px;
}
.ui-col-3 textarea.kindEditor {
  width: 110px;
}
.ui-col-3 .ui-select-input {
  width: 108px;
}
.ui-col-2 {
  float: left;
  width: 80px;
}
.ui-col-2 input,
.ui-col-2 textarea {
  width: 58px;
}
.ui-col-2 input.ui_button {
  width: auto;
}
.ui-col-2 input.js_find_back {
  width: 28px;
}
.ui-col-2 input.js_find_search {
  width: 28px;
}
.ui-col-2 input.js_color_input {
  width: -30px;
}
.ui-col-2 textarea.editor {
  width: 68px;
}
.ui-col-2 textarea.kindEditor {
  width: 70px;
}
.ui-col-2 .ui-select-input {
  width: 68px;
}
/***Airele登录页***/
.main-login {
  width: 480px;
  height: 400px;
  background: url(../images/login.png) left top no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 37.5%;
  top: 25%;
}
.main-login .login-head {
  width: 350px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  margin: auto;
  text-align: center;
}
.main-login .login-head span {
  font-size: 22px;
  color: #fafafa;
}
.main-login .login-content {
  width: 100%;
  height: 300px;
}
.main-login .login-content .login-form {
  height: 300px;
  margin: auto;
  position: relative;
}
.main-login .login-content .login-form .login-username {
  width: 100%;
  height: 50px;
  margin-top: 6px;
}
.main-login .login-content .login-form .login-username span {
  font-size: 17px;
  padding: 8px;
  color: #fff;
  margin-left: 65px;
}
.main-login .login-content .login-form .login-username img {
  width: 30px;
  height: 34px;
  border-radius: 3px !important;
  margin-bottom: 3px;
}
.main-login .login-content .login-form .login-username input {
  width: 200px;
  margin: 8px 0px;
  border: 1px solid #fafafa;
  border-left: 0px;
  border-radius: 3px !important;
  background: #fafafa !important;
  height: 34px;
  line-height: 34px;
}
.main-login .login-content .login-form .login-password {
  width: 100%;
  height: 50px;
  position: relative;
  top: 10px;
}
.main-login .login-content .login-form .login-password span {
  font-size: 17px;
  padding: 8px;
  color: #fafafa;
  margin-left: 67px;
}
.main-login .login-content .login-form .login-password img {
  width: 30px;
  height: 34px;
  border-radius: 3px !important;
  margin-bottom: 3px;
}
.main-login .login-content .login-form .login-password input {
  width: 200px;
  height: 34px;
  margin: 8px 0px;
  border: 1px solid #fafafa;
  border-left: 0px;
  border-radius: 3px !important;
  background: #fafafa !important;
  line-height: 34px;
}
.main-login .login-content .login-form .login-code {
  width: 100%;
  height: 50px;
  position: relative;
  top: 20px;
}
.main-login .login-content .login-form .login-code span {
  font-size: 17px;
  padding: 6px;
  color: #fff;
  margin-left: 65px;
}
.main-login .login-content .login-form .login-code input {
  width: 100px;
  height: 34px;
  margin: 8px 0px;
  border: 1px solid #fafafa;
  border-left: 0px;
  border-radius: 3px !important;
  background: #fafafa !important;
  line-height: 34px;
}
.main-login .login-content .login-form .login-code .code-img {
  width: 102px;
  height: 34px;
  margin: 8px 0px;
  border: 1px solid #fafafa;
  cursor: pointer;
  margin: 0px 0px 5px 24px;
}
.main-login .login-content button {
  width: 110px;
  height: 40px;
  text-align: center;
  margin-left: 78px;
  margin-top: 30px;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: none;
  color: #fafafa;
}
/***设置密码***/
.ui-label {
  display: block;
  font-size: 12px;
  color: #333;
  line-height: 22px;
  padding: 10px 0 6px;
}
.ui-pop-foot {
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  text-align: right;
  position: absolute;
  padding: 8px 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
/** 文本框 **/
.ui-text-input {
  height: 25px;
  *line-height: 25px;
  line-height: 25px\0;
  margin: 0;
  padding: 0 5px;
  border: 1px solid #ddd;
  font-size: 12px;
}
.ui-text-input.focus {
  border-color: #9dd0ff;
}
.ui-text-input.require {
  background: url(Images/require_icon.png) no-repeat right top;
}
.ui-text-input.readonly,
.ui-text-input.disabled {
  background-color: #f2f2f2;
  color: #999;
  border-color: #ddd;
}
.ui-text-input.title {
  background-image: url(Images/rule.png);
  background-repeat: no-repeat;
  background-position: 5px bottom;
}
/** 按钮 **/
.ui-button {
  padding: 0 15px;
  margin: 0;
  border: 0;
  font-size: 14px;
  background-color: #409eff;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  *overflow: visible;
  text-align: center;
  box-sizing: content-box;
  border-radius: 4px;
}
.ui-button.small {
  font-size: 12px;
  height: 27px;
  line-height: 27px;
}
.ui-button.medium {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  min-width: 40px;
}
.ui-button.large {
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}
.ui-button.long {
  width: 300px;
}
.ui-button.bold {
  font-weight: 700;
}
/***自定义ArtDialog样式***/
.ui-dialog.ui_success {
  border-color: #0c0;
  box-shadow: none;
}
.ui-dialog.ui_error {
  border-color: #c00;
  box-shadow: none;
}
.ui-dialog.ui_tips {
  border-color: #00c;
  box-shadow: none;
}
.ui-dialog.ui_alert,
.ui-dialog.ui_confirm,
.ui-dialog.ui_pop_box {
  border-radius: 0;
  border-color: #E5E5E5;
  box-shadow: none;
}
.ui-dialog.ui_alert .ui-dialog-header,
.ui-dialog.ui_confirm .ui-dialog-header,
.ui-dialog.ui_pop_box .ui-dialog-header {
  background: #F4F5F9;
}
.ui-dialog.ui_alert .ui-dialog-header .ui-dialog-close,
.ui-dialog.ui_confirm .ui-dialog-header .ui-dialog-close,
.ui-dialog.ui_pop_box .ui-dialog-header .ui-dialog-close {
  top: 8px;
  right: 8px;
}
.ui-dialog.ui_alert .ui-dialog-title,
.ui-dialog.ui_confirm .ui-dialog-title,
.ui-dialog.ui_pop_box .ui-dialog-title {
  padding: 10px 15px;
  cursor: move;
}
.ui-dialog.ui_alert .ui-dialog-footer,
.ui-dialog.ui_confirm .ui-dialog-footer,
.ui-dialog.ui_pop_box .ui-dialog-footer {
  background: #F4F5F9;
  padding: 10px;
  border-top: 1px solid #E5E5E5;
}
.ui-dialog.ui_alert .ui-dialog-button button,
.ui-dialog.ui_confirm .ui-dialog-button button,
.ui-dialog.ui_pop_box .ui-dialog-button button {
  padding: 0 15px;
  line-height: 26px;
  height: 26px;
  background: #fcfcfc;
  color: #333;
  font-size: 12px;
  outline: 0;
  border: 1px solid #bababa;
  border-radius: 0;
}
.ui-dialog.ui_alert .ui-dialog-button button.ui-dialog-autofocus,
.ui-dialog.ui_confirm .ui-dialog-button button.ui-dialog-autofocus,
.ui-dialog.ui_pop_box .ui-dialog-button button.ui-dialog-autofocus {
  border-color: #bababa;
  color: #333;
}
.ui-dialog.ui_alert .ui-dialog-button button:hover,
.ui-dialog.ui_confirm .ui-dialog-button button:hover,
.ui-dialog.ui_pop_box .ui-dialog-button button:hover {
  background: #f7fafe;
  border-color: #3598fe;
  color: #333;
}
