html,body,div,span,object,iframe,h1,h2
,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,
em,img,ins,kbd,q,samp,small,strike,strong,
sub,sup,tt,var,i,dl,dt,dd,ol,ul,li,form,fieldset,
label,legend,table,caption,tbody,thead,tfoot,tr,th,
td,article,aside,canvas,details,figure,figcaption,
header,footer,hgroup,menu,nav,output,section,summary,
time,mark,audio,video,input,select,button
{ 
    margin:0; padding:0;font-size:14px;font-family:Arial '微软雅黑';
}
ul,ol,dl,li,dt,dd{list-style:none;}

select,input {vertical-align:middle;}

a {text-decoration:none}

.fl{float:left;}
.fr{float:right;}
.cf{zoom:1;}
.cf:after{display:block;content:'.';clear:both;line-height:0;visibility:hidden;}

table{border-collapse:collapse;}

input,select,button{outline:none;}
.table thead tr:hover{background:none;}
.table tr:hover{background:#eee;}
th{white-space:nowrap;}
