<html>
<head>
	<meta charset="utf-8">
	<title>参数管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/parameter_management_house.css">

</head>
<body>
<include file="Public/head_city" />
      <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>设施图标管理</h2>
				<form action="{:U('Paramappico/paramAppIcoList')}" method="get">
				   <input type="hidden" name="no" value="1">
				    <input type="hidden" name="leftno" value="25">
						<table class="table_one" style="margin-top:0px">
						<tr>
							<td class="td_title">房源类型：</td>
							<td class="td_main">
								<select name="keyword">
								 <option value="3" <?php if($_GET['keyword']==3){echo "selected";}?>>公共设施</option>
								 <option value="11" <?php if($_GET['keyword']==11){echo "selected";}?>>房间设施</option>
								</select>&nbsp;&nbsp;&nbsp;
								
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button class="btn_a">搜索</button></p>
					 </form>
				</div>
				<div class="common_main">
					<h2>设施图标列表<a href="__URL__/addtemp.html?no=2&leftno=25" class="btn_a">新增图标</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>类型编号</th>
								<th>房源详细类型</th>
								<th>名称</th>
								<th>图片</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['type_no']}</td>
								<td><?php if($vo['info_type']==0){echo"装修";}elseif($vo['info_type']==1){echo"付款方式";}elseif($vo['info_type']==2){echo"房间类型";}elseif($vo['info_type']==3){echo"公共设施";}elseif($vo['info_type']==4){echo"房屋类型";}elseif($vo['info_type']==5){echo"房东喜欢的租客";}elseif($vo['info_type']==6){echo"租金";}elseif($vo['info_type']==7){echo"面积";}elseif($vo['info_type']==8){echo"性别";}elseif($vo['info_type']==9){echo"年龄范围";}elseif($vo['info_type']==10){echo"朝向";}elseif($vo['info_type']==11){echo"房间设施";}elseif($vo['info_type']==13){echo"人数";}elseif($vo['info_type']==14){echo"职业";}?></td>
								<td>{$vo['name']}</td>
								<td><img src="{$vo['img_url_bright']}"><img src="{$vo['img_url_gray']}"></td>
								<td><a href="{:U('Paramappico/delAppIco')}?paid={$vo['id']}">删除</a>&nbsp;&nbsp;&nbsp;
								<a href="{:U('Paramappico/upParamAppico')}?no=2&leftno=25&paid={$vo['id']}&intype={$vo['info_type']}">修改</a></td>
							</tr>
						</volist>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
   <script src="__PUBLIC__/js/jquery.form.js"></script>
</body>
</html>
