 <div class="citySelect"><!-- 城市切换 -->
		<select onchange="cutClick(this.options[this.selectedIndex].value)">
		   <volist name="switchcity" id="vo">
			<if condition="$vo['city_no'] eq 1"><option value="1" selected="selected">上海</option></if>
			<if condition="$vo['city_no'] eq 2"><option value="2">北京</option></if>
			<if condition="$vo['city_no'] eq 3"><option value="3">杭州</option></if>
			<if condition="$vo['city_no'] eq 4"><option value="4">南京</option></if>
			<if condition="$vo['city_no'] eq 5"><option value="5">广州</option></if>
			<if condition="$vo['city_no'] eq 6"><option value="6">深圳</option></if>
			</volist>
		</select>
	</div>

<script type="text/javascript">
	function cutClick(value){
		 if(value==1){
		    window.location.href="http://"+document.domain+"/admin/Welcome/welcome.html";
		 }else if(value==2){
		 	window.location.href="http://"+document.domain+"/adminbj/Welcome/welcome.html";
		 }else if(value==3){
		 	window.location.href="http://"+document.domain+"/adminhz/Welcome/welcome.html";
		 }else if(value==4){
		 	window.location.href="http://"+document.domain+"/adminnj/Welcome/welcome.html";
		 }else if(value==5){
		 	window.location.href="http://"+document.domain+"/admingz/Welcome/welcome.html";
		 }else if(value==6){
		 	window.location.href="http://"+document.domain+"/adminsz/Welcome/welcome.html";
		 }
	}
</script>