<html>
<head>
	<meta charset="utf-8">
	<title>版本信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <style type="text/css">
   .js_days{display: none;}
    </style>
</head>
<body>
<include file="Public/head_city" />
      <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>APP类型</h2>
				<form action="__URL__/versioninfolist" method="get">
					<input type="hidden" name="no" value="1">
					<input type="hidden" name="leftno" value="158">
					<table class="table_one">
						<tr>
							<td class="td_title">软件类型：</td>
							<td class="td_main ">
								<select name="softtype">
									<option value="0" {$type == 0?'selected':''}>租客版</option>
									<option value="1" {$type == 1?'selected':''}>房东版</option>
									<option value="2" {$type == 2?'selected':''}>hi租房pro</option>
								</select>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button class="btn_a">搜索</button></p>
				 </form>	  
			</div>
				<div class="common_main">
				<h2>版本信息<a href="__URL__/addinfo.html?no=1&leftno=158" class="btn_a">新增</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>版本号</th>
								<th>标题</th>
								<th>内容</th>
								<th>更新类型</th>
								<th>URL地址</th>
								<th>操作时间</th>
								<th>操作人</th>
								<th>平台</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['curver']}</td>
								<td>{$vo['title']}</td>
								<td>{$vo['content']}</td>
								<td>
									<if condition="$vo['update_type'] eq 0 ">提示更新
									<elseif condition="$vo['update_type'] eq 1 "/>
									强制更新
									<else />无需更新	
									</if>
								</td>
								<td>{$vo['url']}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo['create_man']}</td>
								<td>{$vo['platform']}</td>
								<td><a href="javascript:;" onclick="startSet('{$type}','{$vo[id]}','{$vo[is_using]}')" class="btn_a" style="min-width:50px">
									<if condition="$vo.is_using eq 0">待启用
									<elseif condition="$vo.is_using eq 1"/>启用中</if>
								</a></td>
								<td><a href="javascript:;" onclick="DeleteById('{$pagecount}','{$type}','{$vo[id]}',this);">删除</a>
								<a href="__URL__/modifyinfo.html?no=1&leftno=158&id={$vo['id']}&type={$type}">修改</a></td>
							</tr>
						</volist>
						</tbody>
					</table>
				        <div class="skip cf">
						<p class="fl skip_left" id="count">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right" >
							{$show}
						</p>
					</div>
				</div>
			</div>
			</div>
			
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    function DeleteById(count,type,id,obj){
 	  if(confirm('确定删除吗？')){
			$.get("__URL__/deletebyid.html",{type:type,id:id,},function(data){
				alert(data);
				$(obj).parent().parent().remove();
			});
			$('#count').html("共"+(count-1)+"条记录，每页10条");
		}
   	}
   	function startSet(type,id,is_using) {
   		$.get("{:U(modifyVersionUsing)}",{type:type,id:id,is_using},function(data){
   			var obj = eval('('+data+')');
   			if(obj.status==400) alert(data.message);
   			if(obj.status==200) location.reload(true); 			
   		});
   	}
</script>
</body>
</html>
