<html>
<head>
	<meta charset="utf-8">
	<title>小区映射关系列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>查询</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/EstatemapList.html" method="get">
						<input type="hidden" name="no" value="3">
						<input type="hidden" name="leftno" value="110">
						<input type="hidden" name="totalCount" value="{$totalCount}"> 
						<table class="table_one">
							<tr>
								<td class="td_title">第三方：</td>
								<td class="td_main">
									<select id="third_name" name="third_name">
										<option value="">全部</option>
										{$flats}
									</select>
								</td>
								<td class="td_title">第三方小区名称：</td>
								<td class="td_main"><input type="text" name="estatename" value="<?php echo I('get.estatename'); ?>"></td>
								<td class="td_title">处理状态</td>
								<td class="td_main">
									<select name="type">
							    	<option value="1" <?php if(I('get.type')=="1"){echo "selected";}?>>待处理</option>
							    	<option value="2" <?php if(I('get.type')=="2"){echo "selected";}?>>已完成</option>
							    	</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">区域：</td>
								<td class="td_main">
									<select name="region_third">
										<option value="">全部</option>
										{$regionThirdList}
									</select>
								</td>
								<td class="td_title"></td>
								<td class="td_main"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
					</form>
					<p class="head_p"><button class="btn_a" id="btnSearch">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>列表<a target="_blank" href="__URL__/addestatemap.html?no=3&leftno=110" class="btn_a">新增</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>第三方</th>
								<th>第三方小区名称</th>
								<th>第三方区域板块</th>
								<th>嗨住楼盘</th>
								<th>嗨住楼盘区域板块</th>
								<th>处理状态</th>
								<th>修改时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.third_name}</td>
								<td>{$vo.estate_name_third}</td>
								<td>{$vo.region_third}-{$vo.scope_third}</td>
								<td>{$vo.estate_name}</td>

								<td>{$vo.region_name}-{$vo.scope_name}</td>
								<td>
									<if condition="($vo.estate_name eq '')">
									 待处理
									<elseif condition="($vo.estate_name neq '')"/>
									 已完成
									</if>
								</td>
								<td><if condition="($vo.update_time gt 0)">{$vo['update_time']|date="Y-m-d H:i:s",###}</if></td>
								<td><a target="_black" href="__URL__/editestatemap?no=3&leftno=110&id={$vo.id}">修改</a>
								<a href="javascript:;" onclick="DeleteById('{$totalCount}','{$vo.id}',this);">删除</a></td>							</tr>
							</volist>
						</tbody>
					</table>
				<div class="skip cf">
						<p class="fl skip_left" id="count">共{$totalCount}条记录，每页20条</p>
						<p class="fr skip_right">
							{$pageSHow}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
	$('#btnSearch').click(function(){
		$(this).unbind('click').text('搜索中');
		$('form').submit();
	});
	$("#third_name").val('<?php echo I("get.third_name"); ?>');
	$("select[name='region_third']").val('<?php echo I("get.region_third"); ?>');
	function DeleteById(count,mid,obj) {
 	  	if(confirm('确定删除吗？')){
			$.post("__URL__/removeEstatemap.html",{id:mid},function(data){
				alert(data.message);
				$(obj).parent().parent().remove();
				$('#count').html("共"+(count-1)+"条记录，每页20条");
			},'json');
			
		}
   }
</script>
</html>
