<html>
<head>
	<meta charset="utf-8">
	<title>可租房间列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>可租房间查询</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/searchroomV2" method="get">
						<input type="hidden" name="no" value="3">
						<input type="hidden" name="leftno" value="169"> 
						
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">区域&板块：</td>
								<td class="td_main">
									<select id="ddl_region" name="region" style="width:100px">
										<option value=""></option>
										{$regionList}
									</select>
									<select id="ddl_scope" name="scope" style="width:100px">
										{$scopeList}
									</select>
								</td>
								<td class="td_title">小区名称：</td>
								<td class="td_main"><input type="text" name="estateName" value="<?php echo I('get.estateName'); ?>"></td>
								<td class="td_title">租金：</td>
								<td class="td_main">
									<input type="tel" name="moneyMin" maxlength="6" style="width:100px;" value="<?php echo I('get.moneyMin');?>">~
									<input type="tel" name="moneyMax" maxlength="6" style="width:100px;" value="<?php echo I('get.moneyMax');?>">
								</td>
							</tr>
							<tr>
								<td class="td_title">是否有佣金：</td>
								<td class="td_main">
									<select id="is_commission" name="is_commission">
										<option value="">全部</option>
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</td>
								<td class="td_title"></td>
								<td class="td_main"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						
						</table>
					</form>
					
					<p class="head_p"><span style="color:red">需要添加查询条件</span>&nbsp;<button class="btn_a" id="btn_search">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>查询列表</h2>
			
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>小区名称</th>
								<th>区域板块</th>
								<th>户型</th>
								<th>房间类型</th>
								<th>房间面积</th>
								<th>租金</th>
								<th>创建日期</th>
								<th>更新日期</th>
								<th>是否有佣金</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="list">
							<tr>
								<td>{$i}</td>
								<td>{$list.estate_name}</td>
								<td>{$list.region_name}-{$list.scope_name}</td>
								<td>{$list.room_num}室</td>
								<td><switch name="list.rent_type"><case value="1">合租</case><case value="2">整租</case></switch></td>
								<td>{$list.room_area}</td>
								<td>{$list.room_money}</td>
								<td><gt name="list.create_time" value="0">{$list.create_time|date="Y-m-d H:i",###}</gt></td>
								<td><gt name="list.update_time" value="0">{$list.update_time|date="Y-m-d H:i",###}</gt></td>
								<td><if condition="($list.is_commission eq '1')">是<else/>否</if></td>
							</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共<span style="color:red;">{$totalcnt}</span>条记录，每页10条</p>
						<p class="fr skip_right">
							{$pageSHow}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery-1.9.0.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
	$("#is_commission").val('<?php echo I("get.is_commission"); ?>');
	$("#ddl_region").val('<?php echo I("get.region"); ?>');
	$("#ddl_scope").val('<?php echo I("get.scope"); ?>');

	$("#btn_search").click(function(){
		$(this).unbind('click').text('搜索中');
		$("#searchForm").submit();
	});

	//下拉联动
	$("#ddl_region").change(function(){
		if($(this).val()==""){
			$("#ddl_scope").html("");
			return;
		}
		$.get("__URL__/getScopes",{region_id:$(this).val()},function(data){
			$("#ddl_scope").html(data);
		},"html");
	});
	
</script>
</html>
