<html>
<head>
	<meta charset="utf-8">
	<title>置顶管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>置顶查询</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/toproommanage" method="get">
						<input type="hidden" name="no" value="3">
						<input type="hidden" name="leftno" value="145">
						<input type="hidden" id="jump" name="p">
						<input type="hidden" name="flag" value="query">
						<table class="table_one">
							<tr>
								<td class="td_title">房间编号</td>
								<td class="td_main"><input type="text" name="room_no" value="<?php echo I('get.room_no'); ?>"></td>
								<td class="td_title">置顶类型</td>
								<td class="td_main">
									<select name="rent_type">
										<option value="">全部</option>
										<option value="1">合租</option>
										<option value="2">整租</option>
										<option value="3">公寓</option>
									</select>
								</td>
								<td class="td_title">置顶位</td>
								<td class="td_main">
									<select name="top_type">
										<option value="">全部</option>
										<option value="2">全城</option>
										<option value="3">行政区</option>
										<option value="4">商圈</option>
										<option value="5">地铁线</option>
										<option value="6">地铁站</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">区/商圈</td>
								<td class="td_main">
									<select id="ddl_region" name="region" style="width:100px;">
										<option value=""></option>
										{$regionList}
									</select>
									&nbsp;<select id="ddl_scope" name="scope" style="width:100px;">
										{$scopeList}
									</select>
								</td>
								<td class="td_title">地铁</td>
								<td class="td_main">
									<select id="ddl_subwayline" name="subwayline_id" style="width:100px;">
										<option value=""></option>
										{$subwaylineList}
									</select>&nbsp;
									<select id="ddl_subway" name="subway_id" style="width:100px;">
										{$subwayList}
									</select>
								</td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
					</form>
					<p class="head_p"><button class="btn_a" id="btnSearch">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>置顶列表<a href="__URL__/toproomedit?no=3&leftno=145" class="btn_a">新增置顶</a>&nbsp;<a style="margin-left:150px;" href="__URL__/downloadToplist?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a">下载</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>房间编号</th><th>小区名称</th><th>租金</th>
								<th>置顶位</th>
								<th>行政区</th>
								<th>商圈</th>
								<th>地铁线</th><th>地铁站</th>
								<th>创建人</th>
								<th>创建时间</th>
								<th>修改置顶</th>
								<th>取消置顶</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>{$vo.room_no}</td><td>{$vo.estate_name}</td><td>{$vo.room_money}</td>
								<td><switch name="vo.top_type"><case value="1">首页</case><case value="2">全城</case>
									<case value="3">行政区</case><case value="4">商圈</case>
								<case value="5">地铁线</case><case value="6">地铁站</case></switch></td>
								<td><if condition="$vo.top_type eq 3 or $vo.top_type eq 4">{$vo.region_name}</if></td>
								<td><if condition="$vo.top_type eq 4">{$vo.scope_name}</if></td>
								<td><if condition="$vo.top_type eq 5 or $vo.top_type eq 6">{$vo.subwayline_name}</if></td>
								<td><if condition="$vo.top_type eq 6">{$vo.subway_name}</if></td>
								<td>{$vo.create_man}</td>
								<td><if condition="($vo.toproom_createtime gt 0)">{$vo.toproom_createtime|date="Y-m-d H:i",###}</if></td>
								<td><a href="__URL__/toproomedit?no=3&leftno=145&topid={$vo.id}">修改置顶</a></td>
								<td><a href="javascript:;" onclick="cancelSettopRoom('{$vo.id}','{$vo.room_id}',{$vo.top_type},this)">取消置顶</a></td>
							</tr>
							</foreach>
						</tbody>
					</table>
				<div class="skip cf">
					<p class="fl skip_left">共<span id="lblCnt" style="color:red;">{$totalcnt}</span>条记录，每页15条</p>
					<p class="fr skip_right">
						{$pageSHow}
					</p>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
var topType="<?php echo I('get.top_type'); ?>";
$("select[name='rent_type']").val("<?php echo I('get.rent_type'); ?>");
$("select[name='top_type']").val(topType);
$("#ddl_region").val("<?php echo I('get.region'); ?>");
$("#ddl_scope").val("<?php echo I('get.scope'); ?>");
$("#ddl_subwayline").val("<?php echo I('get.subwayline_id'); ?>");
$("#ddl_subway").val("<?php echo I('get.subway_id'); ?>");

if(topType=='5'){
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",false);
	$("#ddl_subway").attr("disabled",true);
}else if(topType=='6'){
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",false);
	$("#ddl_subway").attr("disabled",false);
}else if(topType=='3'){
	$("#ddl_region").attr("disabled",false);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
}else if(topType=='4'){
	$("#ddl_region").attr("disabled",false);
	$("#ddl_scope").attr("disabled",false);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
}else{
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
}

	$("#btnSearch").click(function(){
		$(this).unbind('click').text('搜索中');
		$("#searchForm").submit();
	});
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	function cancelSettopRoom(pid,roomId,topType,obj){
		if(confirm("确认取消置顶吗？")){
			$.get("__URL__/unsetToproom",{id:pid,room_id:roomId,top_type:topType},function(data){
				alert(data.msg);
				if(data.status=="200"){
					var cnt =parseInt($("#lblCnt").text());
					$("#lblCnt").text(cnt-1);
					$(obj).parent().parent().remove();
				}
			},"json");
		}
	}
	//商圈下拉联动
	$("#ddl_region").change(function(){
		if($(this).val()=="" || $("select[name='top_type']").val()==3){
			$("#ddl_scope").html("");
			return;
		}
		$.get("__URL__/getScopes",{region_id:$(this).val()},function(data){
			$("#ddl_scope").html(data);
		},"html");
	});
	//下拉联动(地铁线)
	$("#ddl_subwayline").change(function(){
		if($(this).val()=="" || $("select[name='top_type']").val()==5){
			$("#ddl_subway").html("");
			return;
		}
		$.get("__ROOT__/Estate/getSubwayByLine",{subwayline_id:$(this).val()},function(data){
			$("#ddl_subway").html(data);
		},"html");
	});
	$("select[name='top_type']").change(function(){
		var topType=$(this).val();
		if(topType=='3'){
			$("#ddl_region").attr("disabled",false);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",true);
			$("#ddl_subway").attr("disabled",true);
		}else if(topType=='4'){
			$("#ddl_region").attr("disabled",false);
			$("#ddl_scope").attr("disabled",false);
			$("#ddl_subwayline").attr("disabled",true);
			$("#ddl_subway").attr("disabled",true);
		}else if(topType=='5'){
			$("#ddl_region").attr("disabled",true);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",false);
			$("#ddl_subway").attr("disabled",true);
		}else if(topType=='6'){
			$("#ddl_region").attr("disabled",true);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",false);
			$("#ddl_subway").attr("disabled",false);
		}else{
			$("#ddl_region").attr("disabled",true);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",true);
			$("#ddl_subway").attr("disabled",true);
		}
	});
	
	
</script>

</html>
