<html>
<head>
	<meta charset="utf-8">
	<title>置顶列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
    
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			
			<div class="common_head">
				<h2>置顶查询</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/toproomlist" method="get">
						<input type="hidden" name="no" value="3">
						<input type="hidden" name="leftno" value="70">
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">房间编号：</td>
								<td class="td_main"><input type="text" name="roomNo" value="<?php echo isset($_GET['roomNo'])?$_GET['roomNo']:'' ?>"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
					</form>
					<p class="head_p"><button class="btn_a" onclick="search()">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2><m style="font-weight:normal;">房间编号&nbsp;</m><input type="text" id="addRoomno" style="width:200px;height:28px;">&nbsp;&nbsp;<a style="margin-left:150px;display:none;" href="#" class="btn_a" id="addToproomBtn">新增置顶</a>&nbsp;<a style="margin-left:300px;" href="__URL__/downloadToprooms?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a">下载</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>房源编号</th>
								<th>房间编号</th><th>区域-板块</th>
								<th>小区名称</th>
								<th>房间名称</th>
								<th>面积（㎡）</th>
								<th>租金（元）</th>
								<th>出租状态</th>
								<th>房间负责人</th>
								<th>排序</th>
								<!-- <th>排序操作</th>
								<th>置到第一</th> 
								<th>取消操作</th> -->
							</tr>
						</thead>
						<tbody>
							<foreach item="list" name="list">
							<tr>
								<td>{$list.ident_num}</td>
								<td>{$list.house_no}</td>
								<td class="roomid">{$list.room_no}<input type="hidden" value="{$list.room_id}"></td>
								<td>{$list.region_name}-{$list.scope_name}</td>
								<td>{$list.estate_name}</td>
								<td>{$list.room_name}</td>
								<td>{$list.room_area}</td>
								<td>{$list.room_money}</td>
								<if condition="$list.status eq '3'" >
									<td style="color:green;">已出租</td>
								<elseif condition="$list.status eq '2'" />
									<td style="color:red;">未入住</td>
								<else />
									<td>待维护</td>
								</if>
								<td>{$list.create_man}</td>
								<td class="sortindex">{$list.sort_index}</td>
								<!-- <td><a href="javascript:;" class="moveup"><img src="__PUBLIC__/images/up.png" alt=""></a>&nbsp;&nbsp;<a href="javascript:;" class="movedown"><img src="__PUBLIC__/images/down.png" alt=""></a></td> -->
							<!-- 	 <td><a href="javascript:;" onclick="reflushRoom('{$list.room_id}','{$list.sort_index}')">刷新</a></td> 
															<td><a href="javascript:;" class="movefirst">置到第一</a></td>
															<td><a href="javascript:;" onclick="cancelSettopRoom('{$list.room_id}','{$list.sort_index}')">取消置顶</a></td> -->
								<!-- <td><a href="javascript:;" onclick="modifyTopRoom('{$list.room_id}',this)">修改排序</a></td> -->
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录</p>
						<p class="fr skip_right">
							{$pageSHow}
						</p>
					</div>
				</div>
			</div> 
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
	function search(){
		$("#searchForm").submit();
	}
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	function modifyTopRoom(room_id,obj){
		var sort_index = $(obj).parent().prev().find('input').val();
		if(/^\d{1,3}$/.test(sort_index)){
			$.get("__URL__/modifyTopRoom",{room_id:room_id,sort_index:sort_index},function(data){
				alert(data.msg);
			},"json");
		}
	}
	/*新增置顶*/
	$("#addToproomBtn").click(function(){
		var roomno=$("#addRoomno").val().replace(/\s+/g,"");
		if(roomno==""){
		    alert("请输入房间编号！");return false;
		}
		$.get("__URL__/settopRoomV2",{room_no:roomno},function(data){
			alert(data.msg);
			if(data.status=="200"){
				window.location.reload();
			}
		},"json");
	});
	function cancelSettopRoom(room_id,sort_index){
		if(confirm("取消置顶该房间吗？")){
			$.get("__URL__/cancelSettopRoom",{room_id:room_id,sort_index:sort_index},function(data){
				alert(data.msg);
				if(data.status=="200"){
					window.location.reload();
				}
			},"json");
		}
	}
	function reflushRoom(room_id,sort_index){
		if(confirm("刷新后排名靠前，确定操作吗？")){
			$.get("__URL__/reflushTopRoom",{room_id:room_id,sort_index:sort_index},function(data){
				alert(data.msg);
				if(data.status=="200"){
					//window.location.reload();
				}
			},"json");
		}
	}
</script>
<script type="text/javascript">
    $(document).ready(function () {
    	$('.movefirst').bind('click', function (e) {
            var obj = $(e.target).closest('tr');
            c_to_first($(obj[0]));
        });
        $('.moveup').bind('click', function (e) {
            var obj = $(e.target).closest('tr');
            c_pre($(obj[0]));
        });
        $('.movedown').bind('click', function (e) {
            var obj = $(e.target).closest('tr');
            c_next($(obj[0]));
        });
    });
    function c_to_first(o) {
        var pres = o.prevAll('tr');
        if (pres.length > 0) {
            /*roomid,sort*/
            var roomid=$(o).find('td.roomid').find('input').val();
            var sortindex=$(o).find('td.sortindex').text();
            $.get("__URL__/setRoomTopFirst",{room_id:roomid,sort_index:sortindex},function(data){
            	alert(data.msg);
            	document.location.reload();
            },"json");
        }
    }
    function c_pre(o) {
        var pres = o.prevAll('tr');
        if (pres.length > 0) {
            var tmp = o.clone(true);
            var oo = pres[0];
            /*roomid,sort*/
            var roomidOne=$(oo).find('td.roomid').find('input').val();
            var roomidTwo=$(o).find('td.roomid').find('input').val();
            var sortOne=$(oo).find('td.sortindex').text();
            var sortTwo=$(o).find('td.sortindex').text();
            $.get("__URL__/moveUpDownTopRoom",{room_id:roomidOne,sort_index:sortTwo,room_id2:roomidTwo,sort_index2:sortOne},function(data){
            	if(data.status!="200"){
            		alert(data.msg);
            	}
            },"json");
            $(tmp).find('td.sortindex').text(sortOne);
            $(oo).find('td.sortindex').text(sortTwo);
            o.remove();
            $(oo).before(tmp);
        }
    }
    function c_next(o) {
        var nexts = o.nextAll('tr');
        if (nexts.length > 0) {
            var tmp = o.clone(true);
            var oo = nexts[0];
            /*roomid,sort*/
            var roomidOne=$(oo).find('td.roomid').find('input').val();
            var roomidTwo=$(o).find('td.roomid').find('input').val();
            var sortOne=$(oo).find('td.sortindex').text();
            var sortTwo=$(o).find('td.sortindex').text();
            $.get("__URL__/moveUpDownTopRoom",{room_id:roomidOne,sort_index:sortTwo,room_id2:roomidTwo,sort_index2:sortOne},function(data){
            	if(data.status!="200"){
            		alert(data.msg);
            	}
            },"json");
            $(tmp).find('td.sortindex').text(sortOne);
            $(oo).find('td.sortindex').text(sortTwo);
            o.remove();
            $(oo).after(tmp);
        }
    }
    function c_end(o) {
        var nexts = o.nextAll('tr.queue');
        if (nexts.length > 0) {
            var tmp = o.clone(true);
            var oo = nexts[nexts.length - 1];
            o.remove();
            $(oo).after(tmp);
        }
    }
    function addToQue(e) {
        var otd = $(e).closest('td');
        var otr = $(e).closest('tr');
        $(otd).empty();
        $(otr).find('td.sort').append($('#MovContHid').children().clone(true));
        $(otr).attr('class', "queue");
        $(otr).find('.status').html('排队等候');
        var checkStr = "";
        if ($('#CheckAll').attr('checked')) checkStr = 'checked="checked"';
        $(otr).find('td.sel').html('<input type="checkbox" ' + checkStr + '/>');
        c_end($(otr));
        return false;
    }
    function removeTR() {
        $('tr.queue>td.sel>:input:checked').closest('tr').remove();
    }
</script>
</html>
