<html>
<head>
	<meta charset="utf-8">
	<title>新增置顶</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>置顶查询</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/toproomedit" method="get">
						<input type="hidden" name="no" value="3">
						<input type="hidden" name="leftno" value="145">
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">置顶类型</td>
								<td class="td_main">
									<select name="rent_type">
										<option value="1">合租</option>
										<option value="2">整租</option>
										<option value="3">公寓</option>
									</select>
								</td>
								<td class="td_title">置顶位</td>
								<td class="td_main">
									<select name="top_type">
										<option value="">全部</option>
										<option value="2">全城</option>
										<option value="3">行政区</option>
										<option value="4">商圈</option>
										<option value="5">地铁线</option>
										<option value="6">地铁站</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">行政区</td>
								<td class="td_main">
									<select id="ddl_region" name="region">
										<option value=""></option>
										{$regionList}
									</select>
								</td>
								<td class="td_title">商圈</td>
								<td class="td_main">
									<select id="ddl_scope" name="scope">
										{$scopeList}
									</select></td>
							</tr>
							<tr>
								<td class="td_title">地铁线</td>
								<td class="td_main">
									<select id="ddl_subwayline" name="subwayline_id">
										<option value=""></option>
										{$subwaylineList}
									</select>
								</td>
								<td class="td_title">地铁站</td>
								<td class="td_main">
									<select id="ddl_subway" name="subway_id">
										{$subwayList}
									</select>
								</td>
							</tr>
						</table>
					</form>
					<p class="head_p"><button class="btn_a" id="btnSearch">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2><m style="font-weight:normal;">房间编号&nbsp;</m><input type="text" id="addRoomno" style="width:200px;height:28px;">&nbsp;&nbsp;<a style="margin-left:150px;display:none;" href="#" class="btn_a" id="addToproomBtn">新增置顶</a>&nbsp;</h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>房间编号</th><th>小区名称</th><th>租金</th>
								<th>置顶位</th>
								<th>行政区</th><th>商圈</th>
								<th>地铁线</th><th>地铁站</th>
								<th>排序</th>
								<th>创建人</th>
								<th>创建时间</th>
								<th>取消置顶</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td data-id="{$vo.id}" data-sort="{$vo.is_top}">{$vo.room_no}</td><td>{$vo.estate_name}</td><td>{$vo.room_money}</td>
								<td><switch name="vo.top_type">
									<case value="1">首页</case>
									<case value="2">全城</case>
									<case value="3">行政区</case>
									<case value="4">商圈</case><case value="5">地铁线</case><case value="6">地铁站</case>
								</switch></td>
								<td><if condition="$vo.top_type eq 3 or $vo.top_type eq 4">{$vo.region_name}</if></td>
								<td><if condition="$vo.top_type eq 4">{$vo.scope_name}</if></td>
								<td><if condition="$vo.top_type eq 5 or $vo.top_type eq 6">{$vo.subwayline_name}</if></td>
								<td><if condition="$vo.top_type eq 6">{$vo.subway_name}</if></td>
								<td><a href="javascript:;" class="moveup"><img src="__PUBLIC__/images/up.png" alt=""></a>&nbsp;&nbsp;<a href="javascript:;" class="movedown"><img src="__PUBLIC__/images/down.png" alt=""></a></td>
								<td>{$vo.create_man}</td>
								<td><if condition="($vo.toproom_createtime gt 0)">{$vo.toproom_createtime|date="Y-m-d H:i",###}</if></td>
								<td><a href="javascript:;" onclick="cancelSettopRoom('{$vo.id}','{$vo.room_id}',{$vo.top_type},this)">取消置顶</a></td>
							</tr>
							</foreach>
						</tbody>
					</table>
				
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
var topType="{$condition['top_type']}";
$("select[name='rent_type']").val("{$condition['rent_type']}");
if("{$condition['is_gongyu']}"=='1'){
	$("select[name='rent_type']").val("3");
}
$("select[name='top_type']").val(topType);
$("#ddl_region").val("{$condition['region']}");
$("#ddl_scope").val("{$condition['scope']}");
$("#ddl_subwayline").val("{$condition['subwayline_id']}");
$("#ddl_subway").val("{$condition['subway_id']}");

if(topType=='5'){
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",false);
	$("#ddl_subway").attr("disabled",true);
	if($("#ddl_subwayline").val()!=''){
		$("#addToproomBtn").show();
	}
}else if(topType=='6'){
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",false);
	$("#ddl_subway").attr("disabled",false);
	if($("#ddl_subway").val()!=''){
		$("#addToproomBtn").show();
	}
}else if(topType=='3'){
	$("#ddl_region").attr("disabled",false);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
	if($("#ddl_region").val()!=''){
		$("#addToproomBtn").show();
	}
}else if(topType=='4'){
	$("#ddl_region").attr("disabled",false);
	$("#ddl_scope").attr("disabled",false);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
	if($("#ddl_scope").val()!=''){
		$("#addToproomBtn").show();
	}
}else if(topType=='2'){
	$("#addToproomBtn").show();
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
}else{
	$("#ddl_region").attr("disabled",true);
	$("#ddl_scope").attr("disabled",true);
	$("#ddl_subwayline").attr("disabled",true);
	$("#ddl_subway").attr("disabled",true);
}

	$("#btnSearch").click(function(){
		$(this).unbind('click').text('搜索中');
		$("#searchForm").submit();
	});

	//商圈下拉联动
	$("#ddl_region").change(function(){
		if($(this).val()=="" || $("select[name='top_type']").val()==3){
			$("#ddl_scope").html("");
			return;
		}
		$.get("__URL__/getScopes",{region_id:$(this).val()},function(data){
			$("#ddl_scope").html(data);
		},"html");
	});
	//下拉联动(地铁线)
	$("#ddl_subwayline").change(function(){
		if($(this).val()=="" || $("select[name='top_type']").val()==5){
			$("#ddl_subway").html("");
			return;
		}
		$.get("__ROOT__/Estate/getSubwayByLine",{subwayline_id:$(this).val()},function(data){
			$("#ddl_subway").html(data);
		},"html");
	});
	/*新增置顶*/
	$("#addToproomBtn").click(function(){
		submit_addToproom();
	});
	function submit_addToproom(){
		var roomno=$("#addRoomno").val().replace(/\s+/g,"");
		if(roomno==""){
		    alert("请输入房间编号！");return false;
		}
		var toptype=$("select[name='top_type']").val();
		if(toptype==""){
		    alert("请选择置顶位！");return false;
		}
		if(toptype==3 && $("#ddl_region").val()==''){
			alert("行政区置顶，请选中行政区。");return false;
		}else if(toptype==4 && $("#ddl_scope").val()==''){
			alert("商圈置顶，请选中商圈。");return false;
		}else if(toptype==5 && $("#ddl_subwayline").val()==''){
			alert("地铁线置顶，请选中地铁线。");return false;
		}else if(toptype==6 && $("#ddl_subway").val()==''){
			alert("地铁站置顶，请选中地铁站。");return false;
		}
		$("#addToproomBtn").unbind("click").text("提交中");
		$.post("__URL__/addToproom",{room_no:roomno,top_type:toptype,rent_type:$("select[name='rent_type']").val(),
			region:$("#ddl_region").val(),scope:$("#ddl_scope").val(),subwayline:$("#ddl_subwayline").val(),subway:$("#ddl_subway").val()},function(data){
			alert(data.msg);
			if(data.status=="200"){
				window.location.reload();
			}else{
				$("#addToproomBtn").bind("click",function(){
					submit_addToproom();
				}).text("新增置顶");
			}
		},"json");
	}
	function cancelSettopRoom(pid,roomId,topType,obj){
		if(confirm("确认取消置顶吗？")){
			$.get("__URL__/unsetToproom",{id:pid,room_id:roomId,top_type:topType},function(data){
				alert(data.msg);
				if(data.status=="200"){
					$(obj).parent().parent().remove();
				}
			},"json");
		}
	}
	$("select[name='top_type']").change(function(){
		var topType=$(this).val();
		if(topType=='3'){
			$("#ddl_region").attr("disabled",false);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",true);
			$("#ddl_subway").attr("disabled",true);
		}else if(topType=='4'){
			$("#ddl_region").attr("disabled",false);
			$("#ddl_scope").attr("disabled",false);
			$("#ddl_subwayline").attr("disabled",true);
			$("#ddl_subway").attr("disabled",true);
		}else if(topType=='5'){
			$("#ddl_region").attr("disabled",true);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",false);
			$("#ddl_subway").attr("disabled",true);
		}else if(topType=='6'){
			$("#ddl_region").attr("disabled",true);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",false);
			$("#ddl_subway").attr("disabled",false);
		}else{
			$("#ddl_region").attr("disabled",true);
			$("#ddl_scope").attr("disabled",true);
			$("#ddl_subwayline").attr("disabled",true);
			$("#ddl_subway").attr("disabled",true);
		}
	});

</script>
<script type="text/javascript">
    $(document).ready(function () {
    	$('.movefirst').bind('click', function (e) {
            var obj = $(e.target).closest('tr');
            //c_to_first($(obj[0]));
        });
        $('.moveup').bind('click', function (e) {
            var obj = $(e.target).closest('tr');
            c_pre($(obj[0]));
        });
        $('.movedown').bind('click', function (e) {
            var obj = $(e.target).closest('tr');
            c_next($(obj[0]));
        });
    });
  
    function c_pre(o) {
        var pres = o.prevAll('tr');
        if (pres.length > 0) {
            var tmp = o.clone(true);
            var oo = pres[0];
            /*id,sort*/
            var idOne=$(oo).find('td:eq(0)').attr('data-id');
            var idTwo=$(o).find('td:eq(0)').attr('data-id');
            var sortOne=$(oo).find('td:eq(0)').attr('data-sort');
            var sortTwo=$(o).find('td:eq(0)').attr('data-sort');
            $.get("__URL__/moveUpDownTopRoom_v2",{id:idOne,sort_index:sortTwo,id2:idTwo,sort_index2:sortOne},function(data){
            	if(data.status!="200"){
            		alert(data.msg);
            	}
            },"json");
            $(tmp).find('td:eq(0)').attr('data-sort',sortOne);
            $(oo).find('td:eq(0)').attr('data-sort',sortTwo);
            o.remove();
            $(oo).before(tmp);
        }
    }
    function c_next(o) {
        var nexts = o.nextAll('tr');
        if (nexts.length > 0) {
            var tmp = o.clone(true);
            var oo = nexts[0];
            /*id,sort*/
            var idOne=$(oo).find('td:eq(0)').attr('data-id');
            var idTwo=$(o).find('td:eq(0)').attr('data-id');
            var sortOne=$(oo).find('td:eq(0)').attr('data-sort');
            var sortTwo=$(o).find('td:eq(0)').attr('data-sort');
            $.get("__URL__/moveUpDownTopRoom_v2",{id:idOne,sort_index:sortTwo,id2:idTwo,sort_index2:sortOne},function(data){
            	if(data.status!="200"){
            		alert(data.msg);
            	}
            },"json");
            $(tmp).find('td:eq(0)').attr('data-sort',sortOne);
            $(oo).find('td:eq(0)').attr('data-sort',sortTwo);
            o.remove();
            $(oo).after(tmp);
        }
    }
    function c_end(o) {
        var nexts = o.nextAll('tr.queue');
        if (nexts.length > 0) {
            var tmp = o.clone(true);
            var oo = nexts[nexts.length - 1];
            o.remove();
            $(oo).after(tmp);
        }
    }
    function addToQue(e) {
        var otd = $(e).closest('td');
        var otr = $(e).closest('tr');
        $(otd).empty();
        $(otr).find('td.sort').append($('#MovContHid').children().clone(true));
        $(otr).attr('class', "queue");
        $(otr).find('.status').html('排队等候');
        var checkStr = "";
        if ($('#CheckAll').attr('checked')) checkStr = 'checked="checked"';
        $(otr).find('td.sel').html('<input type="checkbox" ' + checkStr + '/>');
        c_end($(otr));
        return false;
    }
    function removeTR() {
        $('tr.queue>td.sel>:input:checked').closest('tr').remove();
    }
</script>
</html>
