<html>
<head>
	<meta charset="utf-8">
	<title>修改账户</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">

</head>
<body>
<include file="Public/head_city" />
     <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li class="cur"><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			<ul class="navContent" style="display:block">
				<li><a href="#">首页</a></li>
				<li><a href="{:U('Welcome/upPasswordPage')}">修改密码</a></li>
				<li  class="show"><a href="{:U('Welcome/upaccount')}">修改账户</a></li>
			</ul>
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>修改账户</h2>
			</div>
			<div class="common_main">
					<table class="table_one table_two">
						<tr>
							<td class="td_title"><span>*</span>账户名：</td>
							<td class="td_main"><?php echo cookie("admin_user_name");?></td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>员工工号：</td>
							<td class="td_main"><input type="text"  name="number" value="{$data['staffid']}"></td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>员工姓名:</td>
							<td class="td_main"><input type="text" name="name" value="{$data['real_name']}"></td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>员工手机号：</td>
							<td class="td_main"><input type="tel" name="mobile" maxlength="11" value="{$data['mobile']}"></td>
						</tr>
						<tr>
							<td class="td_title"><span>*</span>邮箱：</td>
							<td class="td_main"><input type="text" name="email" value="{$data['email']}"></td>
						</tr>
					<!-- 	<tr>
							<td class="td_title"><span>*</span>城市：</td>
							<td class="td_main">
							<select name="city_code" id="city_code">
									<option value="">请选择</option>
									<option value="001009001" <?php if($data['city_code']=="001009001"){echo"selected";}?>>上海</option>
									<option value="001001" <?php if($data['city_code']=="001001"){echo"selected";}?>>北京</option>
									<option value="001011001" <?php if($data['city_code']=="001011001"){echo"selected";}?>>杭州</option>
							</select>
							</td>
						</tr> -->
					</table>
					<div class="addhouse_last addhouse_last_room">
						<button class="btn_a" onclick="return check();">确定提交</button>
					</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	/*提交表单*/
 function check(){
 	    var number=$("input[name='number']").val();
	    var name=$("input[name='name']").val();
	    var mobile=$("input[name='mobile']").val();
	    var email=$("input[name='email']").val();
	    var city_code=$("#city_code").val();
	    var re = /^(\w-*\.*)+@hizhu+(\.\w{2,})+$/;
	    var renum =new RegExp("^[0-9]*$");
	     var isMobile=/^1[34578]\d{9}$/;
        if(number==""){
		   alert("请输入员工号");
		   return false;
	   }else if(number!=""&& !renum.test(number)){
		   alert("请正确输入员工号");
		   return false;
	   }else if(name==""){
		   alert("请输入员工姓名");
		   return false;
	   }else if(!isMobile.test(mobile)){
		   alert("请正确输入手机号");
		   return false;
	   }else if(email==""){
		   alert("请输入邮箱地址");
		   return false;
	   }else if(email!=""&& !re.test(email)){
		   alert("请正确输入邮箱");
		   return false;
	   }else{
		   $.get("__URL__/subaccount.html",{number:number,name:name,mobile:mobile,email:email,city_code:city_code},function(data){
    	   	 if(data.status==200){
    	   	 	    alert("修改成功");
    	   		   ocation.reload();
    	   	 }else if(data.status==201){
    	   	 	alert("未做任何修改");
    	   	 }
			},"json");
	   } 
   }
</script>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>
