<html>
<head>
	<meta charset="utf-8">
	<title>批量操作房源</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
			<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>批量操作</h2>
			</div>
			<div class="common_main">
				<form method="post" action="__URL__/batchhandlehouse_submit">
				<input type="hidden" name="handle_type" >
				<table class="table_one ">
					
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><textarea id="room_no" name="room_no" style="height:400px;width:800px;"></textarea><br>以逗号分割(中英文都可)，最多1000条</td>
					</tr>
					
					<tr>
						<td class="td_title">删除理由：</td>
						<td class="td_main">
							<select name="delete_type" style="width:250px;height:36px;">
								<option value="0"></option>
								<option value="1">骗子/钓鱼/微商</option>
								<option value="2">房源重复</option>
								<option value="3">商务需求</option>
								<option value="4">中介</option>
								<option value="5">图片/地址/电话问题</option>
								<option value="6">其他</option>
							</select>
						</td>
					</tr>
					
				</table>
				</form>
			</div>
			<div style="padding:20px;text-align:center;"><a href="javascript:;" class="btn_a" id="btnDown">下架</a>&nbsp;&nbsp;<a href="javascript:;" class="btn_a" id="btnDelete">删除</a>&nbsp;&nbsp;<a href="javascript:;" class="btn_a" id="btnRefresh">刷新</a></div>
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
/*下架 */
$('#btnDown').bind('click',function(){
	if($("#room_no").val()==''){
		alert("请输入房间编号");return;
	}
	if(confirm('确认下架？')){
		$("input[name='handle_type']").val('1');
		$(this).unbind('click').text('提交中');
		$("form").submit();
	}
});
/*删除 */
$('#btnDelete').bind('click',function(){
	if($("#room_no").val()==''){
		alert("请输入房间编号");return;
	}
	if($("select[name='delete_type']").val()=='0'){
		alert("请选择删除理由");return;
	}
	if(confirm('确认删除？')){
		$("input[name='handle_type']").val('2');
		$(this).unbind('click').text('提交中');
		$("form").submit();
	}
});
/*刷新 */
$('#btnRefresh').bind('click',function(){
	if($("#room_no").val()==''){
		alert("请输入房间编号");return;
	}
	if(confirm('确认刷新？')){
		$("input[name='handle_type']").val('3');
		$(this).unbind('click').text('提交中');
		$("form").submit();
	}
});
</script>
</html>
