<html>
<head>
	<meta charset="utf-8">
	<title>数据监控</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
    <style type="text/css">
   .js_days{display: none;}
    </style>
</head>
<body>
<include file="Public/head_city" />
      <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			
				<div class="common_main">
				<h2>数据监控列表</h2>
				<div class="table">
					<div style="padding:10px;background:#fff;">
						<p style="height:24px;line-height:24px;margin:10px 0;">更新时间：<span style="font-weight:bold;"><?php echo date("Y年m月d日",time());?>&nbsp;<?php echo date("H:i:s",time());?></span></p>
						<p style="height:24px;line-height:24px;margin:10px 0;" class="cf"><span class="fl" style="width:200px;">今日发送数：<em style="color:#333;font-style:normal;font-weight:bold;"><?php echo $pushcount[0]['count']?></em></span><span class="fl" style="width:200px;">今日回复数：<em style="color:#333;font-style:normal;font-weight:bold;"><?php echo $replycount[0]['count']?></em></span><span class="fl" style="width:200px;">当前回复率：<em style="color:#333;font-style:normal;font-weight:bold;"><?php echo round((float)($replycount[0]['count']/$pushcount[0]['count'])*100,2);?>%</em></span><!-- <span class="fl" style="width:200px;">昨日回复率：<em style="color:#333;font-style:normal;font-weight:bold;">xxxx</em></span> --></p>
					</div>

					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>设备号码</th>
								<th>当前回复率</th>
								<th>发送数</th>
								<th>回复数</th>
								<th>当日回复数</th>
								<th>暂停</th>
							</tr>
						</thead>
						<tbody>
						<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['mobile']}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<if condition="$vo['is_close'] eq '1'">
								<td><a href="javascript:;" onclick="setClose('{$vo['mobile']}',0)">取消暂停</td>
								<else/>
								<td><a href="javascript:;" onclick="setClose('{$vo['mobile']}',1)">暂停</td>
							    </if>
								<input name="mobile" type="hidden" value="{$vo['mobile']}">
							</tr>
						</volist>
						</tbody>
					</table>
				  
				</div>
			</div>
			</div>
			
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
  $(".table table tr").each(function(index,object){
    var mobile=$(object).find("input[name='mobile']").val();
      if(mobile!="undefined"&&mobile!=""){
	    $.get("__URL__/monitorcount.html",{mobile:mobile,index:index},function(data){
		      var replyrate=data.replyrate;
		      var pushcount=data.pushcount;
		      var replycount=data.replycount;
		      var currentcountday=data.currentcountday;
	          $(".table table").find("tr:eq("+index+")").children("td:eq(2)").text(replyrate+'%');
	          $(".table table").find("tr:eq("+index+")").children("td:eq(3)").text(pushcount);
	          $(".table table").find("tr:eq("+index+")").children("td:eq(4)").text(replycount);
	          $(".table table").find("tr:eq("+index+")").children("td:eq(5)").text(currentcountday);
		  },"json");
	    }
	});

  function setClose(mobile,close){
  	if(confirm("确认提交？")){
  	  	$.get("__URL__/updataiscolse.html",{mobile:mobile,close:close},function(data){
		      if(data.status==200){
		      		 location.reload(); 
		      }
		  },"json");
     }
  }
</script>
</body>
</html>
