<html>
<head>
	<meta charset="utf-8">
	<title>未回复列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
    <style type="text/css">
   .js_days{display: none;}
    </style>
</head>
<body>
<include file="Public/head_city" />
      <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>未回复搜索</h2>
				<form action="__URL__/notreply.html?no=141&leftno=143" method="get">
					<input type="hidden" name="no" value="141">
					<input type="hidden" name="leftno" value="143">
					<table class="table_one">
						<tr>
							<td class="td_title">处理状态：</td>
							<td class="td_main">
								<select name="handlestatus">
								<option value="0" <?php if(strlen($_GET['handlestatus'])==1&&$_GET['handlestatus']!=1){echo "selected";}?>>未处理</option>
									<option value="1" <?php if($_GET['handlestatus']==1){echo "selected";}?>>已处理</option>
								</select>	
							</td>
							<td class="td_title">发送时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo $_GET['startTime'];?>">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="<?php echo $_GET['endTime'];?>"></td>
						   <td class="td_title">接收手机：</td>
							<td class="td_main"><input type="text" name="mobile" value="<?php echo I('get.mobile');?>"/></td>
						</tr>
						<tr>
							<td class="td_title">发送手机：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="sendno" value="<?php echo I('get.sendno');?>"></td>
							<td class="td_title" >操作状态：</td>
							<td class="td_main">
								<select name="opstatus">
									<option value="">全部</option>
									<option value="1" <?php if($_GET['opstatus']==1){echo"selected";}?>>已出租</option>
									<option value="2" <?php if($_GET['opstatus']==2){echo"selected";}?>>更新房间</option>
								</select>
							</td>
						   <td class="td_title"></td>
						   <td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button class="btn_a">搜索</button></p>
				 </form>
				  
				</div>
				<div class="common_main">
				<h2>未回复列表<a href="__URL__/downloadExcel1.html?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a">下载</a></h2>

				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>房间编号</th>
								<th>房间名称</th>
								<th>价格</th>
								<th>创建日期</th>
								<th>更新日期</th>
								<th>数据来源</th>
								<th>发送手机号</th>
								<th>接收手机号</th>
								<th>发送短信</th>
								<th>查看房源</th>
								<th>职业房东</th>
								<th>已出租</th>
								<th>更新房间</th>
								<th>发送时间</th>  
							</tr>
						</thead>
						<tbody>
						<volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>{$vo['send_no']}</td>
								<td>{$vo['mobile']}</td>
								<td>{$vo['content']}</td>
								<td></td>
								<td></td>
								<td></td>
								<if condition="$vo['log_update'] eq '1'">
								<td>更新房间</td>
								<else/>
								<td><a href="javascript:;" onclick="upHouse('<?php echo$vo['room_id'];?>','<?php echo$vo['id'];?>');">更新房间</a></td>
								</if>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								
								<input name="id" type="hidden" value="{$vo['id']}">
								<input name="room_id" type="hidden" value="{$vo['room_id']}">
								<input name="ownermobile" type="hidden" value="{$vo['mobile']}">
							</tr>
						</volist>
						</tbody>
					</table>
				        <div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页5条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
			</div>
			
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
</script>
<script type="text/javascript">
    $(".table table tr").each(function(index,object){
    	var id=$(object).find("input[name='id']").val();
    	var room_id=$(object).find("input[name='room_id']").val();
    	var reply='<?php echo $_GET['reply']?>';
    	if(room_id!="undefined"&&room_id!=""){
	        $.get("__URL__/jsonhouseroom.html",{room_id:room_id,index:index},function(data){
	        		
					if(data!=null){	
						$(".table table").find("tr:eq("+index+")").children("td:eq(10)").html('<a href="__APP__/HouseResource/addresource?resource_id='+data.resource_id+'" target="_blank">查看房源</a>');
						$(".table table").find("tr:eq("+index+")").children("td:eq(1)").html('<a href="__APP__/HouseRoom/modifyroom?no=3&leftno=44&room_id='+room_id+'&handle=search" target="_blank">'+data.room_no+'</a>');
						$(".table table").find("tr:eq("+index+")").children("td:eq(2)").text(data.room_name);
						$(".table table").find("tr:eq("+index+")").children("td:eq(3)").text(data.room_money);
						$(".table table").find("tr:eq("+index+")").children("td:eq(4)").text(data.create_time);
					    $(".table table").find("tr:eq("+index+")").children("td:eq(5)").text(data.update_time);
					    $(".table table").find("tr:eq("+index+")").children("td:eq(6)").text(data.info_resource);
					   if(data.status==3){
					   	   	     $(".table table").find("tr:eq("+index+")").children("td:eq(12)").text("已出租");
						   		 $(".table table").find("tr:eq("+index+")").children("td:eq(13)").text("更新房间");
					   }else if(data.status==2){
					   	     	$(".table table").find("tr:eq("+index+")").children("td:eq(12)").html('<a href="javascript:;" onclick="yetRent('+"'"+id+"','"+room_id+"'"+');">已出租</a>');
					   	    // $(".table table").find("tr:eq("+index+")").children("td:eq(10)").html('<a href="javascript:;" onclick="upHouse('+"'"+room_id+"'"+');">更新房间</a>');
					   }
					}
				},"json");
	    }
	});

 function yetRent(id,roomid){
 	  if(confirm("确认更新房间状态为已出租？")){
     		$.get("__URL__/uphouserroom.html",{id:id,roomid:roomid,uptype:1},function(data){
    	   		  if(data.status==200){
    	   			     location.reload(); 
    	   			}
				},"json");
     	}
     }
     function upHouse(roomid,id){
     	if(confirm("确认更新房间时间？")){
     		$.get("__URL__/uphouserroom.html",{roomid:roomid,id:id,uptype:2},function(data){
    	   			 if(data.status==200){
    	   			     location.reload(); 
    	   			 }
				},"json");
     	}
     }

   function upLogHouse(roomid,id){
   		if(confirm("确认更新房间时间？")){
     		$.get("__URL__/uploghouserroom.html",{roomid:roomid,id:id},function(data){
    	   			 if(data.status==200){
    	   			     location.reload(); 
    	   			 }
				},"json");
     	}
   }

  $(".table table tr").each(function(index,object){
  	var reply='<?php echo $_GET['reply']?>';
    var ownermobile=$(object).find("input[name='ownermobile']").val();
      if(ownermobile!="undefined"&&ownermobile!=""){
	    $.get("__URL__/professionalowner.html",{ownermobile:ownermobile,index:index},function(data){
	      var is_owner=data.is_owner;
	      var id=data.id;
	      var source=data.source;
	       if(is_owner==4){
	          $(".table table").find("tr:eq("+index+")").children("td:eq(11)").text("职业房东");
	       }else if(is_owner==9){
	       	  $(".table table").find("tr:eq("+index+")").children("td:eq(11)").text("疑似职业房东");
	       }else{	
		      	/*疑似职业房东*/
		      	 $(".table table").find("tr:eq("+index+")").children("td:eq(11)").html('<a href="#" onclick="confirmJobowner(\''+ownermobile+'\')">疑似职业房东</a>');
	       }

		  },"json");
	    }
	});

  function prOwner(id,ownermobile){
  	if(confirm("确认设置为职业房东？")){
     	$.get("__URL__/upprowner.html",{id:id,ownermobile:ownermobile},function(data){
    	   	 if(data.status==200){
    	   	     location.reload(); 
    	   	 }
		},"json");
     }
  }
  function confirmJobowner(ownermobile){
     	$.get("__URL__/setConfirmJobowner?ownermobile="+ownermobile,function(data){
			alert(data);
			location.reload(); 
		});
  }

</script>
</body>
</html>
