<html>
<head>
	<meta charset="utf-8">
	<title>端口信息新增页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>端口信息</h2>
			</div>

			<div class="common_main">
				<!-- 表单 -->
				<form method="post" action="__URL__/middlemanPortAddInfo.html">	
				<table class="table_one table_two">	
					<input type="hidden" name="customer_id" value="{$id}">
					<tr>
						<td class="td_title"><span>*</span>启用时间：</td>
						<td class="td_main"><input class="inpt_a" type="text" name="service_start"></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>端口时长：</td> 
						<td>
							<div style="margin:10px 20px">
								类型：<label><input type="radio" name="service_type" value="0" checked>天</label>
								<label><input type="radio" name="service_type" value="1">月</label>
							</div>
							<div style="margin:10px 20px">
								数量：<input type="text" name="service_time">
							</div>
						</td>
					</tr>
					<tr>
						<td class="td_title">承诺效果：</td> 
						<td><input type="text" name="links_num" maxlength="3" style="width:120px;">&nbsp;链接数</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>在架房源数量：</td> 
						<td><input type="text" name="house_limit" maxlength="4" style="width:120px;" value="70">&nbsp;条</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>端口金额：</td> 
						<td><input type="text" name="price" maxlength="6" style="width:120px;">&nbsp;元</td>
					</tr>
					<tr>
						<td class="td_title">备注：</td>
						<td class="td_main">
							<label><textarea name="memo" maxlength="255"></textarea></label>
						</td>
					</tr>
				</table>
				</form>
				<div class="addhouse_last addhouse_last_room"><a href="javascript:;" class="btn_a">提交</a></div>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
	$(".inpt_a").datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2016,yearEnd:2020,format:"Y-m-d"});
	$(".btn_a").click(function(){
		submitData();
	});
	function submitData()
	{
	    if($("input[name='service_start']").val() == ""){
		  	return alert("请选择启用时间");
	    } else if($("input[name='service_time']").val() == "") {
	    	return alert("请填写端口时长");
	    } else if($("input[name='house_limit']").val() == "") {
	    	return alert("请填写在架房源数量");
	    } else if($("input[name='price']").val() == "") {
	    	return alert("请填写端口金额");
	    } else {
			$(".btn_a").unbind('click').text('提交中');
			$('form').submit();
		}
	}
</script>
</html>
