<html>
<head>
	<meta charset="utf-8">
	<title>新增预约</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
	<div class="main">
		
		<div class="main_right">
			<div class="common_main">
				<form method="post" action="__URL__/saveAppointadd">
				<div  style="font-size:16px;margin:20px 0 10px 10px;">新增信息</div>
				<table class="table_one" style="margin:10px 0 30px 10px;width:90%;">
					<tr>
						<td class="td_title">短信模版：</td>
						<td class="td_main" colspan="3">
							<select name="moduleType"><option value='1'>默认</option><option value='2'>400号码</option></select>
						</td>
					</tr>
					<tr>
						<td class="td_title">租客手机号：</td>
						<td class="td_main" colspan="3">
							<input type="text" name="mobile">
						</td>
					</tr>
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><input type="text" name="room_no_1" style="width:90%"></td>
						<td class="td_title">看房时间：</td>
						<td class="td_main">
							<input class="inpt_a" type="text" name="look_date_1">&nbsp;<select name="look_hour_1"  style="width:50px"><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option></select>&nbsp;<select name="look_minute_1" style="width:50px"><option>00</option><option>15</option><option>30</option><option>45</option></select>
						</td>
					</tr>
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><input type="text" name="room_no_2" style="width:90%"></td>
						<td class="td_title">看房时间：</td>
						<td class="td_main">
							<input class="inpt_a" type="text" name="look_date_2">&nbsp;<select name="look_hour_2" style="width:50px"><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option></select>&nbsp;<select name="look_minute_2" style="width:50px"><option>00</option><option>15</option><option>30</option><option>45</option></select>
						</td>
					</tr>
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><input type="text" name="room_no_3" style="width:90%"></td>
						<td class="td_title">看房时间：</td>
						<td class="td_main">
							<input class="inpt_a" type="text" name="look_date_3">&nbsp;<select name="look_hour_3" style="width:50px"><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option></select>&nbsp;<select name="look_minute_3" style="width:50px"><option>00</option><option>15</option><option>30</option><option>45</option></select>
						</td>
					</tr>
				</table>
				</form>
			</div>
			<div style="margin-left:35%;"><a href="javascript:;" class="btn_a">提交</a></div>
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
 <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$('.inpt_a').datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2018,format:"Y-m-d"});
$('.btn_a').bind('click',function(){
	var regPhone=/^1[34578]\d{9}$/;
	if(!regPhone.test($("input[name='mobile']").val())){
		alert("请输入有效的手机号");return;
	}
	if($("input[name='room_no_1']").val()==''){
		alert("请输入房间编号");return;
	}
	if($("input[name='look_date_1']").val()==''){
		alert("请输入看房时间");return;
	}
	$(this).unbind('click').text('提交中');
	$("form").submit();
});
</script>
</html>
