<html>
<head>
	<meta charset="utf-8">
	<title>未处理预约</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body onload="reflushMessage()">
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>未处理预约</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/handlelist" method="get">
						<input type="hidden" name="no" value="87">
						<input type="hidden" name="leftno" value="90">
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">预约提交时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" value="<?php echo I('get.startTime') ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime" value="<?php echo I('get.endTime') ?>"></td>
								<td class="td_title">预约人手机：</td>
								<td class="td_main"><input type="text" name="mobile" value="<?php echo I('get.mobile') ?>"></td>
								<td class="td_title">房东手机：</td>
								<td class="td_main"><input type="text" name="clientPhone" value="<?php echo I('get.clientPhone') ?>"></td>
								
							</tr>
							<tr>
								<td class="td_title">预约看房时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime_look" value="<?php echo I('get.startTime_look'); ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime_look" value="<?php echo I('get.endTime_look'); ?>"></td>
								<td class="td_title">房间编号：</td>
								<td class="td_main"><input type="text" name="roomNo" value="<?php echo I('get.roomNo') ?>"></td>
								<td class="td_title">内/外部人员：</td>
								<td class="td_main">
									<select id="is_my" name="is_my">
										<option value="all">全部</option>
										<option value="1">内部人员</option>
										<option value="0">外部人员</option>
									</select>
								</td>
							</tr>
							
						</table>
					</form>
					<p class="head_p"><button class="btn_a" id="btnSearch">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
			<!-- <h2><button id="handleSelect" class="btn_a">处理所有勾选</button></h2> -->
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>外部链接</th>
								<th>预约人姓名</th>
								<th>预约人手机</th>
								<th>预约房源</th>
								<th>预约房间</th>
								<th>房东手机</th>
								<th>是否佣金</th><th>是否包月</th><th>房间来源</th>
								<th>房东姓名</th>
								<th>预约提交时间</th>
								<th>预约看房时间</th>
								<th>状态</th><th>来源</th><th>人员</th><th>开始处理</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
						
							<switch name="vo.city_code"><case value="001009001"><td><a href="http://www.hizhu.com/shanghai/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001001"><td><a href="http://www.hizhu.com/beijing/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001011001"><td><a href="http://www.hizhu.com/hangzhou/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001010001"><td><a href="http://www.hizhu.com/nanjing/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001019001"><td><a href="http://www.hizhu.com/guangzhou/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001019002"><td><a href="http://www.hizhu.com/shenzhen/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><default><td></td><td></td></default></switch>
								<td>{$vo.customer_name}</td>
								<td>{$vo.customer_mobile}</td>
								<td><a href="__ROOT__/HouseResource/addresource?resource_id={$vo.resource_id}" target="_blank">{$vo.resource_no}</a></td>
								<td><a href="__ROOT__/HouseRoom/modifyroom?room_id={$vo.room_id}&handle=search" target="_blank">{$vo.room_no}</a></td>
								<td>{$vo.owner_mobile}</td>
								<td data-id="{$vo.room_id}"></td><td></td><td></td>
								<td>{$vo.owner_name}</td>
								<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
								<td><gt name="vo.look_time" value="0">{$vo.look_time|date="Y-m-d H:i",###}</gt></td>
								<td><switch name="vo.status"><case value="0">未处理</case><case value="1">处理中</case><case value="2">成功</case><case value="3">取消</case><case value="4">暂停</case><case value="5">失败</case></switch></td>
								<td><switch name="vo.gaodu_platform"><case value="0">wap</case><case value="1">android</case><case value="2">iphone</case><case value="3">pc</case><case value="9">百度推广</case><case value="8">小程序</case></switch></td>
								<td><if condition="($vo.is_my eq 0)">外部人员<else/>内部人员</if></td>
								<in name="vo.status" value="0,4">
								<td><a target="__blank" href="__URL__/handleappoint?no=87&leftno=90&id={$vo.id}&type=handle">开始处理</a></td>
								<else/><td></td>
								</in>
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录，每页8条</p>
						<p class="fr skip_right">
							{$pageSHow}&nbsp;<input type="text" style="width:50px" maxlength="4" id="jumpPage" name="jumpPage">&nbsp;<button onclick="jump()">跳转</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
$("#dataDiv table tbody tr").each(function(){
	var td_room=$(this).children("td:eq(6)");
	var room_id=td_room.attr("data-id");
	$.get('__URL__/getRoominfoByRoomid?room_id='+room_id,function(data){
		td_room.html(data.commission);
		td_room.next().html(data.isMonth);
		td_room.next().next().html(data.source);
	},'json');
	
});
	$("#create_man").val('<?php echo isset($_GET["create_man"])?$_GET["create_man"]:"" ?>');
	$("#is_my").val('<?php echo isset($_GET["is_my"])?$_GET["is_my"]:"0" ?>');
	$("#status").val('<?php echo isset($_GET["status"])?$_GET["status"]:"" ?>');
	$('.inpt_a').datetimepicker({validateOnBlur:false,step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2020,format:"Y-m-d"});

	$("#btnSearch").click(function(){
		$(this).unbind('click').text('搜索中');
		$("#searchForm").submit();
	});
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	/*全选 */
	$("#checkall").click(function(){
		if($(this).attr("checked")=="checked"){
			$("input[type='checkbox']").attr("checked","checked");
		}else{
			$("input[type='checkbox']").removeAttr("checked");
		}
	});
	/*处理所有勾选 */
	$("#handleSelect").bind("click",function(){ handleSelect(); });
	function handleSelect(){
		var ids="";
		$("#dataDiv table tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("需勾选修改的项");return;
		}
		$("#handleSelect").unbind("click").text("修改中");
		$.post("__URL__/handleMoreAppoint",{ids:ids},function(data){
			alert(data.msg);
			document.location.reload();
		},"json");
	}
</script>
<script>
$.extend({
    /**  调用方法： var timerArr = $.blinkTitle.show(); * $.blinkTitle.clear(timerArr); */
    blinkTitle: {
        show: function() { //有新消息时在title处闪烁提示 
            var step = 0,
            _title = document.title;
            var timer = setInterval(function() {
                step++;
                if (step == 3) {
                    step = 1;
                }
                if (step == 1) {
                    document.title = '【　　　】' + _title;
                }

                if (step == 2) {
                    document.title = '【新预约】' + _title;
                }

            }, 500);
            return [timer, _title];
        },
        /** * @param timerArr[0], timer标记 * @param timerArr[1], 初始的title文本内容 */
        clear: function(timerArr) { //去除闪烁提示，恢复初始title文本 
            if (timerArr) {
                clearInterval(timerArr[0]);
                document.title = timerArr[1];
            }

        }
    }
});

function reflushMessage(){
	//setInterval("messagetishi()",1000*120);
}
function messagetishi() {
	
    $.get('__URL__/newmessage',function(count){
    	if(count==10000){
    		window.location.reload();
    	}else if(count>0){
    		/*var timerArr = $.blinkTitle.show();
    		setTimeout(function() { 
    			//此处是过一定时间后自动消失 
    		    $.blinkTitle.clear(timerArr);
    		},1000*5);*/
		    window.close();
		    window.open(window.location.href);
    	}
    },'json');
}
</script>
</html>
