<html>
<head>
	<meta charset="utf-8">
	<title>处理预约</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head" style="box-shadow:0 0 0 #fff;">
				<h2>所有预约</h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>勾选</th>
								<th>外部链接</th>
								<th>预约人姓名</th>
								<th>预约人手机</th>
								<th>预约房源</th>
								<th>预约房间</th>
								<th>区域板块</th><th>租金</th><th>是否佣金</th><th>是否包月</th>
								<th>房东手机</th>
								<th>房东姓名</th>
								<th>提交时间</th>
								<th>看房时间</th>
								<th>预约看房时间</th>
								<th>特殊要求</th><!-- <th>帮我推荐</th> -->
								<th>处理时间</th><th>处理人</th><th>处理结果</th><th>理由</th><th>备注</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>
									<in name="vo.status" value="0,1,4">
										<input type="checkbox" value="{$vo.id}" onclick="selectTr(this)">
									</in></td>
								<switch name="vo.city_code">
									<case value="001009001">
										<td><a href="http://www.hizhu.com/shanghai/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td>
									</case>
									<case value="001001">
										<td><a href="http://www.hizhu.com/beijing/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td>
									</case>
									<case value="001011001">
										<td><a href="http://www.hizhu.com/hangzhou/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td>
									</case>
									<case value="001010001">
										<td><a href="http://www.hizhu.com/nanjing/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td>
									</case>
									<case value="001019002">
										<td><a href="http://www.hizhu.com/shenzhen/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td>
									</case>
									<default/><td></td>
								</switch>
								<td>{$vo.customer_name}</td>
								<td>{$vo.customer_mobile}</td>
								<td><a href="__ROOT__/HouseResource/addresource?resource_id={$vo.resource_id}" target="_blank">{$vo.resource_no}</a></td>
								<td><a href="__ROOT__/HouseRoom/modifyroom?room_id={$vo.room_id}&handle=search" target="_blank">{$vo.room_no}</a></td>
								<td>{$vo.region_name}-{$vo.scope_name}</td><td>{$vo.room_money}</td>
								<td><if condition="($vo.is_commission eq 1)">是<else/>否</if></td>
								<td><if condition="($vo.is_monthly eq 1)">是<else/>否</if></td>

								<td>{$vo.owner_mobile}</td>
								<td>{$vo.owner_name}</td>
								<td>{$vo.create_time|date="Y-m-d H:i",###}</td>
								<if condition="($vo.status eq 2)">
									<td><gt name="vo.look_time" value="0">{$vo.look_time|date="Y-m-d H:i",###}</gt></td>
									<td></td>
								<else/>
									<td></td>
									<td style="width:130px;word-wrap:break-word;word-break:break-all;"><gt name="vo.look_time" value="0">{$vo.look_time|date="Y-m-d H:i",###}</gt>--<gt name="vo.look_time_end" value="0">{$vo.look_time_end|date="Y-m-d H:i",###}</gt></td>
								</if>
								
								<td style="width:180px;word-wrap:break-word;word-break:break-all;">{$vo.spec_reqs}&nbsp;{$vo.spec_req_other}</td>
								<!-- <td><if condition="($vo.is_recommend eq 1)">是<else/>否</if></td> -->

								<td><gt name="vo.handle_time" value="0">{$vo.handle_time|date="Y-m-d H:i",###}</gt></td><td>{$vo.handle_man}</td>
								<td><switch name="vo.status"><case value="0">未处理</case><case value="1">处理中</case><case value="2">成功</case><case value="3">取消</case><case value="4">暂停</case><case value="5">失败</case><case value="9">已配单</case></switch></td>
								<td>{$vo.handle_reason}</td>
								<td>{$vo.customer_bak}</td>
							</tr>
							</foreach>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="common_main cf" style="margin:50px;min-width:1200px;">
				<div style="float:left;width:800px;">
					<div style="height:50px;line-height:50px;margin:10px 0;">
						<span style="font-size:18px;display:inline-block;margin-right:10px;">处理结果</span>
						<select id="ddlType" style="width:150px;height:30px;margin:10px 0;">
							<option value="1">处理中</option>
							<option value="2">预约成功</option>
							<option value="3">取消预约</option>
							<option value="5">失败处理</option>
							<!-- <option value="4">暂缓处理</option>
							<option value="9">已配单</option> -->
						</select>&nbsp;&nbsp;<select id="ddlStopReason" style="display:none;"><option value="暂缓处理">暂缓理由</option><option value="无法联系到租客">无法联系到租客</option><option value="无法联系到房东">无法联系到房东</option></select>
					</div>
					<div id="divLooktime" style="display:none;margin:10px 0;">
						<span style="font-size:18px;display:inline-block;margin-right:10px;">看房时间</span>
						<input style="width:150px;height:30px;margin:10px 0;" class="inpt_a" type="text" name="look_time">&nbsp;<select id="ddlHour" style="width:50px;height:30px;margin:10px 0;"><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option></select>&nbsp;<select id="ddlMinute" style="width:50px;height:30px;margin:10px 0;"><option>00</option><option>15</option><option>30</option><option>45</option></select>
					</div>
					<div id="divReason" style="display:none;margin:10px 0;">
						<span style="font-size:18px;display:inline-block;margin-right:10px;">处理原因</span>

						<select id="ddl_cancel" style="display:none;width:150px;height:30px;margin:10px 0;">
							<option value="">=请选择=</option><option value="租客联系不上">租客联系不上</option>
							<option value="租客已联系房东">租客已联系房东</option><option value="租客错误操作">租客错误操作</option>
							<option value="租客已租到房">租客已租到房</option><option value="客户主动放弃">客户主动放弃</option><option value="其他">其他</option>
						</select>

						<select id="ddl_fail" style="display:none;width:150px;height:30px;margin:10px 0;">
							<option value="">=请选择=</option><option value="房东联系不上">房东联系不上</option>
							<option value="房东不接受预约">房东不接受预约</option><option value="房间已出租">房间已出租</option>
							<option value="时间无法撮合">时间无法撮合</option><option value="房间不合适">房间不合适</option><option value="其他">其他</option>
						</select>
						
					</div>
					<div style="margin:10px 0;">
						<span style="font-size:18px;display:inline-block;margin-right:10px;line-height:50px;">租客要求/备注</span>
						<input style="width:500px;height:30px;margin:10px 0;text-indent:1em;" type="text" id="customer_bak">
					</div>
					<div>
						<button style="margin-left:160px;margin-top:20px;" id="btnSubmit" class="btn_a">提交</button>&nbsp;&nbsp;
					</div>
				</div>
				<div style="float:left;width:300px;">
					<div style="position:relative;">
						<!--可输入的下拉列表 -->
						<label style="height:50px;line-height:50px;">转给&nbsp;<input style="width:150px;height:30px;margin:10px 0;text-indent:1em;" id="handleMan"></label>
						<div id="handleMan_div" class="plotbox" style="position:absolute;top:42px;left:3em;background:#fff;display:none;width:150px;">
							<ul>
								
							</ul>
						</div>
						<button style="margin-left:20px;margin-top:20px;" id="btnTransfer" class="btn_a">确认转出</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
var pid='{$appointModel.id}';
var viewType='<?php echo isset($_GET["type"])?$_GET["type"]:""; ?>';
var redirectUrl='__URL__/alllist?no=87&leftno=89';
if(viewType=="mine"){
	redirectUrl='__URL__/myhandlelist?no=87&leftno=91';
}else if(viewType=="handle"){
	redirectUrl='__URL__/handlelist?no=87&leftno=90';
}
$("#dataDiv table tbody tr").each(function(){
	var select_object=$(this).children("td:eq(0)").find("input");
	if(select_object.val()==pid){

		select_object.attr("checked","checked");
		selectTr(select_object);return;
	}
});
function selectTr(obj){
	if($(obj).attr("checked")=="checked"){
		$(obj).parent().parent().css('backgroundColor','fbec85');
	}else{
		$(obj).parent().parent().css('backgroundColor','fff');
	}
}
	$('.inpt_a').datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2018,format:"Y-m-d"});
	$("#ddlType").bind("change",function(){
		var state=$(this).val();
		if(state=="1"){
			$("#divLooktime").hide();
			$("#divReason").hide();
			$("#ddlStopReason").hide();
		}else if(state=="2"){
			$("#divLooktime").show();
			$("#divReason").hide();
			$("#ddlStopReason").hide();
		}else if(state=="3"){
			$("#divLooktime").hide();
			$("#divReason").show();
			$("#ddl_cancel").show();
			$("#ddl_fail").hide();
			$("#ddlStopReason").hide();
		}else if(state=="5"){
			$("#divLooktime").hide();
			$("#divReason").show();
			$("#ddl_cancel").hide();
			$("#ddl_fail").show();
			$("#ddlStopReason").hide();
		}
	});

	$("#btnSubmit").bind("click",function(){
		var ids="";
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("请先勾选处理项");return;
		}
		handleAppoint(ids);
	});
	$("#btnTransfer").bind("click",function(){
		var ids="";
		$("#dataDiv table tbody tr").each(function(){
			var select_object=$(this).children("td:eq(0)").find("input");
			if(select_object.attr("checked")=="checked"){
				ids+=select_object.val()+",";
			}
		});
		if(ids==""){
			alert("请先勾选处理项");return;
		}
		handleTransfer(ids);
	});
	function handleAppoint(ids){
		var type=$("#ddlType").val();
		var info=$("input[name='look_time']").val();
		if(type==2){
			if(info==""){
				alert("请填写看房时间");return;
			}
			info=info+' '+$("#ddlHour").val()+':'+$("#ddlMinute").val();
		}else if(type==3){
			info=$("#ddl_cancel").val();
		}else if(type==5){
			info=$("#ddl_fail").val();
		}else if(type==1){
			info='处理中';
		}
		if(info==""){
			alert("请选择原因");return;
		}
		$("#btnSubmit").unbind("click").text("提交中");
		$.post('__URL__/submitHandle',{type:type,info:info,id:ids,bak:$("#customer_bak").val()},function(data){
			if(data.status=="200"){
				alert(data.msg);
				if(type==4){
					window.location.href=redirectUrl;
				}else{
					window.location.reload();
				}
				
			}else{
				alert(data.msg);
				$("#btnSubmit").bind("click",function(){
					handleAppoint();
				}).text("提交");
			}
		},'json');
	}
	/*获取转接人 */
	$("#handleMan").keyup(function(){
		var key_word=$(this).val();
		if(key_word.length<1){
			return;
		}
		$.get("__URL__/searchHandleMen",{keyword:key_word},function(result){
			if(result.status=="200"){
				var attr=result.data;
				var len=attr.length;
				var obj=$("#handleMan_div ul");
				obj.html("");
				for (var i = len-1; i >= 0; i--) {
					obj.append("<li onclick=\"selectMen('"+attr[i].user_name+"','"+attr[i].real_name+"')\" >"+attr[i].real_name+"</li>");
				};
				if(len>0){
					$("#handleMan_div").show();
				}else{
					$("#handleMan_div").hide();
				}
			}
		},"json");
	});
	function selectMen(userName,realName){
		$("#handleMan").val(userName);
		$("#handleMan_div").hide();
	}
	/*转出 */
	function handleTransfer(ids){
		if($("#handleMan").val()==""){
			alert("选择一个接收人");return;
		}
		$("#btnTransfer").unbind("click").text("处理中");
		$.get('__URL__/handleTransfer',{transmen:$("#handleMan").val(),pid:ids},function(data){
			if(data.status=="200"){
				alert(data.msg);window.location.href=redirectUrl;
			}else{
				alert(data.msg);
				$("#btnTransfer").bind("click",function(){
					handleTransfer(ids);
				}).text("确认转出");
			}
		},'json');
	}
</script>
</html>