<html>
<head>
	<meta charset="utf-8">
	<title>我处理的预约</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>我处理的预约</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/myhandlelist" method="get">
						<input type="hidden" name="no" value="87">
						<input type="hidden" name="leftno" value="91">
						<input type="hidden" id="jump" name="p">
						<input type="hidden" name="flag" value="query">
						<table class="table_one">
							<tr>
								<td class="td_title">处理时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startHandle" value="<?php echo I('get.startHandle'); ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endHandle" value="<?php echo I('get.endHandle'); ?>"></td>
								<td class="td_title">预约人手机：</td>
								<td class="td_main"><input type="text" name="mobile" value="<?php echo I('get.mobile') ?>"></td>
								<td class="td_title">房东手机：</td>
								<td class="td_main"><input type="text" name="clientPhone" value="<?php echo I('get.clientPhone') ?>"></td>
								
							</tr>
							<tr>
								<td class="td_title">房间编号：</td>
								<td class="td_main"><input type="text" name="roomNo" value="<?php echo I('get.roomNo') ?>"></td>
								<td class="td_title">状态：</td>
								<td class="td_main">
									<select id="status" name="status" style="width:80px">
										<option value="">全部</option>
										<option value="0">未处理</option>
										<option value="1">处理中</option>
										<option value="2">成功</option>
										<option value="3">取消</option>
										<!-- <option value="4">暂停</option> -->
										<option value="5">失败</option>
										<option value="9">已配单</option>
									</select>&nbsp;<select id="handle_reason" name="handle_reason" style="width:120px"></select>
								</td>
								<td class="td_title">来源：</td>
								<td class="td_main"><select id="gaodu_platform" name="gaodu_platform">
										<option value="">全部</option>
										<option value="0">wap</option>
										<option value="1">android</option>
										<option value="2">iphone</option>
										<option value="3">pc</option>
										<option value="6">h5</option>
										<option value="8">小程序</option>
										<option value="9">百度推广</option>
										<option value="10">hi租房pro</option>
										<option value="20">后台添加</option>
									</select></td>
							</tr>
							
						</table>
					</form>
					<p class="head_p"><button class="btn_a" id="btnSearch">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>预约列表<a href="__URL__/appointadd.html" target="_blank" class="btn_a">新增</a>&nbsp;<a style="margin-left:100px;" href="__URL__/downloadExcel?type=mine&<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a">下载</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>外部链接</th>
								<th>预约人姓名</th>
								<th>预约人手机</th>
								<th>预约房源</th>
								<th>预约房间</th>
								<th>房东手机</th>
								<th>房东姓名</th>
								<th>提交时间</th>
								<th>处理时间</th><th>处理人</th><th>状态</th><th>来源</th><th>开始处理</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
							<switch name="vo.city_code"><case value="001009001"><td><a href="http://www.hizhu.com/shanghai/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001001"><td><a href="http://www.hizhu.com/beijing/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001011001"><td><a href="http://www.hizhu.com/hangzhou/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001010001"><td><a href="http://www.hizhu.com/nanjing/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001019001"><td><a href="http://www.hizhu.com/guangzhou/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><case value="001019002"><td><a href="http://www.hizhu.com/shenzhen/roomDetail/{$vo.room_id}.html" target="_blank">外部链接</a></td></case><default><td></td><td></td></default></switch>
								<td>{$vo.customer_name}</td>
								<td>{$vo.customer_mobile}</td>
								<td><a href="__ROOT__/HouseResource/addresource?resource_id={$vo.resource_id}" target="_blank">{$vo.resource_no}</a></td>
								<td><a href="__ROOT__/HouseRoom/modifyroom?room_id={$vo.room_id}&handle=search" target="_blank">{$vo.room_no}</a></td>
								<td>{$vo.owner_mobile}</td>
								<td>{$vo.owner_name}</td>
								<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
								<td><gt name="vo.handle_time" value="0">{$vo.handle_time|date="Y-m-d H:i:s",###}</gt></td><td>{$vo.handle_man}</td><td><switch name="vo.status"><case value="0">未处理</case><case value="1">处理中</case><case value="2">成功</case><case value="3">取消</case><case value="4">暂停</case>
								<case value="5">失败</case><case value="6">房东取消</case><case value="7">店长取消</case><case value="9">已配单</case></switch></td>
								<td><switch name="vo.gaodu_platform"><case value="0">wap</case><case value="1">android</case><case value="2">iphone</case>
									<case value="3">pc</case><case value="6">h5</case><case value="20">后台添加</case><case value="8">小程序</case><case value="9">百度推广</case><case value="10">hi租房pro</case></switch></td>
								<in name="vo.status" value="0,1,4">
								<td><a href="__URL__/handleappoint?no=87&leftno=91&id={$vo.id}&type=mine">开始处理</a></td>
								<else/><td></td>
								</in>
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$pageSHow}&nbsp;<input type="text" style="width:50px" maxlength="4" id="jumpPage" name="jumpPage">&nbsp;<button onclick="jump()">跳转</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
if('query'!='<?php echo I("get.flag"); ?>'){
	$("input[name='startHandle']").val('<?php echo date("Y-m-d",time()-3600*48); ?>');
	$("input[name='endHandle']").val('<?php echo date("Y-m-d"); ?>');
}

	$("#status").val('<?php echo isset($_GET["status"])?$_GET["status"]:"" ?>');
	$("#gaodu_platform").val('<?php echo isset($_GET["gaodu_platform"])?$_GET["gaodu_platform"]:"" ?>');
	$('.inpt_a').datetimepicker({validateOnBlur:false,step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2020,format:"Y-m-d"});

	$("#btnSearch").click(function(){
		$(this).unbind('click').text('搜索中');
		$("#searchForm").submit();
	});
	handleReason($("#status").val());
	$("#status").change(function(){
		var status=$(this).val();
		handleReason(status);
	});
function handleReason(status){
	if(status==3){
		$("#handle_reason").html('<option value="">全部</option><option value="租客联系不上">租客联系不上</option><option value="租客已联系房东">租客已联系房东</option><option value="租客错误操作">租客错误操作</option><option value="租客已租到房">租客已租到房</option><option value="客户主动放弃">客户主动放弃</option><option value="房东取消">房东取消</option><option value="店长取消">店长取消</option><option value="其他">其他</option>');
	}else if(status==4){
		$("#handle_reason").html('<option value=""></option><option value="无法联系到租客">无法联系到租客</option><option value="无法联系到房东">无法联系到房东</option>');
	}else if(status==5){
		$("#handle_reason").html('<option value="">全部</option><option value="房东联系不上">房东联系不上</option><option value="房东不接受预约">房东不接受预约</option><option value="房间已出租">房间已出租</option><option value="时间无法撮合">时间无法撮合</option><option value="房间不合适">房间不合适</option><option value="其他">其他</option>');
	}else{
		$("#handle_reason").html('');
	}
}
	$("#handle_reason").val('<?php echo I("get.handle_reason") ?>');
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	/*放弃处理 */
	function giveup(pid){
		if(confirm("确定放弃处理吗？")){
			$.get('__URL__/handleGiveup?pid='+pid,function(){
				document.location.reload();
			});
		}
	}
</script>
</html>
