<html>
<head>
	<meta charset="utf-8">
	<title style="color:red;">百度寻客</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
	<div class="main">
		<div class="main_right" style="left:0;width:90%;margin:0 5%;padding:50px 0;">
			<div class="common_head">
				<h2>百度寻客提交列表</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/xunkelist" method="get">
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">搜索时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" value="<?php echo isset($_GET['startTime'])?$_GET['startTime']:'' ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime" value="<?php echo isset($_GET['endTime'])?$_GET['endTime']:'' ?>"></td>
								<td class="td_title">用户手机：</td>
								<td class="td_main"><input type="text" name="mobile" value="<?php echo isset($_GET['mobile'])?$_GET['mobile']:'' ?>"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						
						</table>
					</form>
					<p class="head_p"><button class="btn_a" onclick="search()">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>关键词</th>
								<th>搜索时间</th>
								<th>城市名称</th>
								<th>城市</th><th>区域</th><th>户型</th><th>手机号</th>
								<th>处理</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>{$vo.query}</td>
								<td>{$vo.querytime|date="Y-m-d H:i:s",###}</td>
								<td>{$vo.cityname}</td>
								<td>{$vo.city}</td><td>{$vo.area}</td><td>{$vo.housetype}</td><td>{$vo.mobile}</td>
								<td><if condition="($vo.status eq 0)">
								<a href="#" onclick="handlefind({$vo.id},this)">标记处理完成</a>
									<else/>已处理</if></td>
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录，每页20条。</p>
						<p class="fr skip_right">
							{$pageSHow}&nbsp;<input type="text" style="width:50px" maxlength="4" id="jumpPage" name="jumpPage">&nbsp;<button onclick="jump()">跳转</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
	$('.inpt_a').datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2018,format:"Y-m-d"});
	function search(){
		$("#searchForm").submit();
	}
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	function handlefind(pid,obj){
		$.get('__URL__/handlexunke?pid='+pid,function(data){
			if(data.status=="200"){
				$(obj).parent().html('已处理');
			}else{
				alert(data.msg);
			}
		},'json');
	}
	
</script>

</html>
