 <html>
<head>
	<meta charset="utf-8">
	<title>端口配置管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>端口配置查询</h2>
				<div class="common_head_main">
				<form action="{:U('HizhuParameter/portConfigureList')}" method="get">
						<input type="hidden" name="no" value="1">
						<input type="hidden" name="leftno" value="209">
					<table class="table_one">
						<tr>
							<td class="td_title">类型：</td>
							<td class="td_main">
								<select name="is_owner">
									<option value=""<?php if(I('get.is_owner')== ""){echo"selected";}?>>全部</option>
									<option value="4"<?php if(I('get.is_owner')== 4){echo"selected";}?>>职业房东</option>
									<option value="5"<?php if(I('get.is_owner')== 5){echo"selected";}?>>中介</option>
								</select>
							</td>
							<td class="td_title">是否删除：</td>
							<td class="td_main">
								<select name="record_status">
									<option value="1"<?php if(I('get.record_status')=="1"){echo"selected";}?>>全部</option>
									<option value="1"<?php if(I('get.record_status')=="1"){echo"selected";}?>>未删除</option>
									<option value="0"<?php if(I('get.record_status')=="0"){echo"selected";}?>>已删除</option>
								</select>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>配置列表<a href="__URL__/portConfigureAdd.html?no=1&leftno=209" class="btn_a" style="min-width: 50px">新增</a>
				</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>端口类型</th>
								<th>时间长度(月)</th>
								<th>可在架房源数</th>
								<th>价格</th>
								<th>排序</th>
								<th>优惠</th>
								<th>状态</th>
								<th>添加人</th>
								<th>添加时间</th>
								<th>删除</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>
									<switch name="vo.is_owner">
										<case value="4">职业房东</case>
										<case value="5">中介</case>
										<default />空
									</switch></td>
								<td>{$vo['timelimit']}</td>
								<td>{$vo['house_num']}</td>
								<td>{$vo['price']}</td>
								<td>{$vo['sort_index']}</td>
								<td>{$vo['coupon_title']}</td>
								<td>
									<switch name="vo.record_status">
										<case value="0">已删除</case>
										<case value="1">未删除</case>
									</switch></td>
								</td>
								<td>{$vo['create_man']}</td>
								<td>
									<gt name="vo.create_time" value="0">{$vo['create_time']|date="Y-m-d H:i",###}</gt>
								</td>
								<td>
									<if condition="$vo.record_status eq 1">
									<a href="javascript:;" onclick="DeleteById('{$pagecount}','{$vo.id}')" class="btn_a" style="margin:0px 20px 5px 20px">&nbsp;删除&nbsp;</a>
									<elseif condition="$vo.record_status eq 0"/>已删除
									</if>
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script> 
	function DeleteById(count,id,obj){
 	  if(confirm('确定删除吗？')){
			$.get("__URL__/portConfigureDelete.html",{"id":id,"record_status":0},function(data){
				if(data.code == 404) {
				        alert(data.message);
				    } 
					if(data.code == 400) {
				        alert(data.message);
				    }
				    if(data.code == 200) {
				        alert(data.message);	
					$(obj).parent().parent().remove();
	            }
			},"json");
			$('#count').html("共"+(count-1)+"条记录，每页10条");
		}
   	}
	</script>
</body>
</html>
