<html>
<head>
	<meta charset="utf-8">
	<title>联系房东记录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>联系房东记录查询</h2>
				<div class="common_head_main">
					<form action="{:U('ContactOwner/ownercount')}" method="get">
					<input type="hidden" name="no" value="3"/>
					<input type="hidden" name="leftno" value="28"/>
						<table class="table_one">
							<tr>
								<td class="td_title">操作日期：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo $_GET['startTime'] ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="endTime" id="datetimepicker1" value="<?php echo $_GET['endTime'] ?>"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>记录统计列表 <a href="#" class="btn_a" id="download">下载</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>日期</th>
								<th>总拨打次数</th>
								<th>拨打人数</th>
								<th>来自安卓</th>
								<th>来自IOS</th>
								<th>来自H5</th>
								<th>被拨打房间数</th>
								<th>来自BD</th>
								<th>查看详情</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['dateformat']}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><a href="__URL__/contactOwnerList.html?no=3&leftno=28&startTime=<?php echo substr($vo['day'],0,4)?>-<?php echo substr($vo['day'],4,2)?>-<?php echo substr($vo['day'],6,2)?>&endTime=<?php echo substr($vo['day'],0,4)?>-<?php echo substr($vo['day'],4,2)?>-<?php echo substr($vo['day'],6,2)?>&isday=1">查看详情</a></td>
								<input name="day" type="hidden" value="{$vo['day']}">
							</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
    </script>
    <script>
    	$("#download").click(function(){
			var startTime=$("input[name='startTime']").val();
			var endTime=$("input[name='endTime']").val();
			var loginphone=$("input[name='loginphone']").val();
			var roomnum=$("input[name='roomnum']").val();
			var ownerphone=$("input[name='ownerphone']").val();
			var makcall=$("#js_makcall").val();
        	var url="__URL__/dowContact.html?startTime="+startTime+"&endTime="+endTime+"&loginphone="+loginphone+"&roomnum="+roomnum+"&ownerphone="+ownerphone+"&makcall="+makcall;
        	window.location.href=url;
    	});
    
    </script>
   <script type="text/javascript">
    $(".table table tr").each(function(index,object){
    	var day=$(object).find("input[name='day']").val();
    	if(day!="undefined"){
	        $.get("__URL__/callcountdata.html",{day:day,index:index},function(data){
					if(data!=null){
					   var callman=data.callman;
					   var countcall=data.countcall;
					   var h5call=data.h5call;
					   var androidcall=data.androidcall;
					   var iphonecall=data.iphonecall;
					   var callroom=data.callroom;
					   var bdnum=data.bdnum;
					   $(".table table").find("tr:eq("+index+")").children("td:eq(2)").text(countcall);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(3)").text(callman);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(4)").text(androidcall);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(5)").text(iphonecall);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(6)").text(h5call);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(7)").text(callroom);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(8)").text(bdnum);
					}
				},"json");
	    }
	});
   </script>
</body>
</html>
