<html>
<head>
	<meta charset="utf-8">
	<title>租客信息管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>租客信息查询</h2>
				<div class="common_head_main">
				<form action="{:U('UserSocialMsg/userMsgList')}" method="get">
					<input type="hidden" name="no" value="6">
					<input type="hidden" name="leftno" value="169">
					<table class="table_one">
						<tr>
							<td class="td_title">创建时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
							<td class="td_title">租客手机号码：</td>
							<td class="td_main"><input type="text" name="mobile" value="{:I('get.mobile')}" placeholder="该用户的手机号码"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>	
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
				</form>
				</div>
			</div>
			<div class="common_main">
				<h2>租客信息列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>姓名</th>
								<th>手机号</th>
								<th>性别</th>
								<th>是否介意隔断</th>
								<th>是否需要独立卫生间</th>
								<th>是否需要厨房</th>
								<th>看房选择</th>
								<th>是否排斥二房东</th>
								<th>创建时间</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['name']}</td>
								<td>{$vo['mobile']}</td>
								<td>
									<if condition="($vo.sex eq '1')">
									男
									<elseif condition="($vo.sex eq '2')"/>
									女
									</if>
								</td>
								<td>
									<if condition="($vo.ifcutoff eq '1')">是
									<elseif condition="($vo.ifcutoff eq '2')"/>否
									<elseif condition="($vo.ifcutoff eq '3')"/>不关注
									</if>
								</td>
								<td>
									<if condition="($vo.ifbathroom eq '1')">需要
									<elseif condition="($vo.ifbathroom eq '2')"/>不需要
									<elseif condition="($vo.ifbathroom eq '3')"/>不关注
									</if>
								</td>
								<td>
									<if condition="($vo.ifkitchen eq '1')">需要
									<elseif condition="($vo.ifkitchen eq '2')"/>不需要
									<elseif condition="($vo.ifkitchen eq '3')"/>不关注
									</if>
								</td>
								<td>
									<if condition="($vo.lookroom eq '1')">去看房
									<elseif condition="($vo.lookroom eq '2')"/>定看房时间
									</if>
								</td>
								<td>
									<if condition="($vo.ifrejectlandlord eq '1')">是
									<elseif condition="($vo.ifrejectlandlord eq '2')"/>否
									</if>
								</td>
								<td><if condition="$vo.create_time gt 0">{$vo['create_time']|date="Y-m-d H:i:s",###}</if></td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"}); 
	</script>
</body>
</html>
