<html>
<head>
	<meta charset="utf-8">
	<title>修改banner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/parameter_management_house.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>修改banner</h2>
			</div>

			<div class="common_main">
				<!-- 表单 -->
				<form method="post" action="__URL__/submitAdindex.html" id="submitForm" enctype='multipart/form-data'>
				   <input name="type" type="hidden" value="update">
				    <input name="upid" type="hidden" value="{$adindex['id']}">
				    <table class="table_one table_two"> 	
						<tr>
							<td class="td_title">标题：</td>
							<td class="td_main">
								<input type="text" name="title" value="{$adindex['title']}">
							</td>
						</tr>
					
					<tr>
						<td class="td_title">跳转地址：</td>
						<td class="td_main">
						   <input type="text" name="link" value="{$adindex['link']}">
						</td>
					</tr>
					<tr>
						<td class="td_title">banner图片：</td>
						<td class="td_main">
						  	   <div class="upload_photo">
									<span>上传照片</span>
									<input type="file" id="fileupload" name="mypic">
								</div>
								<ul class="cf" id="imglist"></ul>
						</td>
					</tr>
					<tr>
						<td class="td_title">排序：</td>
						<td class="td_main">
							   <input type="text" name="sort_index" value="{$adindex['sort_index']}">
						</td>
					</tr>
					<tr>
						<td class="td_title">数据状态：</td>
						<td class="td_main">
						      <input type="radio" id="show" name="is_display" value="1" checked <?php if($adindex['is_display']==1){echo"checked";}?>>
							  <label for="show">显示</label>
							  <input type="radio" id="hide" name="is_display" value="0" <?php if($adindex['is_display']==0){echo"checked";}?>>
							  <label for="hide">隐藏</label>
						</td>
					</tr>
				</table>
			 		<div class="addhouse_last addhouse_last_room"><button class="btn_a" onclick="return check();">提交</button></div>
				</form>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
$(function () {
    $("#fileupload").change(function(){
		$("#submitForm").ajaxSubmit({
			dataType:  'json',
			data:{submitType:'upload'},
			beforeSend: function() {
    		},
    		uploadProgress: function(event, position, total, percentComplete) {
    		},
			success: function(result) {
				console.log(result);
			$("#imglist").append('<li><img style="dispaly:inline-block;" src="'+result.data.imgUrl+'"><input type="hidden" name="bannername" value="'+result.data.imgUrl+'" /></li>');
				$("#fileupload").val('');
			},
			error:function(xhr){
				alert(xhr.responseText);
			}
		});
	});
	
});

</script>
<script type="text/javascript">
	/*提交表单*/
 function check(){
	   var title=$("input[name='title']").val();
	   var link=$("input[name='link']").val();
	   var sort_index=$("input[name='sort_index']").val();
	
	   if(title==""){
		    alert("标题不能为空！");
		    return false;
	   }else if(link==""){
		   alert("跳转地址不能为空！");
		   return false;
	   }else if(sort_index==""){
	   		alert("排序不能为空！");
		   return false;
	   }else{
		   $("#submitForm").submit();
	   } 
   }
</script>
</html>
