<html>
<head>
	<meta charset="utf-8">
	<title>区域板块管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
				{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2></h2>
				<div class="common_head_main">
						 <form action="{:U('Paramregion/paramRegionList')}" method="get">
					 				<input type="hidden" name="no" value="2">
				              <input type="hidden" name="leftno" value="24">
						<table class="table_one" style="margin-top:0px">
						<tr>
							<td class="td_title">区域名称：</td>
							<td class="td_main">
								<select name="region_id">
								   <volist name="region_list" id="vo">
								 <?php if($vo['parent_id']==0){?><option value="<?php echo$vo['id'];?>" <?php if($vo['id']==$_GET['region_id']){echo"selected ";}?>><?php echo$vo['cname'];?></option><?php }?>
									</volist>
								</select>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button class="btn_a">搜索</button></p>
					 </form>
				</div>
				<h2>区域板块列表<a href="__URL__/addtemp.html?addtype=1&no=1&leftno=24" class="btn_a">新增区域</a>&nbsp;&nbsp;<a style="margin-left:150px;" href="__URL__/addtemp.html?addtype=2&no=1&leftno=24" class="btn_a">新增板块</a></h2>
			</div>
			<div class="common_main">
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>名称</th>
								<th>全拼</th>
								<th>首字母</th>
								<th>坐标经度</th>
								<th>坐标纬度</th>
								<th>数据状态</th>
								<th>排序</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						   <volist name="list" id="vo">
								<tr>
									<td>{$i}</td>
									<td><?php if($vo['parent_id']==0){echo"<span>".$vo[cname]."</span>";}else{echo $vo[cname];}?></td>
									<td>{$vo['full_py']}</td>
									<td>{$vo['first_py']}</td>
									<td>{$vo['lpt_x']}</td>
									<td>{$vo['lpt_y']}</td>
									<td><?php if($vo['is_display']==1){echo"显示";}else{echo"隐藏";}?></td>
									<td>{$vo['order_index']}</td>
									<td><a href="__URL__/updateregion.html?no=1&leftno=24&upid={$vo['id']}&parent_id={$vo['parent_id']}">修改</a></td>
								</tr>
							</volist>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
  <script src="__PUBLIC__/js/jquery.js"></script>
  <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>
