/*tab 切换*/
#tab{margin-top:30px;position:relative;}
.tabList ul li{float:left;padding:15px 25px;border:1px solid #ccf;margin-left:-1px;cursor:pointer;border-bottom:0;border-radius:5px 5px 0 0;}
.tabList ul li.cur{background:#3498db;color:#fff;}
.tabCon{width:100%;height:600px;border:1px solid #ccf;background:#fff;}
.module{width:100%;height:280px;margin:10px 0;}
.tabCon .hide{display:none;}
.module a{float:left;width:23%;margin:0 1%;display:block;box-shadow:0 0 10px rgba(33,65,40,0.3);height:280px;background:#fff;}
.module a img{width:98%;height:270px;margin:5px 1%;}
.tabfloat{position:absolute;top:-30px;width:100%;z-index:444;display:none;border-radius:0 0 5px rgba(33,65,40,0.3);background:#fff;border:5px solid #eee;text-align:center;}
.tabfloat img{max-width:100%;}
/*common_bottom*/
.common_bottom{margin:40px 0 150px;text-align:center;}
.addhouse_next{width:70%;margin:40px 30% 150px 0;text-align:center;}
.addhouse_next a{display:inline-block;line-height:30px;}
.addhouse_last{margin:40px 0 50px;text-align:center;}
.addhouse_last a{display:inline-block;line-height:30px;margin-right:100px;}
.addhouse_last_room{width:70%;}
.remarks{width:35%;}
.remarks label{line-height:60px;}
.refuse a{float:left;}
.refuse{position:relative;width:35%;}
.refuse span{line-height:60px;float:left;display:block;}
.refuse select{margin:0px 10px;width:150px;height:36px;line-height:36px;float:left;}
.refuse textarea{position:absolute;top:60px;left:0;width:240px;height:80px;display:none;}
.refuse a{float:left;}
.common_bottom a{display:block;width:80px;height:36px;line-height:36px;margin:12px 0;background:#e8e8e8;border-radius:3px;border:1px solid #ddd;border-right:1px solid #a8a8a8;border-bottom:1px solid #a8a8a8;color:#333;text-align:center;}
.common_bottom a:hover{border:1px solid #ddd;border-left:1px solid #a8a8a8;border-top:1px solid #a8a8a8;}
.jujue:hover{border:1px solid #ddd;border-left:1px solid #a8a8a8;border-top:1px solid #a8a8a8;cursor:pointer;}
.buttom{display:block;width:80px;height:36px;line-height:36px;margin:12px 0;background:#e8e8e8;border-radius:3px;border:1px solid #ddd;border-right:1px solid #a8a8a8;border-bottom:1px solid #a8a8a8;color:#333;text-align:center;}
.through{width:35%;text-align:center;height:60px;}
.through a{display:block;margin:12px 0;}
.back{width:30%;height:60px;}
.back a{display:block;margin:12px auto;}

/*common_bottom_right*/
.common_bottom_right{width:70%;position:relative;}
.tabList1 ul li{float:left;padding:15px 25px;border:1px solid #ccf;cursor:pointer;}
.tabList1 ul li.cur{background:#3498db;color:#fff;}
.tabCon1{width:60%;height:200px;border:1px solid #ccf;background:#fff;}
.module1{width:100%;height:180px;margin:80px 0;}
.module1 .remarks{width:80%;}