<html>
<head>
	<meta charset="utf-8">
	<title>房源活动管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
<style>
		.anniu{text-align:center;padding:50px 0;width:70%;}
		.anniu a{display:inline-block;margin:0 20px;}
	</style>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>新增活动</h2>
			</div>
			<div class="common_main">
			  <form  id="submitForm" action="__URL__/subevent.html" method="post">
				<table class="table_one table_two">
			     	<tr>
						<td class="td_title"><span>*</span>活动类型</td>
						<td class="td_main">
							<select name="activityid" id="js_activityid" >
								  <option value="1">普通活动</option>
								  
							</select>
						</td>
					</tr>

					<tr>
						<td class="td_title"><span>*</span>活动标题</td>
						<td class="td_main"><input type="text" name="act_name_sys"></td>
					</tr>
					<!-- <tr>
						<td class="td_title"><span>*</span>活动标签</td>
						<td class="td_main"><input type="text" name="act_tag_name"></td>
					</tr> -->
					<tr>
						<td class="td_title"><span>*</span>活动房间编号</td>
						<td class="td_main"><textarea name="room_no" style="width:60%" id="room_no"></textarea><span>房间编号以逗号隔开</span></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>活动入口文案</td>
						<td class="td_main"><input type="text" name="act_name"></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>链接地址</td>
						<td class="td_main"><input type="text" name="act_url" value="https://s.loulifang.com.cn/activity.html"><span></span></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>优惠类型</td>
						<td class="td_main">
							<select name="activityid" id="js_coupon_type" onchange="cutClick2(this.options[this.selectedIndex].value)">
								  <option value="1">首月立减</option>
								  <option value="2">立减</option>
								  <option value="3">首月打折</option>
								  <option value="4">房租打折</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span></span>优惠额度</td>
						<td class="td_main"><i id="youhui1" style="font-style:normal;margin-right:5px;">首月立减</i><input type="text" name="couponlimit"><i id="youhui2" style="font-style:normal;margin-left:5px;">元</i></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>说明</td>
						<td class="td_main"><textarea name="explain" style="width:60%" id="js_explain"></textarea></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>状态</td>
						<td class="td_main">
							<label><input type="radio" name="line_flag" value="0" checked>待上线</label>&nbsp;&nbsp;
							<label><input type="radio" name="line_flag" value="1">进行中</label>&nbsp;&nbsp;
							<label><input type="radio" name="line_flag" value="2">已下线</label>
						</td>
					</tr>
					<!-- <tr>
						<td class="td_title"><span>*</span>下线时间</td>
						<td class="td_main"><input type="text" name="act_eff_time" id="datetimepicker"></td>
					</tr> -->
				</table>
				<div class="anniu">
					<a href="__URL__/eventlist.html?no=3&leftno=64" class="btn_b">返回</a>
					<button class="btn_a" onclick="return check();"> 提交</button>
				</div>
			  </form>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
	<script>
		function check(){
	   var act_name_sys=$("input[name='act_name_sys']").val();
	   var act_tag_name=$("input[name='act_tag_name']").val();
	   var room_no=$("#room_no").val();
	   var act_name=$("input[name='act_name']").val();
	   var line_flag=$("input[name='line_flag']").val();
	   var couponlimit=$("input[name='couponlimit']").val();
	   var act_url=$("input[name='act_url']").val();
	   var act_eff_time=$("#act_eff_time").val();
	   var js_activityid=$("#js_activityid").val();
       var js_coupon_type=$("#js_coupon_type").val();
       var js_explain=$("#js_explain").val();
	 if(act_name_sys==""){
		    alert("活动标题不能为空");
		    return false;
	   }else if(room_no==""){
		   alert("活动房间编号不能为空");
		   return false;
	   }else if(act_name==""){
		   alert("活动入口文案不能为空");
		   return false;
	   }else if(act_url==""){
		   alert("链接地址不能为空");
		   return false;
	   }else if(line_flag==""){
		   alert("状态不能为空");
		   return false;
	   }else if(js_explain==""){
		   alert("说明不能为空");
		   return false;
	   }else{
		   $("#submitForm").submit();
	   } 
   }

function cutClick2(value){
		if(value==1){
			$("#youhui1").text("首月立减");
			$("#youhui2").text("元");
		}else if(value==2){
			$("#youhui1").text("立减");
			$("#youhui2").text("元");
		}else if(value==3){
			$("#youhui1").text("首月");
			$("#youhui2").text("折");
		}else if(value==4){
			$("#youhui1").text("房租");
			$("#youhui2").text("折");
		}
	}
    </script>
</body>
</html>
