<html>
<head>
	<meta charset="utf-8">
	<title>房源活动管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>活动查询</h2>
				<div class="common_head_main">
					<form action="{:U('HouseEvent/eventlist')}" method="get">
					<input type="hidden" name="no" value="3"/>
					<input type="hidden" name="leftno" value="64"/>
						<table class="table_one">
							<tr>
								<td class="td_title">上线时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo $_GET['startTime'];?>">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="<?php echo $_GET['endTime'];?>"></td>
								<td class="td_title">活动房间编号：</td>
						        <td class="td_main"><input type="text" name="room_no" value="<?php echo $_GET['room_no'];?>"></td>
								<td class="td_title">活动名称：</td>
								<td class="td_main"><input  type="text" name="actnamesys" value="<?php echo $_GET['actnamesys'];?>"></td>
								
							</tr>
							<tr>
								<td class="td_title">状态：</td>
								<td class="td_main">
									<select name="lineflag">
										<option value="" <?php if($_GET['lineflag']===""){echo "selected";}?>>全部</option>
										<option value="0" <?php if(strlen($_GET['lineflag'])==1&&$_GET['lineflag']!=1){echo "selected";}?>>待上线</option>
										<option value="1" <?php if($_GET['lineflag']==1){echo "selected";}?>>进行中</option>
										<option value="2" <?php if($_GET['lineflag']==2){echo "selected";}?>>已下线</option>
									</select>
								</td>
								<td class="td_title">活动负责人：</td>
								<td class="td_main"><input  type="text" name="principal" value="<?php echo $_GET['principal'];?>"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>活动列表<a href="__URL__/addevent.html?no=3&leftno=64" class="btn_a">新增活动</a><a style="margin-left:130px;" href="__URL__/downloadExcel?<?php echo $_SERVER['QUERY_STRING'];?>" class="btn_a">下载</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>活动名称</th>
								<th>活动房间编号</th>
								<th>活动入口文案</th>
								<th>链接地址</th>
								<th>上线时间</th>
								<th>下线时间</th>
								<th>状态</th>
								<th>活动负责人</th>
								<th>活动修改人</th>
								<th>修改活动</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.act_name_sys}</td>
								<td>{$vo.room_no}</td>
								<td>{$vo.act_name}</td>
								<td>{$vo.act_url}</td>
								<td>
								<if condition="strtoupper($vo['line_flag']) eq '0'">
								待上线
								<else/>
								{$vo['line_time']|date="Y-m-d H:i:s",###}
								</if>
								</td>
								<td>{$vo['act_eff_time']|date="Y-m-d H:i:s",###}</td>
								<td>
									<if condition="strtoupper($vo['line_flag']) eq '0'">待上线
										<elseif condition="$vo['line_flag'] eq '1'"/>进行中
										<elseif condition="$vo['line_flag'] eq '2'"/>已下线
									</if>
								</td>
								<td>{$vo.principal}</td>
								<td>{$vo.update_man}</td>
								<td><a href="{:U('HouseEvent/upevent')}?eid={$vo.id}&no=3&leftno=64">修改</a></td>
							</tr>
							<input type="hidden" name="replay_id" value="{$vo.id}"/>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
    </script>
</body>
</html>
