<html>
<head>
	<meta charset="utf-8">
	<title>修改房源</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_main">
				<form id="submitForm" action="__URL__/submitResourceModify" method="post" enctype="multipart/form-data">
					<input type="hidden" name="resource_id" value="{$resourceModel['id']}" />
				<table class="table_one table_two">
					<tr>
						<td colspan="2">基本信息（<span>不可修改</span>）</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>数据来源：</td>
						<td class="td_main"><label>{$resourceModel['info_resource']}</label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>业务类型：</td>
						<td class="td_main">
							<label id="business_type"></label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>小区名称：</td>
						<td class="td_main">
							<label>{$resourceModel['estate_name']}</label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span></span>楼栋室号：</td>
						<td><label>{$resourceModel['unit_no']}</label>楼栋/单元号&nbsp;&nbsp;<label>{$resourceModel['room_no']}</label>室号</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>面积：</td>
						<td class="td_main"><label>{$resourceModel['area']}</label>平方米</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>楼层：</td>
						<td class="td_main"><label>{$resourceModel['floor']}</label>层&nbsp;&nbsp;&nbsp;共<label>{$resourceModel['floor_total']}</label>层</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>户型：</td>
						<td class="td_main"><label>{$resourceModel['room_num']}</label>室<label>{$resourceModel['hall_num']}</label>厅<label>{$resourceModel['wei_num']}</label>卫</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>房屋类型：</td>
						<td class="td_main">
							<label id="house_type"></label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>房屋朝向：</td>
						<td class="td_main">
							<label id="house_direction"></label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>房间类型：</td>
						<td class="td_main"><label id="room_type"></label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>房间总数：</td>
						<td class="td_main"><label>{$resourceModel['room_count']}</label>
						</td>
					</tr>
					<tr>
						<td colspan="2">房源详细信息（<span>可修改</span>）</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>装修情况：</td>
						<td class="td_main">
							<select id="decoration" name="decoration">
								<option value="">请选择</option>
								{$decorationList}
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>付款方式：</td>
						<td class="td_main">
							<select id="pay_method" name="pay_method">
								<option value="">请选择</option>
								{$payMethodList}
							</select>
						</td>
					</tr>
					
					<!-- 新增品牌 -->
					<tr>
						<td class="td_title">品牌：</td>
						<td class="td_main">
							<select id="brand_type" name="brand_type">
								<option value="">请选择</option>
								{$brandTypeList}
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>共用设施：</td>
						<td class="td_main">
							{$publicEquipmentList}
						</td>
					</tr>
					<tr>
						<td colspan="2">房东信息（<span>如果您是二房东，请填写本人信息</span>）</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>房东电话：</td>
						<td class="td_main"><input type="text" id="client_phone" name="client_phone" value="{$resourceModel['client_phone']}" maxlength="11"></td>
					</tr>
					
					<tr>
						<td class="td_title"><span>*</span>房东姓名：</td>
						<td class="td_main"><input type="text" id="client_name" name="client_name" value="{$resourceModel['client_name']}" maxlength="5"></td>
					</tr>
					<tr>
						<td class="td_title"><span></span>房东座机：</td>
						<td class="td_main"><input type="tel" id="client_telephone" name="client_telephone" value="{$resourceModel['client_telephone']}" maxlength="20">&nbsp;如果填写座机，前台联系房东将拨打座机号</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>性别：</td>
						<td class="td_main">
							<label><input type="radio" name="client_sex" value="1" checked="checked" />男</label>&nbsp;
							<label><input type="radio" name="client_sex" value="0" />女</label>
						</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>年龄段：</td>
						<td class="td_main">
							{$clientAgeList}
						</td>
					</tr>
					<tr>
						<td class="td_title"><span></span>房东喜欢的租客：</td>
						<td class="td_main">
							{$clientLoveList}
						</td>
					</tr>
					<tr>
						<td class="td_title">房东照片：</td>
						<td class="td_main">
							<div id="uploadImage" class="uploadPhotos fl landlordBtn">
								<span>上传照片</span>
								<input id="fileupload" type="file" name="mypic" />
							</div>
							<div id="showImage" class="landlordPic" style="display:none;">
								<img src="" alt="">
								<a href="javascript:" onclick="removePic()">删除</a>
							</div>
							<input type="hidden" id="client_image" name="client_image" value="{$resourceModel['client_image']}" />
						</td>
					</tr>
				</table>
				</form>
				<div style="display:none;">
					<select id="ddl_house_type">
						{$houseTypeList}
					</select>
					<select id="ddl_house_direction">
						{$houseDirectionList}
					</select>
					<select id="ddl_room_type">
						{$roomTypeList}
					</select>
					{$businessTypeList}
				</div>
				<div class="addhouse_last addhouse_last_room"><a href="javascript:window.history.back();" class="btn_b">返回</a><a href="javascript:;" id="submit_a" class="btn_a" onclick="btnSubmit()">提交修改</a></div>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
/*删除图片*/
function removePic(){
	if(confirm("确定要删除吗？")){
		$("#client_image").val("");
		$("#showImage").hide().find("img").attr("src","");
		$("#uploadImage").show();
	}
}
$(function () {
    $("#fileupload").change(function(){
		$("#submitForm").ajaxSubmit({
			dataType:  'json',
			data:{submitType:'upload'},
			beforeSend: function() {
    		},
    		uploadProgress: function(event, position, total, percentComplete) {
    		},
			success: function(result) {
				var img_url=result.data.imgUrl;
				var point_index=img_url.lastIndexOf(".");
				var corp_img_url=img_url.substring(0,point_index)+"_200_200"+img_url.substring(point_index);
				$("#client_image").val(img_url);
				$("#showImage").show().find("img").attr("src",corp_img_url);
				$("#uploadImage").hide();
				$("#fileupload").val('');
			},
			error:function(xhr){
				alert(xhr.responseText);
			}
		});
	});
});
</script>
<script type="text/javascript">
	/*绑定数据(1基本信息)*/
	var business_type='{$resourceModel["business_type"]}';
	var business_type_name=$("input[name=business_type][value="+business_type+"]").parent().text();
	$("#business_type").text(business_type_name);
	var house_type='{$resourceModel["house_type"]}';
	var house_direction='{$resourceModel["house_direction"]}';
	var house_type_name=$("#ddl_house_type option[value="+house_type+"]").text();
	var house_direction_name=$("#ddl_house_direction option[value="+house_direction+"]").text();
	$("#house_type").text(house_type_name);
	$("#house_direction").text(house_direction_name);
	var room_type='{$resourceModel["room_type"]}';
	var room_type_name=$("#ddl_room_type option[value="+room_type+"]").text();
	$("#room_type").text(room_type_name);
	/*绑定数据(2房源详细)*/
	var decoration='{$resourceModel["decoration"]}';
	$("#decoration").val(decoration);
	var pay_method='{$resourceModel["pay_method"]}';
	$("#pay_method").val(pay_method);
	var brand_type='{$resourceModel["brand_type"]}';
	$("#brand_type").val(brand_type);
	var public_equipment='{$resourceModel["public_equipment"]}';
	if(public_equipment !=''){
		var equipment_array=public_equipment.split(",");
		for (var i = equipment_array.length - 1; i >= 0; i--){
			$("input[name^=public_equipment][value="+equipment_array[i]+"]").attr("checked","checked");
		};
	}
	/*绑定数据(3房东信息)*/
	var client_sex='{$resourceModel["client_sex"]}';
	var client_age='{$resourceModel["client_age"]}';
	var client_love='{$resourceModel["client_love"]}';
	if(client_sex=="0"){
		$("input[name=client_sex][value=0]").attr("checked","checked");
	}
	$("input[name=client_age][value="+client_age+"]").attr("checked","checked");
	if(client_love !=''){
		var love_array=client_love.split(",");
		for (var i = love_array.length - 1; i >= 0; i--) {
			$("input[name^=client_love][value="+love_array[i]+"]").attr("checked","checked");
		};
	}
	var client_image='{$resourceModel["client_image"]}';
	if(client_image !=''){
		var point_index=client_image.lastIndexOf(".");
		var corp_img_url=client_image.substring(0,point_index)+"_200_200"+client_image.substring(point_index);
		$("#showImage").show().find("img").attr("src",corp_img_url);
		$("#uploadImage").hide();
	}
	/*提交表单*/
	function btnSubmit(){
		/*校验*/
		var inputAll=true;
		if(inputAll){
			$("#submitForm select").each(function(){
				if($(this).val()==''){
					if($(this).attr("id")!="brand_type"){
						inputAll=false;	return;
					}
				}
			});
		}
		if(!inputAll){
			alert('带*为必填项');return;
		}
		var equipment_count=$("input[name^=public_equipment]:checked").length;
		if(equipment_count==0){
			alert('须勾选共用设施');return;
		}
		var isMobile=/^1[34578]\d{9}$/;
        if(!isMobile.test($("#client_phone").val())){
        	alert('房东电话须为11位的正确格式');
			return;
        }
        if($("#client_telephone").val() !=""){
        	var isTel=/^\d+\,{0,1}\d*$/;
        	if(!isTel.test($("#client_telephone").val())){
        		alert('房东座机输入不正确');return;
        	}
        }
        if($("#client_name").val()==''){
        	alert('房东姓名不能为空');return;
        }
        $("#submit_a").text("提交中...");
		$("#submitForm").submit();
	}
</script>
</html>
