<html>
<head>
	<meta charset="utf-8">
	<title>每日搜索热词</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
    <style type="text/css">
   .js_days{display: none;}
    </style>
</head>
<body>
<include file="Public/head_city" />
      <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			
				<div class="common_main">
				<h2>搜索热词列表</h2>
				<div class="table">
					<div style="padding:10px;background:#fff;">
						<p style="height:24px;line-height:24px;margin:10px 0;">时间：<span style="font-weight:bold;"><?php echo date("Y年m月d日",I('get.wordtime'));?></span></p>
					
					</div>

					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>热词</th>
								<th>搜索量</th>
								<th>是否有结果</th>
								<th>城市</th>
								<th>结果集</th>
							</tr>
						</thead>
						<tbody>
				     	<volist name="newarr" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['key_words']}</td>
								<td>{$vo['countnum']}</td>
								<td>
								<if condition="strtoupper($vo['is_reult']) eq '1'">
								  有
								 <elseif condition="strtoupper($vo['is_reult']) eq '0'"/>
								  没有
								</if>
								</td>
								<td><if condition="$vo['city_code'] eq '001009001'">上海
										<elseif condition="$vo['city_code'] eq '001001'"/>北京
										<elseif condition="$vo['city_code'] eq '001011001'"/>杭州
										<elseif condition="$vo['city_code'] eq '001010001'"/>南京
										<elseif condition="$vo['city_code'] eq '001019001'"/>广州
										<elseif condition="$vo['city_code'] eq '001019002'"/>深圳
										</if></td>
								<td><a href="__URL__/roomlist.html?no=141&leftno=156&searchid={$vo['id']}">结果集</a></td>
							</tr>
						</volist>
						</tbody>
					</table>
				  
				</div>
			</div>
			</div>
			
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
  $(".table table tr").each(function(index,object){
    var daytime=$(object).find("input[name='daytime']").val();
      if(daytime!="undefined"&&daytime!=""){
	    $.get("__URL__/searchcount.html",{daytime:daytime,index:index},function(data){
		      var replyrate=data.replyrate;
		      var totalnum=data.totalnum;
		      var resultnum=data.resultnum;
	          $(".table table").find("tr:eq("+index+")").children("td:eq(2)").text(totalnum);
	          $(".table table").find("tr:eq("+index+")").children("td:eq(3)").text(resultnum);
	          $(".table table").find("tr:eq("+index+")").children("td:eq(4)").text(replyrate+'%');
		  },"json");
	    }
	});

  function setClose(mobile,close){
  	if(confirm("确认提交？")){
  	  	$.get("__URL__/updataiscolse.html",{mobile:mobile,close:close},function(data){
		      if(data.status==200){
		      		 location.reload(); 
		      }
		  },"json");
     }
  }
</script>
</body>
</html>
