<html>
<head>
	<meta charset="utf-8">
	<title>每日搜索热词</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
    <style type="text/css">
   .js_days{display: none;}
    </style>
</head>
<body>
<include file="Public/head_city" />
      <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			
				<div class="common_main">
				<h2>房间列表</h2>
				<div class="table">
					<div style="padding:10px;background:#fff;">
					
					
					</div>

					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>房间编号</th>
								<th>小区名称</th>
								<th>区域板块</th>
								<th>业务类型</th>
								<th>单间名称</th>
								<th>面积</th>
								<th>价格</th>
								<!-- <th>链接</th> -->
							</tr>
						</thead>
						<tbody>
				     	<volist name="newarr" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['room_no']}</td>
								<td>{$vo['estate_name']}</td>
								<td>{$vo['region_name']}-{$vo['scope_name']}</td>
								
								<td>
								<if condition="strtoupper($vo['business_type']) eq '1501'">
								  小区住宅
								 <elseif condition="strtoupper($vo['business_type']) eq '1502'"/>
								  集中公寓
								  <elseif condition="strtoupper($vo['business_type']) eq '1503'"/>
								  酒店长租
								</if>
								</td>
								<td>{$vo['room_name']}</td>
								<td>{$vo['room_area']}m²</td>
								<td>{$vo['room_money']}</td>
								<!-- <td><a href="__URL__/roomlist.html?searchid={$vo['id']}">链接</a></td> -->
							</tr>
						</volist>
						</tbody>
					</table>
				  
				</div>
			</div>
			</div>
			
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>

<script type="text/javascript">
  $(".table table tr").each(function(index,object){
    var daytime=$(object).find("input[name='daytime']").val();
      if(daytime!="undefined"&&daytime!=""){
	    $.get("__URL__/searchcount.html",{daytime:daytime,index:index},function(data){
		      var replyrate=data.replyrate;
		      var totalnum=data.totalnum;
		      var resultnum=data.resultnum;
	          $(".table table").find("tr:eq("+index+")").children("td:eq(2)").text(totalnum);
	          $(".table table").find("tr:eq("+index+")").children("td:eq(3)").text(resultnum);
	          $(".table table").find("tr:eq("+index+")").children("td:eq(4)").text(replyrate+'%');
		  },"json");
	    }
	});

  function setClose(mobile,close){
  	if(confirm("确认提交？")){
  	  	$.get("__URL__/updataiscolse.html",{mobile:mobile,close:close},function(data){
		      if(data.status==200){
		      		 location.reload(); 
		      }
		  },"json");
     }
  }
</script>
</body>
</html>
