<html>
<head>
	<meta charset="utf-8">
	<title>待处理订单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/order_manage_check.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>财务查询</h2>
				<div class="common_head_main">
				<form action="{:U('Service/financialdetalist')}" method="get">
				<input type="hidden" name="no" value="4">
				<input type="hidden" name="leftno" value="75">
					<table class="table_one">
						<tr>
							<td class="td_title">用户姓名：</td>
							<td class="td_main"><input type="text" name="name" class="inpt_a" value="<?php echo$_GET['name']?>"></td>
							<td class="td_title">订单类型：</td>
							<td class="td_main">
							     <select name="class_id" style="width:100px;";>
									<option value="">=全部=</option>
									<option value="2">管道疏通</option>
									<option value="1">家电维修</option>
									<option value="1">开锁换锁</option>
								 </select>
							</td>
							<td class="td_title">订单金额：</td>
							<td class="td_main"><input type="text" name="price_cnt" maxlength="11" value="<?php echo$_GET['price_cnt']?>"></td>
						</tr>
						<tr>
							<td class="td_title">用户手机：</td>
							<td class="td_main"><input type="text" class="inpt_a" name="mobile" value="<?php echo$_GET['mobile']?>"></td>
							<td class="td_title">预约上门地址：</td>
							<td class="td_main"><input type="text" class="inpt_a" name="address" value="<?php echo$_GET['address']?>"></td>
							<td class="td_title">订单状态：</td>
							<td class="td_main">
								<select name="order_status" style="width:100px;";>
									<option value="" <?php if($_GET['order_status']===""){echo "selected";}?>>=全部=</option>
									<option value="4" <?php if(strlen($_GET['order_status'])==4){echo "selected";}?>>已完成</option>
									<option value="6" <?php if(strlen($_GET['order_status'])==6){echo "selected";}?>>待退款</option>
									<option value="7" <?php if(strlen($_GET['order_status'])==7){echo "selected";}?>>已退款</option>
								</select>
							</td>
						</tr>
						<tr>
							<td class="td_title">订单号：</td>
							<td class="td_main"><input class="inpt_a" type="tel" name="orderid" value="<?php echo$_GET['orderid']?>"></td>
							<td class="td_title">预约上门时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo$_GET['startTime']?>">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="<?php echo$_GET['endTime']?>"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>财务列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>订单号</th>
								<th>姓名</th>
								<th>联系方式</th>
								<th>师傅姓名</th>
								<th>师傅联系方式</th>
								<th>上门地址</th>
								<th>上门时间</th>
								<th>订单类型</th>
								<th>服务项目</th>
								<th>订单状态</th>
								<th>支付金额</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['id']}</td>
								<td>{$vo['customer_name']}</td>
								<td>{$vo['customer_mobile']}</td>
								<td>{$vo['man_name']}</td>
								<td>{$vo['man_mobile']}</td>
								<td>{$vo['province_name']}-{$vo['city_name']}-{$vo['district_name']}-{$vo['address']}</td>
								<td>{$vo['service_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo['class_name']}</td>
								<td>{$vo['options_name']}</td>
								<td>
									<if condition="strtoupper($vo['order_status']) eq '4'">
									已完成
									<elseif condition="strtoupper($vo['order_status']) eq '6'"/>
									待退款
									<elseif condition="strtoupper($vo['order_status']) eq '7'"/>
									已退款
									</if>
								</td>
								<td><span>{$vo['price_cnt']}</span></td>
								<td>
					
								<a href="{:U('Service/reimburse')}?oid={$vo['id']}&no=4&leftno=75">操作</a>
							
								</td>
							</tr>
								<input name="order_id" type="hidden" class="order_id" value="{$vo['id']}">
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});


      $(".table tr").each(function(){
		   $(this).find("a[name='quxiao']").click(function(){
		   		var orderid=$(this).attr("data-orderid");
		   	  if(confirm('确定取消该订单？')){
              	  window.document.location.href="__URL__/ordercancel.html?orderid="+orderid;
		   	  } 		
		  })
      });
</script>
</body>
</html>
