<html>
<head>
	<meta charset="utf-8">
	<title>服务订单详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/order_manage_check.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
		<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>服务订单详情</h2>
			</div>
			<div class="common_main">
				<table class="table_one">
				
					<tr>
					    <td class="td_title">订单编号：</td>
						<td class="td_main">{$orderarr['id']}</td>
						<td class="td_title">上门地点：</td>
						<td>{$orderarr['province_name']}-{$orderarr['city_name']}-{$orderarr['district_name']}-{$orderarr['address']}</td>
					</tr>
					<tr>
						<td class="td_title">客户姓名：</td>
						<td class="td_main">{$orderarr['customer_name']}</td>
						<td class="td_title">支付状态：</td>
						<td class="td_main">
						    <if condition="strtoupper($orderarr['order_status']) eq '2'">
							  已支付
							</if>
						</td>
					</tr>
					<tr>
						<td class="td_title">客户电话：</td>
						<td class="td_main">{$orderarr['customer_mobile']}</td>
						<td class="td_title">支付金额：</td>
						<td class="td_main">￥{$orderarr['price_cnt']}</td>
					</tr>
					<tr>
						<td class="td_title">订单类型：</td>
						<td class="td_main">{$infoarr['class_name']}</td>
						<td class="td_title">服务师傅：</td>
						<td class="td_main">{$manarr['name']}</td>
					</tr>
					<tr>
						<td class="td_title">上门时间：</td>
						<td class="td_main">{$orderarr.service_time|date="Y-m-d H:i:s",###}</td>
						<td class="td_title">师傅电话：</td>
						<td class="td_main">{$manarr['mobile']}</td>
					</tr>
				</table>
			</div>
				<div class="cf" style="text-align:center;padding:30px 0;">
				<a href="__URL__/distributed.html?oid=<?php echo $_GET['orderid']?>&no=4&leftno=73" class="btn_b" style="margin-right:80px;">取消</a>
				<a href="javascript:;" id="subserviceorder" class="btn_a">确定</a>
				</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
$(" .table tr ").each(function(){
     $(this).find("input[type='radio']").click(function(){
	 	var man_id=$(this).siblings("input[name='man_id']").val();
	 	$("input[name='get_manid']").val(man_id);
     })
 });

$("#subrequey").click(function(){
	 	var man_id=$("input[name='get_manid']").val();
	 	var orderid=$("input[name='oid']").val();
        if(man_id==""){
        	alert("请选择一个师傅");
        }else{
        	window.document.location.href="__URL__/subsend.html?no=4&leftno=73&manid="+man_id+"&orderid="+orderid;
        }
});

$("#subserviceorder").click(function(){
	   var manid="<?php echo $manarr['id'];?>";
	   var orderid="<?php echo $orderarr['id'];?>";
	   if(manid!=""&&orderid!=""){
	    window.document.location.href="__URL__/subserviceorder.html?no=4&leftno=73&manid="+manid+"&orderid="+orderid;
	}
});
</script>
</body>
</html>
