<html>
<head>
	<meta charset="utf-8">
	<title>佣金管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
			<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>佣金规则</h2>
			</div>
			<div class="common_main">
				<form method="post" action="__URL__/saveCommissionadd">
				<input type="hidden" name="id" value="{$Model['id']}">
				<table class="table_one table_two">
					<tr>
						<td class="td_title">房东手机号：</td>
						<td class="td_main"><input type="text" name="client_phone">&nbsp;<a href="javascript:;" id="btn_getno" onclick="getRoomno()">获取房间编号</a>(没有佣金的房源，一次最多1000条)</td>
					</tr>
					<tr>
						<td class="td_title">房间编号：</td>
						<td class="td_main"><textarea id="room_no" name="room_no" style="height:200px;width:600px;"></textarea><br>多个以逗号(中英文都可)分割</td>
					</tr>
					<tr>
						<td class="td_title">合同时长：</td>
						<td class="td_main"><select id="contracttime_start" name="contracttime_start"><option value="-99">无</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>~
							<select id="contracttime_end" name="contracttime_end"><option value="99">无</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select></td>
					</tr>
					<tr>
						<td class="td_title">计算方式：</td>
						<td class="td_main"><label><input type="radio" name="commission_type" value="1" checked="checked">百分比</label>&nbsp;
							<label><input type="radio" name="commission_type" value="2">金额</label>&nbsp;&nbsp;&nbsp;
							<span id="commission_base" style="color:black;">佣金基数&nbsp;<label><input type="radio" name="commission_base" value="1" checked="checked">1个月</label>&nbsp;
							<label><input type="radio" name="commission_base" value="2">合同金额</label>&nbsp;
							<label><input type="radio" name="commission_base" value="3">1年</label></span>
						</td>
					</tr>
					
					<tr>
						<td class="td_title">佣金：</td>
						<td class="td_main"><input type="text" name="commission_money" style="width:100px;"><label id="commission_money">%</label></td>
					</tr>
					<tr>
						<td class="td_title">在线付租是否扣佣：</td>
						<td class="td_main"><label><input type="radio" name="is_online" value="1" checked="checked">是</label>&nbsp;
							<label><input type="radio" name="is_online" value="0">否</label>&nbsp;</td>
					</tr>
					<tr>
						<td class="td_title">结算方式：</td>
						<td class="td_main"><label><input type="radio" name="settlement_method" value="1" checked="checked">次结</label>&nbsp;
							<label><input type="radio" name="settlement_method" value="2">月结</label>&nbsp;</td>
					</tr>
					<tr>
						<td class="td_title">启用时间：</td>
						<td class="td_main"><input class="inpt_a" type="text" name="start_time"></td>
					</tr>
				</table>
				</form>
			</div>
			<div style="text-align:center;"><a href="javascript:;" class="btn_a">提交</a></div>
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
 <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$('.inpt_a').datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2016,yearEnd:2018,format:"Y-m-d"});

$("input[name=commission_type]").change(function() {
	if($(this).val()=="2"){
		$("#commission_base").hide();$("#commission_money").text("元");
	}else{
		$("#commission_base").show();$("#commission_money").text("%");
	}
});
function getRoomno(){
	var phone=$("input[name='client_phone']").val();
	if(phone!=""){
		$("#btn_getno").unbind('click');
		$.get('__URL__/getRoomnoByClientphone?mobile='+phone,{},function(data){
			$("#room_no").val(data.replace(/^\s+$/,''));
			$("#btn_getno").bind('click',function(){
				getRoomno();
			});
		});
	}
}
/*提交 */
$('.btn_a').bind('click',function(){
	if($("#room_no").val()==''){
		alert("请输入房间编号");return;
	}
	if(parseInt($('#contracttime_start').val())>parseInt($('#contracttime_end').val())){
		alert("合同时长选择有误");return;
	}
	var regNum=/^[0-9.]{1,5}$/;
	var money=$("input[name='commission_money']").val();
	if(!regNum.test(money)){
		alert("请输入有效佣金");return;
	}
	if($("#commission_money").text()=="%" && parseFloat(money)>100){
		alert("请输入有效佣金");return;
	}
	if($("input[name='start_time']").val()==""){
		alert("请输入启用时间");return;
	}
	$(this).unbind('click').text('提交中');
	$("form").submit();
});
</script>
</html>
