<html>
<head>
	<meta charset="utf-8">
	<title>佣金管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>搜索条件</h2>
				<div class="common_head_main">
					<form id="searchForm" action="__URL__/commissionlist" method="get">
						<input type="hidden" name="no" value="107">
						<input type="hidden" name="leftno" value="109">
						<input type="hidden" id="jump" name="p">
						<table class="table_one">
							<tr>
								<td class="td_title">房间编号：</td>
								<td class="td_main"><input type="text" name="room_no" value="<?php echo isset($_GET['room_no'])?$_GET['room_no']:'' ?>"></td>
								<td class="td_title">小区名称：</td>
								<td class="td_main"><input type="text" name="estate_name" value="<?php echo isset($_GET['estate_name'])?$_GET['estate_name']:'' ?>"></td>
								<td class="td_title">是否扣佣：</td>
								<td class="td_main">
									<select id="is_online" name="is_online">
										<option value=""></option>
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</td>
							</tr>
							<tr>
								<td class="td_title">结算方式：</td>
								<td class="td_main">
									<select id="settlement_method" name="settlement_method">
										<option value=""></option>
										<option value="1">次结</option>
										<option value="2">月结</option>
									</select></td>
								<td class="td_title">状态：</td>
								<td class="td_main">
									<select id="is_open" name="is_open">
										<option value=""></option>
										<option value="1">开启</option>
										<option value="0">停用</option>
									</select>
								</td>
								<td class="td_title">修改时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="updatetime_start" value="<?php echo isset($_GET['updatetime_start'])?$_GET['updatetime_start']:'' ?>">&nbsp;~&nbsp;<input class="inpt_a" type="text"  name="updatetime_end" value="<?php echo isset($_GET['updatetime_end'])?$_GET['updatetime_end']:'' ?>"></td>
							</tr>
							<tr>
								<td class="td_title">房东姓名：</td>
								<td class="td_main"><input type="text" name="client_name" value="<?php echo isset($_GET['client_name'])?$_GET['client_name']:'' ?>"></td>
								<td class="td_title">房东手机：</td>
								<td class="td_main"><input type="text" name="client_phone" value="<?php echo isset($_GET['client_phone'])?$_GET['client_phone']:'' ?>"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>
						</table>
					</form>
					<p class="head_p"><button class="btn_a" onclick="search()">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>列表展示<a href="__URL__/commissionadd?no=107&leftno=109" class="btn_a">新增</a><a style="margin-left:100px;" href="__URL__/downloadExcel?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a">下载</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>房间编号</th>
								<th>小区名称</th>
								<th>房东手机</th>
								<th>房东姓名</th>
								<th>房间状态</th>
								<th>租金</th>
								<th>合同时长</th>
								<th>状态</th>
								<th>创建人</th>
								<th>创建时间</th>
								<th>修改人</th>
								<th>修改时间</th>
								<th>查看</th>
								<th>停用</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>
								<switch name="vo.city_code">
									<case value="001009001"><a href="http://www.hizhu.com/shanghai/roomDetail/{$vo.room_id}.html" target="_blank">{$vo.room_no}</a></case>
									<case value="001001"><a href="http://www.hizhu.com/beijing/roomDetail/{$vo.room_id}.html" target="_blank">{$vo.room_no}</a></case>
									<case value="001011001"><a href="http://www.hizhu.com/hangzhou/roomDetail/{$vo.room_id}.html" target="_blank">{$vo.room_no}</a></case>
									<case value="001010001"><a href="http://www.hizhu.com/nanjing/roomDetail/{$vo.room_id}.html" target="_blank">{$vo.room_no}</a></case>
									<case value="001019002"><a href="http://www.hizhu.com/shenzhen/roomDetail/{$vo.room_id}.html" target="_blank">{$vo.room_no}</a></case>
									<default/>{$vo.room_no}
								</switch>
								</td>
								<td>{$vo.estate_name}</td>
								<td>{$vo.client_phone}</td>
								<td>{$vo.client_name}</td>
								<td><switch name="vo.room_status">
									<case value="0">待审核</case><case value="1">审核不通过</case><case value="2">未入住</case><case value="3">已出租</case><case value="4">待维护</case>
								</switch></td>
								<td>{$vo.room_money}</td>
								<td><gt name="vo.contracttime_start" value="0">{$vo.contracttime_start}</gt>~<lt name="vo.contracttime_end" value="99">{$vo.contracttime_end}</lt></td>
								
								<td><if condition="($vo.is_open eq 1)">启用<else/>停用</if></td>
								<td>{$vo.create_man}</td>
								<td><if condition="($vo.create_time gt 0)">{$vo.create_time|date="Y-m-d H:i:s",###}</if></td>
								<td>{$vo.update_man}</td>
								<td><if condition="($vo.update_time gt 0)">{$vo.update_time|date="Y-m-d H:i:s",###}</if></td>
								
								<td><a href="__URL__/commissionedit?no=107&leftno=109&pid={$vo.id}">查看</a></td>
								<td><eq name="vo.is_open" value="1"><a href="#" onclick="stopdown({$vo.id})">停用</a></eq></td>
							</tr>
							</foreach>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$totalCount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$pageSHow}&nbsp;<input type="text" style="width:50px" maxlength="4" id="jumpPage" name="jumpPage">&nbsp;<button onclick="jump()">跳转</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$('#is_online').val("<?php echo isset($_GET['is_online'])?$_GET['is_online']:'' ?>");
$('#is_open').val("<?php echo isset($_GET['is_open'])?$_GET['is_open']:'' ?>");
$('#settlement_method').val("<?php echo isset($_GET['settlement_method'])?$_GET['settlement_method']:'' ?>");
/*$("#dataDiv table tbody tr").each(function(){
	var room_no=$(this).children("td:eq(0)").text();
	var obj_status=$(this).children("td:eq(4)");
	var obj_money=$(this).children("td:eq(5)");
	$.get('__URL__/getRoominfoByRoomno?room_no='+room_no,function(data){
		obj_status.html(data.status);obj_money.html(data.money);
	},'json');
});*/
   $('.inpt_a').datetimepicker({step:5,lang:'ch',timepicker:false,yearStart:2015,yearEnd:2018,format:"Y-m-d"});
	function search(){
		$("#searchForm").submit();
	}
	function jump(){
		if(/^\d{1,4}$/.test($("#jumpPage").val())){
			$("#jump").val($("#jumpPage").val());
			$("#searchForm").submit();
		}
	}
	function stopdown(pid){
		if(confirm('停用后将不能启用，是否确定？')){
			$.get('__URL__/stopCommission?id='+pid,function(data){
				alert(data.message);document.location.reload();
			},'json');
		}
	}
	
</script>

</html>
