<html>
<head>
	<meta charset="utf-8">
	<title>房东佣金管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>职业房东&nbsp;>&nbsp;<?php echo I('get.mobile'); ?>&nbsp;>&nbsp;佣金</h2>
			</div>
			<div class="common_main">
				<h2>列表展示<a href="__URL__/commissionaddfd?no=6&leftno=111&mobile=<?php echo I('get.mobile'); ?>" class="btn_a">新增</a></h2>
				<div class="table" id="dataDiv">
					<table>
						<thead>
							<tr>
								<th>房东手机</th>
								<th>房东姓名</th>
								<th>合同时长</th>
								<th>状态</th>
								<th>创建人</th>
								<th>创建时间</th>
								<th>修改人</th>
								<th>修改时间</th>
								<th>查看</th>
								<th>停用</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>{$vo.client_phone}</td>
								<td>{$vo.client_name}</td>
								<td><gt name="vo.contracttime_start" value="0">{$vo.contracttime_start}</gt>~<lt name="vo.contracttime_end" value="99">{$vo.contracttime_end}</lt></td>
								<td><if condition="($vo.is_open eq 1)">启用<else/>停用</if></td>
								<td>{$vo.create_man}</td>
								<td><if condition="($vo.create_time gt 0)">{$vo.create_time|date="Y-m-d H:i:s",###}</if></td>
								<td>{$vo.update_man}</td>
								<td><if condition="($vo.update_time gt 0)">{$vo.update_time|date="Y-m-d H:i:s",###}</if></td>
								<td><a href="__URL__/commissioneditfd?no=6&leftno=111&pid={$vo.id}">查看</a></td>
								<td><eq name="vo.is_open" value="1"><a href="#" onclick="stopdown({$vo.id})">停用</a></eq></td>
							</tr>
							</foreach>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
	function stopdown(pid){
		if(confirm('停用此规则后，此房东名下使用此规则的房源也将停用此规则，确认停用吗？')){
			$.get('__URL__/stopCommissionfd?id='+pid,function(data){
				alert(data);document.location.reload();
			});
		}
	}
	
</script>

</html>
