<html>
<head>
	<meta charset="utf-8">
	<title>热门圈子管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>话题查询</h2>
				<div class="common_head_main">
					<form action="{:U('CircleHot/circlePostsList')}" method="get">
					<input type="hidden" name="no" value="47"/>
					<input type="hidden" name="leftno" value="51"/>
					  <input type="hidden" name="pid" value="{$postsid}">
						<table class="table_one">
							<tr>
								<td class="td_title">话题名称：</td>
						        <td class="td_main"><input class="inpt_a" type="text" name="postsname" value="<?php echo $_GET['postsname'] ?>"></td>
								<td class="td_title">创建者手机号：</td>
								<td class="td_main"><input type="text" name="creatorphone" value="<?php echo $_GET['creatorphone'] ?>"></td>
								<td class="td_title">创建者姓名：</td>
								<td class="td_main"><input type="text" name="creatorname" value="<?php echo $_GET['creatorname'] ?>"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>话题列表 ({$cirletitle.title})</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>话题名称</th>
								<th>创建者姓名</th>
								<th>创建者手机</th>
								<th>回复数</th>
								<th>隐藏话题</th>
								<th>话题详情</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.title}</td>
								<td>{$vo.cname}</td>
								<td>{$vo.mobile}</td>
								<td>{$vo.replay_cnt}</td>
								<td>
								<if condition="strtoupper($vo['is_display']) eq '1'">
								<a href="{:U('CircleHot/upPostsState')}?cid={$vo.id}&pid={$postsid}">设为隐藏</a>
								<else/>
								<a href="{:U('CircleHot/upPostsState')}?cid={$vo.id}&pid={$postsid}">取消隐藏</a>
								</if>
								</td>
								<td><a href="{:U('CircleHot/circlePostsDetails')}?pid={$vo.id}&no=47&leftno=51">查看详情</a></td>
							</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>
