<html>
<head>
	<meta charset="utf-8">
	<title>热门圈子管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>热门圈子查询</h2>
				<div class="common_head_main">
					<form action="{:U('CircleHot/circleHotList')}" method="get">
					<input type="hidden" name="no" value="47"/>
					<input type="hidden" name="leftno" value="51"/>
						<table class="table_one">
							<tr>
								<td class="td_title">圈子名称：</td>
						        <td class="td_main"><input class="inpt_a" type="text" name="circlename" value="<?php echo $_GET['circlename'] ?>"></td>
								<td class="td_title">创建者手机号：</td>
								<td class="td_main"><input type="text" name="creatorphone" value="<?php echo $_GET['creatorphone'] ?>"></td>
								<td class="td_title">创建者姓名：</td>
								<td class="td_main"><input type="text" name="creatorname" value="<?php echo $_GET['creatorname'] ?>"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>热门圈子列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>圈子名称</th>
								<th>创建者姓名</th>
								<th>创建者手机</th>
								<th>话题数</th>
								<th>回复数</th>
								<th>查看话题</th>
								<th>查看成员</th>
								<th>设为热门</th>
								<th>排序</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.title}</td>
								<td>{$vo.cname}</td>
								<td>{$vo.mobile}</td>
								<td>{$vo.post_cnt}</td>
								<td id="{$vo.id}">0</td>
								<td><a href="{:U('CircleHot/circlePostsList')}?pid={$vo.id}&no=47&leftno=51">查看话题</a></td>
								<td><a href="{:U('CircleHot/circleMember')}?cid={$vo.id}&no=47&leftno=51">查看成员</a></td>
								<td>
								<if condition="strtoupper($vo['is_hot']) eq '1'">
								    <a href="{:U('CircleHot/upCircleState')}?hid={$vo.id}">取消热门</a>
								</if>
								</td>
								<td  style="width:10%" fd="a">{$vo.index_no}</td>
								<input type="hidden" name="circle_id" value="{$vo.id}"/>
							</tr>
							<input type="hidden" name="replay_id" value="{$vo.id}"/>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	 $("input[name='replay_id']").each(function(){
        CircleReply($(this).val());
     });
    </script>

    <script type="text/javascript">
  $(document).ready(function(){
        $("tbody tr").children("td:nth-child(10)").dblclick(function(){
            var inval=$(this).html();
            var infd=$(this).attr("fd");
            var inid=$(this).parents().attr("id");
            var circle_id=$(this).parents("tr").find("input[name='circle_id']").val();
            $(this).html("<input style='width:60%' id='edit"+infd+inid+"'name='' value='"+inval+"'>");
            $("#edit"+infd+inid).focus().live("blur",function(){
                var editval=$(this).val();
                var re = /^-?\\d+$/;
                if(editval.length>11){
                	alert("已超过长度");
                	return false;
                }
                if(isNaN(editval)){
                	alert("必须是整数");
                	return false;
                }
                if(inval==editval){
                	 $(this).parents("td").html(editval);
                    return false;
                }
                $(this).parents("td").html(editval);
                    $.post('__URL__/sortDispose',{circle_id:circle_id,val:editval},function(data){

                    },'json');
            });
           
        });
  });
</script>
</body>
</html>
