<html>
<head>
	<meta charset="utf-8">
	<title>圈子管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>回复查询</h2>
				<div class="common_head_main">
					<form action="{:U('CircleManage/circlePostsDetails')}" method="get">
					<input type="hidden" name="no" value="47"/>
					<input type="hidden" name="leftno" value="49"/>
					<input type="hidden" name="pid" value="{$postsid}"/>
						<table class="table_one">
							<tr>
								<td class="td_title">回复内容：</td>
						        <td class="td_main"><input class="inpt_a" type="text" name="replycontent" value="<?php echo $_GET['replycontent'] ?>"></td>
								<td class="td_title">创建者手机号：</td>
								<td class="td_main"><input type="text" name="replyphone" value="<?php echo $_GET['replyphone'] ?>"></td>
								<td class="td_title">创建者姓名：</td>
								<td class="td_main"><input type="text" name="replyname" value="<?php echo $_GET['replyname'] ?>"></td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>回复列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>回复内容</th>
								<th>创建者姓名</th>
								<th>创建者手机</th>
								<th>回复时间</th>
								<th>回复状态</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo.reply_content}</td>
								<td>{$vo.cname}</td>
								<td>{$vo.mobile}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>
								<if condition="strtoupper($vo['is_display']) eq '1'">
								<a href="{:U('CircleManage/upCircleReplayState')}?cid={$vo.id}&pid={$postsid}">显示</a>
								<elseif condition="strtoupper($vo['is_display']) eq '0'"/>
								<a href="{:U('CircleManage/upCircleReplayState')}?cid={$vo.id}&pid={$postsid}">隐藏</a>
								</if>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
</body>
</html>
