<html>
<head>
	<meta charset="utf-8">
	<title>成交列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>查询</h2>
				<div class="common_head_main">
				<form action="{:U('Stores/feedBackReward')}" method="get" id="searchForm">
						<input type="hidden" name="no" value="162">
						<input type="hidden" name="leftno" value="188">
					<table class="table_one">
						<tr>
							<td class="td_title">反馈日期：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
							<td class="td_title">反馈人手机号：</td>
							<td class="td_main"><input type="text" maxlength="11" name="feedbacker_mobile" value="{:I('get.feedbacker_mobile')}"></td>
							<td class="td_title">店铺名称：</td>
							<td class="td_main"><input type="text" name="store_name" value="{:I('get.store_name')}" placeholder=""></td>
						</tr>
						<tr>
							<td class="td_title">筛选城市：</td>
							<td class="td_main">
								<select name="city_code">
							        <option value="" <?php if($_GET['city_code']===""){echo "selected";}?>>全部</option>
							    	<option value="001009001" <?php if($_GET['city_code']=="001009001"){echo "selected";}?>>上海</option>
							    	<option value="001001" <?php if($_GET['city_code']=="001001"){echo "selected";}?>>北京</option>
							    	<option value="001011001" <?php if($_GET['city_code']=="001011001"){echo "selected";}?>>南京</option>
							    	<option value="001010001" <?php if($_GET['city_code']=="001010001"){echo "selected";}?>>杭州</option>
							    	<option value="001019002" <?php if($_GET['city_code']=="001019002"){echo "selected";}?>>深圳</option>
							    </select>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>	
					</table>
					</form>
					<p class="head_p"><button type="submit" class="btn_a" id="btn_search">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>列表</a>
				</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>店铺名称</th>
								<th>反馈人手机号</th>
								<th>成交金额</th>
								<th>城市</th>
								<th>房间编号</th>
								<th>反馈时间</th>
								<th>中奖话费</th>
								<th>真实成交</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td><a href="{:U('stores/storeDetail?no=162&leftno=188',array('id'=>$vo['store_id']))}">{$vo['store_name']}</a></td>
								<td>{$vo['feedbacker_mobile']}</td>
								<td>{$vo['renter_price']}</td>
								<td>
									<switch name="vo['city_code']"><case value="001009001">上海</case><case value="001001">北京</case><case value="001011001">南京</case><case value="001010001">杭州</case><case value="001019002">深圳</case></switch>
								</td>
								<td>{$vo['room_no']}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo['price']}</td>
								<td>是</td>
								<td>
									<if condition="($vo.is_send eq '1')"><a href="javascript:;" style="color:black" onclick="IsSend('{$vo['id']}','{$vo['feedbacker_id']}','{$vo[feedbacker_mobile]}','{$vo['price']}',1);">充值短信</a>
									<elseif condition="($vo.is_send eq '0')"/><a href="javascript:;" onclick="IsSend('{$vo['id']}','{$vo['feedbacker_id']}','{$vo[feedbacker_mobile]}','{$vo['price']}',1);">充值短信</a>
									</if>
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="infoAdd" style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.6);z-index:999;display:none;">
		<div style="width:600px;height:470px;background:#fff;position:absolute;left:50%;margin-left:-300px;top:50%;margin-top:-235px;border-radius:10px;">
			<div style="margin:20px;margin-top:150px" class="cf">
				<label class="fl" style="height:36px;line-height:36px;width:150px;text-align:right;">租客电话：</label>
				<input type="text" name="mobile" readonly class="fl" style="width:200px;height:36px;">
			</div>
			<div style="margin:20px;" class="cf">
				<input type="text" name="content" readonly class="fl" style="width:550px;height:36px;">
			</div>
			<div  style="text-align:center;margin-top:80px">
				<button class="btn_b" style="margin-right:50px;">取消</button>
				<button class="btn_a" id="btn_submit">发送充值成功短信</button>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"}); 
	$("#btn_search").click(function(){
		$(this).unbind('click').text('搜索中..');
		$("#searchForm").submit();
	});
	function IsSend(id,customer_id,mobile,price,status) {
		$("input[name='mobile']").val(mobile);
		$("input[name='content']").val("【嗨住网】您在主动反馈获得的"+price+"元话费已为您充值成功，感谢您对嗨住的支持。");
		$("#infoAdd").show();
		$(".btn_b").click(function(){
			$("#infoAdd").hide();
		});
		$("#btn_submit").click(function(){
			$.ajax({
		            type:"post",
		            url: "{:U('Stores/modifyHouseDealLottery')}",
		            data:{"id":id,"customer_id":customer_id,"mobile":mobile,"price":price,"is_send":status},
		            dataType:'json',
		            success:function(data){
		            	if(data.code == 404) {
		            		alert(data.message);
		            		location.reload(true);
		            	}

			            if(data.code == 400) {
			            	alert(data.message);
			            	location.reload(true);
			            }
			            if(data.code == 200) {
			            	alert(data.message);
			            	location.reload(true);
			            }
		            },				
			    })
		});
	}
	</script>
</body>
</html>
