<html>
<head>
	<meta charset="utf-8">
	<title>看房列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>查询</h2>
				<div class="common_head_main">
				<form action="{:U('Stores/houseShowList')}" method="get">
						<input type="hidden" name="no" value="162">
						<input type="hidden" name="leftno" value="166">
					<table class="table_one">
						<tr>
							<td class="td_title">创建时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
							<td class="td_title">反馈手机号：</td>
							<td class="td_main"><input type="text" maxlength="11" name="mobile" value="{:I('get.mobile')}"></td>
							</td>
							<td class="td_title">店铺名称：</td>
							<td class="td_main"><input type="text" name="name" value="{:I('get.name')}" placeholder="可模糊查询"></td>
							</td>
							</tr>
							<tr>
							<td class="td_title">是否删除</td>
							<td class="td_main">
								<select name="record_status">
							        <option value="" <?php if($_GET['record_status']===""){echo "selected";}?>>全部</option>
							    	<option value="0" <?php if($_GET['record_status']=="0"){echo "selected";}?>>已经删除</option>
							    	<option value="1" <?php if($_GET['record_status']=="1"){echo "selected";}?>>未删除的</option>
							    </select>
							</td>
							<td class="td_title">是否成交</td>
							<td class="td_main">
								<select name="deal">
							        <option value="" <?php if($_GET['deal']===""){echo "selected";}?>>全部</option>
							    	<option value="1" <?php if($_GET['deal']=="1"){echo "selected";}?>>是</option>
							    	<option value="0" <?php if($_GET['deal']=="0"){echo "selected";}?>>否</option>
							    </select>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>	
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>列表</a>
				</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>店铺名称</th>
								<th>反馈人手机号</th>
								<th>是否成交</th>
								<th>房源编号</th>
								<th>房源金额</th>
								<th>租客手机</th>
								<th>反馈时间</th>
								<th>是否真实看房</th>
								<th>是否真实成交</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td><a href="{:U('stores/storeDetail?no=162&leftno=166',array('id'=>$vo['store_id']))}">{$vo['store_name']}</a></td>
								<td>{$vo['owner_mobile']}</td>
								<td>
									<if condition="$vo['type'] eq '1'">
									 是
									<elseif condition="$vo['type'] eq '0'"/>
									 否
									</if>
								</td>
								<td>{$vo['room_no']}</td>
								<td>{$vo['room_money']}</td>
								<td>{$vo['customer_mobile']}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>
									<if condition="$vo['is_true_show'] eq '0'">
									否
									<elseif condition="$vo['is_true_show'] eq '1'"/>
									是
									<elseif condition="$vo['is_true_show'] eq '2'"/>
									<a href="javascript:;" onclick="IsShow('{$vo[id]}',1);">是&nbsp;</a>
									<a href="javascript:;" onclick="IsShow('{$vo[id]}',0);">&nbsp;否</a>
									</if>
								</td>
								<td>
									<if condition="$vo['is_true_deal'] eq '0'">
									否
									<elseif condition="$vo['is_true_deal'] eq '1'"/>
									是
									<elseif condition="$vo['is_true_deal'] eq '2'"/>
									<a href="javascript:;" onclick="IsDeal('{$vo[id]}',1);">是&nbsp;</a>
									<a href="javascript:;" onclick="IsDeal('{$vo[id]}',0);">&nbsp;否</a>
									</if>
								</td>
								<td>
									<if condition="$vo['status'] eq '1'">
									<a href="javascript:;" onclick="DeleteById('{$pagecount}','{$vo[id]}',this);">删除</a>
									<elseif condition="$vo['status'] eq '0'"/>
									已删除
									</if>
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"}); 
	function DeleteById(count,id,objective){
 	  	if(confirm('确定删除吗？')){
			$.get("__URL__/deleteHouseFback.html",{id:id,},function(data){
				var obj = eval('('+data+')');
	            if(obj.code == 404) {
			        alert(obj.message);
			    } 
				if(obj.code == 400) {
			        alert(obj.message);
			        location.reload(true );
			    } 
			    if(obj.code == 200) {
			        alert(obj.message);
					$(objective).html('已删除');
					$(objective).css({color:'#000'});
			    }
				
			});
		}
   	}
	function IsShow(id,is_true_show){
   		if(confirm('确定选择吗？')) {
			$.get("__URL__/modifyHouseFbackIsShow.html",{id:id,is_true_show:is_true_show},function(data){
				var obj = eval('('+data+')');
	            if(obj.code == 404) {
			        alert(obj.message);
			    } 
				if(obj.code == 400) {
			        alert(obj.message);
			        location.reload(true);
			    } 
			    if(obj.code == 200) {
			        alert(obj.message);
					location.reload(true);
			    }	
			});
		}
	}
   	function IsDeal(id,is_true_deal){
   		if(confirm('确定选择吗？')) {
			$.get("__URL__/modifyHouseFback.html",{id:id,is_true_deal:is_true_deal},function(data){
				var obj = eval('('+data+')');
	            if(obj.code == 404) {
			        alert(obj.message);
			    } 
				if(obj.code == 400) {
			        alert(obj.message);
			        location.reload(true);
			    } 
			    if(obj.code == 200) {
			        alert(obj.message);
					location.reload(true);
			    }
			});
		}
	}
	</script>
</body>
</html>
