<html>
<head>
	<meta charset="utf-8">
	<title>在线签约</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>在线签约查询</h2>
				<div class="common_head_main">
				<form action="{:U('Stores/signOnLine')}" method="get" id="searchForm">
						<input type="hidden" name="no" value="6">
						<input type="hidden" name="leftno" value="190">
					<table class="table_one">
						<tr>
							<td class="td_title">租客签约时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
							<td class="td_title">租客手机号：</td>
							<td class="td_main"><input type="tel" maxlength='11' name="renter_mobile" value="{:I('get.renter_mobile')}"></td>
							<td class="td_title">房东手机号：</td>
							<td class="td_main"><input type="tel" maxlength='11' name="customer_mobile" value="{:I('get.customer_mobile')}"></td>
						</tr>
						<tr>
							<td class="td_title">合同状态：</td>
							<td class="td_main">
								<select name="status_code">
							        <option value="" <?php if($_GET['status_code']===""){echo "selected";}?>>全部</option>
							    	<option value="1" <?php if($_GET['status_code']=="1"){echo "selected";}?>>签约成功</option>
							    	<option value="0" <?php if($_GET['status_code']=="0"){echo "selected";}?>>等待签约</option>
							    	<option value="2" <?php if($_GET['status_code']=="2"){echo "selected";}?>>签约作废</option>
							    	<option value="3" <?php if($_GET['status_code']=="3"){echo "selected";}?>>签约失效</option>
							    	<option value="4" <?php if($_GET['status_code']=="4"){echo "selected";}?>>签约拒绝</option>
							    	<option value="5" <?php if($_GET['status_code']=="5"){echo "selected";}?>>签约删除</option>
							    </select>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					</form>
					<p class="head_p"><button type="submit" class="btn_a" id="btn_search">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>列表展示<a href="__URL__/downloadSignOnLineExcel.html?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a" style="min-width: 100px">下载</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>租客手机号</th>
								<th>租客姓名</th>
								<th>房东手机号</th>
								<th>租金(元/月)</th>
								<th>押金(元)</th>
								<th>租约时长</th>
								<th>合同状态</th>
								<th>租客签约时间</th>
							</tr>
						</thead>
						<tbody>
						  	<volist name="list" id="vo">
							<tr>
								<input type="hidden" name="customer" value="{$vo['customer_id']}">
								<td>{$i}</td>
								<td>{$vo['renter_mobile']}</td>
								<td>{$vo['renter_name']}</td>
								<td>{$vo['customer_mobile']}</td>
								<td>{$vo['price']}</td>
								<td>{$vo['pledge_price']}</td>
								<td>{$vo['rent_time']}</td>
								<td>
								<switch name="vo['status_code']"><case value="0">等待签约</case><case value="1">签约成功</case><case value="2">签约作废</case><case value="3">签约失效</case><case value="4">签约拒绝</case><case value="5">签约删除</case></switch>
								</td>
								<td><if condition="$vo['sign_time'] gt '0'">{$vo['sign_time']|date="Y-m-d H:i:s",###}</if></td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$("#btn_search").click(function(){
		$(this).unbind('click').text('搜索中..');
		$("#searchForm").submit();
	});
	</script>
</body>
</html>
