<html>
<head>
	<meta charset="utf-8">
	<title>店铺管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>店铺人员查询</h2>
				<div class="common_head_main">
				<form action="{:U('Stores/storePerson')}" method="get">
						<input type="hidden" name="no" value="162">
						<input type="hidden" name="leftno" value="165">
					<table class="table_one">
						<tr>
							<td class="td_title">人员手机号：</td>
							<td class="td_main"><input type="text" name="mobile" value="{:I('get.mobile')}" placeholder="该手机所在的店铺"></td>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>	
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>店铺列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>店铺ID</th>
								<th>店铺名称</th>
								<th>店长手机号</th>
								<th>店长</th>
								<th>店铺类型</th>
								<th>店铺创建时间</th>
								<th>类型修改时间</th>
								<th>房间数</th>
								<th>保证金</th>
								<th>信用分</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['id']}</td>
								<td><a href="{:U('stores/storeDetail?no=162&leftno=164',array('id'=>$vo['id']))}">{$vo['title']}</a></td>
								<td>{$vo['mobile']}</td>
								<td>{$vo['name']}</td>
								<td>
									<if condition="strtoupper($vo['type']) eq '0'">
									 普通
									<elseif condition="strtoupper($vo['type']) eq '1'"/>
									 金牌
									 <elseif condition="strtoupper($vo['type']) eq '2'"/>
									 银牌
									</if>
								</td>
								<td>{$vo['time']|date="Y-m-d H:i:s",###}</td>
								<td><if condition="($vo.update_time gt 0)">{$vo['update_time']|date="Y-m-d H:i:s",###}</if></td>
								<td>{$vo['num']}</td>
								<td>{$vo['earnestmoney']}</td>
								<td><a onclick="select('{$vo.id}','{$vo.title}')" style="color:blue" id="aa">{$vo['credit_score']}</a></td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<!-- <div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script>
    	function select(id,title)
		{
		   if(title != '我的房源') {
		   	window.location.href = '__URL__/storeDetail.html?id='+id;
		   }
		}
    </script>
</body>
</html>
