<html>
<head>
	<meta charset="utf-8">
	<title>更改店铺类型</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>更改店铺类型</h2>
				<div class="common_head_main">
					<table class="table_one">
						<tr>
							<td class="td_title">店铺名称：</td>
							<td class="td_main">{$detail['name']}</td>
							<td class="td_title">创建时间：</td>
							<td class="td_main text-center">{$detail['create_time']|date="Y-m-d H:i:s",###}</td>
						<tr>
							<td class="td_title">店铺类型：</td>
							<td class="td_main">
								<if condition="strtoupper($detail['medal_type']) eq '0'">
									 普通
									<elseif condition="strtoupper($detail['medal_type']) eq '1'"/>
									 金牌
									<elseif condition="strtoupper($detail['medal_type']) eq '2'"/>
									 银牌
								</if>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
						</tr>	
					</table>
				</div>
			</div>
			<div class="common_main">
				<!-- 表单 -->
				<form action="{:U('stores/modifyStoreType')}" name="regForm" method="post">
				<table class="table_one table_two" style="margin-top:80px;max-width:680px">
					<tr>
						<td class="td_title">店铺类型：</td>
						<td class="td_main ">
							<select name="medal_type" style="min-width:360px">
								<option value="1" {$detail['medal_type'] == 1?'selected':''}>金牌店铺</option>
								<option value="2" {$detail['medal_type'] == 2?'selected':''}>银牌店铺</option>
								<option value="0" {$detail['medal_type'] == 0?'selected':''}>普通店铺</option>
							</select>
						</td>
					</tr>
					<input type="hidden" name="type" value="{$detail['medal_type']}">
					<input type="hidden" name="id" value="{$detail['id']}">
				</table>
				</form>
				<div class="addhouse_last addhouse_last_room">
					<a href="javascript:;" class="btn_a" style="min-width: 640px;min-height:40px;line-height:40px;margin-top:30px">更改</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
   //js：
        $(".btn_a").bind("click",function(){
			if(true) {
				$("form").submit();
			}
		})
</script>	
</html>
