<html>
<head>
	<meta charset="utf-8">
	<title>移动房源到店铺</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>店铺信息</h2>
				<div class="common_head_main">
					<table class="table_one">
						<tr>
							<td class="td_title">店铺名称：</td>
							<td class="td_main">{$detail['name']}
							</td>
							<td class="td_title">创建时间：</td>
							<td class="td_main">{$detail['create_time']|date="Y-m-d H:i:s",###}</td>
						<tr>
							<td class="td_title">店铺类型：</td>
							<td class="td_main">
								<if condition="strtoupper($detail['medal_type']) eq '0'">
									 普通
									<elseif condition="strtoupper($detail['medal_type']) eq '1'"/>
									 金牌
									<elseif condition="strtoupper($detail['medal_type']) eq '2'"/>
									 银牌
								</if>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
						</tr>	
					</table>
				</div>
			</div>
			<div class="common_main">
				<h2>房源要转给的店员</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>人员名称</th>
								<th>手机号</th>
								<th>职位</th>
								<th>选择</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="members" id="vo">
							<tr>
								<td>{$vo['name']}</td>
								<td>{$vo['mobile']}</td>
								<td><if condition="strtoupper($vo['title']) eq '100'">
									 店员
									<elseif condition="strtoupper($vo['title']) eq '200'"/>
									 接线员
									<elseif condition="strtoupper($vo['title']) eq '300'"/>
									 店长
									<elseif condition="strtoupper($vo['title']) eq '400'"/>
									 区域经理
									</if>
								</td>
								<td><a href="javascript:;" onclick="startSet('{$vo.mobile}',this)" class="button btn_a" style="min-width:50px">选择</a></td>
							</tr>
				        	</volist>
						</tbody>
					</table>
				</div>
			</div>
			<div class="common_main">
				<!-- 表单 -->
				<table class="table_one table_two" style="margin-top:40px;max-width:680px">
					<tr>
						<td class="td_title">手机号: </td> 
						<td class="td_main"><input type="text" name="mobile" onblur="checkMobile()" id="content" placeholder="店员的手机号" style="min-width:250px"><span id="mtab">&nbsp;* 必填项,请输入手机号</span></td>
					</tr>
				</table>
				<div class="skip" style="color:blue;margin:20px 0px 0px 20px">&nbsp;注：该操作会将你输入手机号里的所有房源移动到你选择的人员名下 </div>
				<div class="addhouse_last addhouse_last_room">
					<a href="javascript:;" class="btn_a" onclick="startHandle('{$detail.id}')" style="min-width: 640px;min-height:40px;line-height:40px;margin-top:20px">移动房源</a>
				</div>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
   //js：
   		//验证手机号内容函数
   		mobile = '';
        function checkMobile() {
            var content = document.getElementById('content').value;
            var mtab = document.getElementById('mtab');
            if (content.match(/^1[34578]\d{9}/) == null) {
                // 匹配失败
                mtab.innerHTML = '* 手机号格式不正确!';
                mtab.style.color = '#f00';
                return false;
            } else{
                mtab.innerHTML = '* √通过验证!';
                mtab.style.color = '#0a0';
                return true;
            }
        }
        function startSet(data,obj){
        	$(".button").html("选择");
   			 mobile = data;
   			 obj.innerHTML = "已选中";		
		}
		function startHandle(id){
			var content = document.getElementById('content').value;
   			if(checkMobile()) {
				$.ajax({
			            type:"post",
			            url: "{:U('Stores/modifyStoreMobileHouses')}",
			            data:{"mobile":mobile,"inputMobile":content,"id":id},
			            success:function(data){
			            	var obj = eval('('+data+')');
				            if(obj.code == 404) {
						        alert(obj.message);
						    } 
							if(obj.code == 400) {
						        alert(obj.message);
						        location.reload(true );
						    } 
						    if(obj.code == 200) {
						        alert(obj.message);
								window.location.href = '__URL__/storeDetail.html?id='+id;
						    }
			            }
				    })
			}		
		}

</script>	
</body>
</html>
