<html>
<head>
	<meta charset="utf-8">
	<title>选择房源</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
	<div class="main">
		<div class="main_right">
			<div class="common_main">
				<div class="table">
				<input type="hidden" name="store_id" value="{$storeId}">
					<table>
						<thead>
							<tr>
								<th>房间编号</th>
								<th>负责人</th>
								<th>租金</th>
								<th>房间状态</th>
								<th>创建时间</th>
								<th>历史信息</th>
								<th><label>勾选<input type="checkbox" id="checkall"></label></th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$vo['room_no']}</td>
								<td>{$vo['mobile']}</td>
								<td>{$vo['room_money']}</td>
								<td>
									<if condition="strtoupper($vo['status']) eq '0'">
									 待审核
									<elseif condition="strtoupper($vo['status']) eq '1'"/>
									 审核未通过
									<elseif condition="strtoupper($vo['status']) eq '2'"/>
									 未入住
									<elseif condition="strtoupper($vo['status']) eq '3'"/>
									 已出租
									<elseif condition="strtoupper($vo['status']) eq '4'"/>
									 待维护
									</if>
								</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td><a href="{:U('HouseResource/houseupdatelog',array('house_id'=>$vo['id'],'house_type'=>2))}" target="_blank">历史记录</a></td>
								<td>
									<input type="checkbox" name="checkAll" value="{$vo['room_no']}">
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left" id="count">共{$pagecount}条记录，每页20条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
					<div class="addhouse_last addhouse_last_room">
						<a href="javascript:;" class="btn_a" onclick="startHandle('{$storeId}',{$mobile})" style="min-width: 640px;min-height:40px;line-height:40px;margin-top:30px">确定</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script>
	/*勾选 */
	$("#checkall").click(function(){
		if($(this).attr("checked")=="checked"){
			$("input[name='checkAll']").attr("checked","checked");
		}else{
			$("input[name='checkAll']").removeAttr("checked");
		}
	});
	function startHandle(storeId,mobile) {
		var checked = $("input[name='checkAll']:checked").map(function(index,elem) {
          return $(elem).val();
       }).get().join(',');
		$.ajax({
			type:"post",
			url:"{:U('Stores/storeMoveHouses')}",
			data:{"room_no":checked,"store_id":storeId,"mobile":mobile},
			success:function (data) {
				var obj = eval('('+data+')');
	            if(obj.code == 404) {
			        alert(obj.message);
			        window.close();
			    } 
			    if(obj.code == 200) {
			        alert(obj.message);
					window.close();
			    }	
			}
		})
	}
	</script>
</body>
</html>
