<html>
<head>
	<meta charset="utf-8">
	<title>店铺详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>店铺详情</h2>
				<div class="common_head_main">
					<table class="table_one">
					<input type="hidden" value="{$detail['name']}" id="storeTitle">
						<tr>
							<td class="td_title">店铺名称：</td>
							<td class="td_main" >{$detail['name']}
							<a href="{:U('Stores/storeTitle?no=162&leftno=164',array('id'=>$detail['id']))}" class="fr" style="margin-right:100px" id="title">更改</a>
							</td>
							<td class="td_title">店铺ID：</td>
							<td class="td_main">{$detail['id']}</td>
						</tr>
						<tr>
							<td class="td_title">创建时间：</td>
							<td class="td_main">{$detail['create_time']|date="Y-m-d H:i:s",###}</td>
							<td class="td_title">信用分：</td>
							<td class="td_main" >{$detail['credit_score']}
							<a href="{:U('Stores/storeCreditScore?no=162&leftno=164',array('id'=>$detail['id']))}" class="fr" style="margin-right:100px" id="creditscore">查看</a>
							</td>
						</tr>
						<tr>
							<td class="td_title">保证金：</td>
							<td class="td_main" >{$detail['earnestmoney']}
							<a href="{:U('Stores/storeDeposit?no=162&leftno=164',array('id'=>$detail['id']))}" class="fr" style="margin-right:100px" id="deposit">更改</a>
							</td>
							<td class="td_title">店铺类型：</td>
							<td class="td_main">
								<if condition="strtoupper($detail['medal_type']) eq '0'">
									 普通
									<elseif condition="strtoupper($detail['medal_type']) eq '1'"/>
									 金牌
									<elseif condition="strtoupper($detail['medal_type']) eq '2'"/>
									 银牌
								</if>
							<a href="{:U('Stores/storeType?no=162&leftno=164',array('id'=>$detail['id']))}" class="fr" style="margin-right:100px" id="type">更改</a>
							</td>
						</tr>	
					</table>
					<div class="addhouse_last addhouse_last_room">
					<a href="{:U('Stores/storeManager?no=162&leftno=164',array('id'=>$detail['id']))}" class="btn_a" style="min-width: 160px;min-height:40px;line-height:40px;margin:20px 40px 20px 40px" id="button1">更改店长</a>
					<a href="{:U('Stores/storeMember?no=162&leftno=164',array('id'=>$detail['id']))}" class="btn_a" style="min-width: 160px;min-height:40px;line-height:40px;margin:20px 40px" id="button2">新增店员</a>
					<a href="{:U('Stores/storeHouses?no=162&leftno=164',array('id'=>$detail['id']))}" class="btn_a" style="min-width: 200px;min-height:40px;line-height:40px;margin:20px 40px " id="button3">房间编号移动房源</a>
					<a href="{:U('Stores/storeMobileHouses?no=162&leftno=164',array('id'=>$detail['id']))}" class="btn_a" style="min-width: 200px;min-height:40px;line-height:40px;margin:20px 20px" id="button4">手机号移动房源</a>
					</div>
				</div>
			</div>
			<div class="common_main">
				<h2>店员列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>人员名称</th>
								<th>手机号</th>
								<th>职位</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="members" id="vo">
							<tr>
								<td>{$vo['name']}</td>
								<td>{$vo['mobile']}</td>
								<td><if condition="strtoupper($vo['title']) eq '100'">
									 店员
									<elseif condition="strtoupper($vo['title']) eq '200'"/>
									 接线员
									<elseif condition="strtoupper($vo['title']) eq '300'"/>
									 店长
									<elseif condition="strtoupper($vo['title']) eq '400'"/>
									 区域经理
									</if>
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
				</div>
			</div>
			<div class="common_main">
				<h2>店铺房源</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>房间编号</th>
								<th>负责人</th>
								<th>租金</th>
								<th>房间状态</th>
								<th>创建时间</th>
								<th>历史信息</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td><a href="{:U('HouseRoom/modifyroom',array('room_id'=>$vo['id'],'handle'=>'search'))}" target="_blank">{$vo['room_no']}</a></td>
								<td>{$vo['mobile']}</td>
								<td>{$vo['room_money']}</td>
								<td>
									<if condition="strtoupper($vo['status']) eq '0'">
									 待审核
									<elseif condition="strtoupper($vo['status']) eq '1'"/>
									 审核未通过
									<elseif condition="strtoupper($vo['status']) eq '2'"/>
									 未入住
									<elseif condition="strtoupper($vo['status']) eq '3'"/>
									 已出租
									<elseif condition="strtoupper($vo['status']) eq '4'"/>
									 待维护
									</if>
								</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td><a href="{:U('HouseResource/houseupdatelog',array('house_id'=>$vo['id'],'house_type'=>2))}" target="_blank">历史记录</a></td>
								<td>
									<a href="javascript:;" onclick="DeleteById('{$pagecount}','{$vo[id]}',this);">删除</a>
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left" id="count">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
		$(function display(){
		   var title = document.getElementById('storeTitle').value;
		   if(title == '我的房源') {
		   		$('#button1').hide();
		   		$('#button2').hide();
		   		$('#button3').hide();
		   		$('#button4').hide();
		   		$('#title').hide();
		   		$('#type').hide();
		   		$('#creditscore').hide();
		   		$('#deposit').hide();
		   		$('#count').hide();
		   }
		});
		function DeleteById(count,id,objective){
 	  	if(confirm('确定删除吗？')){
			$.get("__URL__/deleteHouseRoom.html",{id:id,},function(data){
				var obj = eval('('+data+')');
	            if(obj.code == 404) {
			        alert(obj.message);
			    } 
				if(obj.code == 400) {
			        alert(obj.message);
			        location.reload(true );
			    } 
			    if(obj.code == 200) {
			        alert(obj.message);
			        $(objective).parent().parent().remove();
			        $('#count').html("共"+(count-1)+"条记录，每页10条");
			    }
			});
		}
   	}
	</script>
</body>
</html>
