<html>
<head>
	<meta charset="utf-8">
	<title>店铺信用分</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>店铺信息</h2>
				<div class="common_head_main">
					<table class="table_one">
					<input type="hidden" value="{$detail['name']}" id="storeTitle">
						<tr>
							<td class="td_title">店铺名称：</td>
							<td class="td_main" >{$detail['name']}
							</td>
							<td class="td_title">创建时间：</td>
							<td class="td_main">{$detail['create_time']|date="Y-m-d H:i:s",###}</td>
						</tr>
						<tr>
							<td class="td_title">信用分：</td>
							<td class="td_main" >{$detail['credit_score']}分</td>
							<td class="td_title">保证金：</td>
							<td class="td_main" >{$detail['earnestmoney']}元</td>
						</tr>
						<tr>
							<td class="td_title">店铺类型：</td>
							<td class="td_main">
								<if condition="strtoupper($detail['medal_type']) eq '0'">
									 普通
									<elseif condition="strtoupper($detail['medal_type']) eq '1'"/>
									 金牌
									<elseif condition="strtoupper($detail['medal_type']) eq '2'"/>
									 银牌
								</if>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>	
						</tr>	
					</table>
				</div>
			</div>
			<div class="common_head">
				<h2>查询条件</h2>
				<div class="common_head_main">
					<form action="{:U('Stores/storeCreditScore')}" method="get">
						<input type="hidden" name="no" value="162">
						<input type="hidden" name="leftno" value="164">
						<input type="hidden" name="id" value="{$detail['id']}">
						<table class="table_one">
							<tr>
								<td class="td_title">变更时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
								</td>
								<td class="td_title"></td>
								<td class="td_main"></td>
								<td class="td_title"></td>
								<td class="td_main"></td>
							</tr>	
						</table>
						<p class="head_p"><button type="submit" class="btn_a">查询</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>信用分历史</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>信用分</th>
								<th>变动分数</th>
								<th>变更时间</th>
								<th>扣分原因</th>
								<th>变更房源</th>
								<th>操作人</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$vo['now_score']}</td>
								<td>{$vo['score_num']}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>
									<if condition="($vo['score_type'] eq '1')">
									 发布真房源
									<elseif condition="($vo['score_type'] eq '2')"/>
									 确认可租
									<elseif condition="($vo['score_type'] eq '3')"/>
									 主动反馈成交
									<elseif condition="($vo['score_type'] eq '4')"/>
									 一周未接电话超过3次
									<elseif condition="($vo['score_type'] eq '5')"/>
									 平台展示房源的地址误差距离超过1000米
									<elseif condition="($vo['score_type'] eq '6')"/>
									 平台展示房源实际已出租
									<elseif condition="($vo['score_type'] eq '7')"/>
									 平台展示租金与实际租金上浮超过10%
									<elseif condition="($vo['score_type'] eq '8')"/>
									 平台展示房源面积与实际面积下浮超过5㎡
									<elseif condition="($vo['score_type'] eq '9')"/>
									 平台展示的图片与实际情况不符
									<elseif condition="($vo['score_type'] eq '10')"/>
									 将合租写成整租
									<elseif condition="($vo['score_type'] eq '11')"/>
									 夸大平台展示房源的户型
									<elseif condition="($vo['score_type'] eq '12')"/>
									 服务过程中恶意辱骂租客
									<elseif condition="($vo['score_type'] eq '13')"/>
									 任何违反国家法律的行为
									<elseif condition="($vo['score_type'] eq '14')"/>
									 缴纳保证金
									<elseif condition="($vo['score_type'] eq '15')"/>
									 {$vo['msg_txt']}
									</if>
								</td>
								<td>{$vo['memo']}</td>
								<td>{$vo['oper_man_name']}</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left" id="count">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
					<div class="addhouse_last addhouse_last_room">
					<a href="{:U('Stores/storeModifyCreScore?no=162&leftno=164',array('id'=>$detail['id']))}" class="btn_a" style="min-width: 200px;min-height:40px;line-height:40px;margin:20px 20px 20px 40px" >更改信用分</a>
				</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({validateOnBlur:false,step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({validateOnBlur:false,step:10,lang:'ch',timepicker:false,format:"Y-m-d"}); 
	</script>
</body>
</html>
