<html>
<head>
	<meta charset="utf-8">
	<title>店铺信用分</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>更改信用分</h2>
				<div class="common_head_main">
					<table class="table_one">
						<tr>
							<td class="td_title">店铺名称：</td>
							<td class="td_main" >{$detail['name']}
							</td>
							<td class="td_title">创建时间：</td>
							<td class="td_main">{$detail['create_time']|date="Y-m-d H:i:s",###}</td>
						</tr>
						<tr>
							<td class="td_title">信用分：</td>
							<td class="td_main" >{$detail['credit_score']}分</td>
							<td class="td_title">保证金：</td>
							<td class="td_main" >{$detail['earnestmoney']}元</td>
						</tr>
						<tr>
							<td class="td_title">店铺类型：</td>
							<td class="td_main">
								<if condition="strtoupper($detail['medal_type']) eq '0'">
									 普通
									<elseif condition="strtoupper($detail['medal_type']) eq '1'"/>
									 金牌
									<elseif condition="strtoupper($detail['medal_type']) eq '2'"/>
									 银牌
								</if>
							</td>
							<td class="td_title"></td>
							<td class="td_main"></td>	
						</tr>	
					</table>
				</div>
			</div>
			<div class="common_main">
				<!-- 表单 -->
				<form action="{:U('stores/modifyCreScore')}" name="regForm" method="post">
				<table class="table_one table_two" style="margin-top:80px;max-width:680px">
				<input type="hidden" name="id" value="{$detail['id']}">
				<input type="hidden" name="now_score" value="{$detail['credit_score']}">
					<tr>
						<td class="td_title" >
							<select name="sign" style="min-width:105px">
						    	<option value="-">扣除信用分</option>
						    	<option value="+">增加信用分</option>
						    </select>
						</td>
						<td class="td_main"><input type="text" name="score_num" style="min-width:150px"></td>
					</tr>
					<tr>
						<td class="td_title" >房间编号：</td>
						<td class="td_main"><input type="text" name="room_no" style="min-width:150px" value="{:I('get.room_no')}"></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>原&nbsp;&nbsp;&nbsp;&nbsp;因: </td> 
						<td class="td_main" >
							<select name="score_type" style="min-width:350px" id="select" onchange="tempShow()">
						    	<option value="5">因平台展示房源的地址误差距离超过1000米,扣10分</option>
						    	<option value="6">因平台展示房源实际已出租，扣10分</option>
						    	<option value="7">因平台展示租金与实际租金上浮超过10%，扣10分</option>
						    	<option value="8">因平台展示房源面积与实际面积下浮超过5㎡，扣10分</option>
						    	<option value="9">因平台展示的图片与实际情况不符，扣10分</option>
						    	<option value="10">因将合租写成整租，扣10分</option>
						    	<option value="11">因夸大平台展示房源的户型，扣10分</option>
						    	<option value="12">因服务过程中恶意辱骂租客，扣50分</option>
						    	<option value="13">因任何违反国家法律的行为，扣至0分</option>
						    	<option value="14">缴纳保证金</option>
								<option value="15">其他原因</option>
						    </select>
						    <span>请选择,原因会推送给客户</span>
						</td>
					</tr>
					<tr id='reason'>
						<td class="td_title">输入其他原因</td>
						<td class="td_main"><input type="text" name="msg_txt" style="min-width:350px" placeholder="请输入更改信用分原因，原因会推送给用户"></td>
					</tr>
					<input type="hidden" name="id" value="{$detail['id']}">
				</table>
				<div class="addhouse_last addhouse_last_room">
					<input type="submit" class="btn_a" value="更改" style="min-width: 680px;min-height:40px;line-height:40px;margin-top:30px">
				</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script>
$('#reason').hide();
function tempShow() {
	var temp = $('#select').val();
	if(temp == 15) {
		$('#reason').show();
	} else {
		$('#reason').hide();
	}
}
</script>
</html>
