<html>
<head>
	<meta charset="utf-8">
	<title>意见反馈管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
<style>
        td{word-wrap:break-word;word-break:break-all;}
    	th.number{width:25%;}
    </style>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:;">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>反馈查询</h2>
				<div class="common_head_main">
					<form action="__URL__/feedbacklist.html" method="get">
					<input type="hidden" name="no" value="6"/>
					<input type="hidden" name="leftno" value="104"/>
						<table class="table_one">
							<tr>
								<td class="td_title">反馈时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="<?php echo $_GET['startTime'];?>">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="<?php echo $_GET['endTime'];?>"></td>
								<td class="td_title">来源：</td>
						        <td class="td_main">
						           <select name="platform">
								      <option value="" <?php if($_GET['platform']===""){echo "selected";}?>>全部</option>
									  <option value="1" <?php if($_GET['platform']==1){echo "selected";}?>>android</option>
									  <option value="2" <?php if($_GET['platform']==2){echo "selected";}?>>iphone</option>
									  <option value="15" <?php if($_GET['platform']==15){echo "selected";}?>>房东版android</option>
									  <option value="14" <?php if($_GET['platform']==14){echo "selected";}?>>房东版iphone</option>
									  <option value="17" <?php if($_GET['platform']==17){echo "selected";}?>>android帮助</option>
									  <option value="16" <?php if($_GET['platform']==16){echo "selected";}?>>iphone帮助</option>
									  <option value="10" <?php if($_GET['platform']==10){echo "selected";}?>>hi租房pro</option>
									   <option value="50" <?php if($_GET['platform']==50){echo "selected";}?>>嗨住特惠版</option>
							       </select>
								</td>
								<td class="td_title">城市：</td>
								<td class="td_main">
								     <select name="cityid">
										<option value=""<?php if($_GET['cityid']===""){echo "selected";}?>>全部</option>
										<option value="001009001"<?php if($_GET['cityid']=='001009001'){echo "selected";}?>>上海</option>
										<option value="001001"<?php if($_GET['cityid']=='001001'){echo "selected";}?>>北京</option>
										<option value="001011001"<?php if($_GET['cityid']=='001011001'){echo "selected";}?>>杭州</option>
										<option value="001010001"<?php if($_GET['cityid']=='001010001'){echo "selected";}?>>南京</option>
										<option value="001019001"<?php if($_GET['cityid']=='001019001'){echo "selected";}?>>广州</option>
										<option value="001019002"<?php if($_GET['cityid']=='001019002'){echo "selected";}?>>深圳</option>
									</select>
								</td>
							</tr>
						</table>
						<p class="head_p"><button class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>反馈列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>用户手机</th>
								<th>用户姓名</th>
								<th>反馈内容</th>
								<th>来源</th>
								<th>联系方式</th>
								<th>设备信息</th>
								<th>反馈时间</th>
								<th>来源城市</th>
							</tr>
						</thead>
						<tbody>
							  <volist name="list" id="vo">
								<tr>
									<td>{$i}</td>
									<td style="width:7%"></td>
									<td></td>
									
									<td style="width:25%">{$vo['msg']}</td>
									<td>
										<if condition="strtoupper($vo['gaodu_platform']) eq '1'">
									     android
									     <elseif condition="strtoupper($vo['gaodu_platform']) eq '2'"/>
									     iphone
									     <elseif condition="strtoupper($vo['gaodu_platform']) eq '15'"/>
									     房东版android
									     <elseif condition="strtoupper($vo['gaodu_platform']) eq '14'"/>
									     房东版iphone
									     <elseif condition="strtoupper($vo['gaodu_platform']) eq '17'"/>
									     android帮助
									     <elseif condition="strtoupper($vo['gaodu_platform']) eq '16'"/>
									     iphone帮助
									     <elseif condition="strtoupper($vo['gaodu_platform']) eq '10'"/>
									     hi租房pro
									      <elseif condition="strtoupper($vo['gaodu_platform']) eq '50'"/>
									     嗨住特惠版
									    </if>
									</td>
									<td>{$vo['contact']}</td>
									<td style="width:30%">{$vo['device_info']}</td>
									<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
									<td>
										<if condition="$vo['city_code'] eq '001009001'">上海
										<elseif condition="$vo['city_code'] eq '001001'"/>北京
										<elseif condition="$vo['city_code'] eq '001011001'"/>杭州
										<elseif condition="$vo['city_code'] eq '001010001'"/>南京
										<elseif condition="$vo['city_code'] eq '001019001'"/>广州
										<elseif condition="$vo['city_code'] eq '001019002'"/>深圳
										</if>
									</td>
									<input name="customer_id" type="hidden" value="{$vo['customer_id']}">
								</tr>
							</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left"><if condition="strtoupper($pagecount) neq ''">共{$pagecount}条记录，每页15条</if></p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
    </script>
    <script type="text/javascript">
    		 $(".table table tr").each(function(index,object){
		    	var customer_id=$(object).find("input[name='customer_id']").val();
		    	if(customer_id!="undefined"&&customer_id!=""){
			        $.get("__URL__/getcustomer.html",{customer_id:customer_id,index:index},function(data){
					if(data!=null){
					   var mobile=data.mobile;
					   var true_name=data.true_name;
					   $(".table table").find("tr:eq("+index+")").children("td:eq(1)").text(mobile);
					   $(".table table").find("tr:eq("+index+")").children("td:eq(2)").text(true_name);
					}
				},"json");
	        }
	   });
	 
    </script>
</body>
</html>
