<html>
<head>
	<meta charset="utf-8">
	<title>新增视频信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>新增视频信息</h2>
			</div>
			<div class="common_main">
				<!-- 表单 -->
				<form action="" name="regForm" method="post">
				<table class="table_one table_two">
					<tr>
						<td class="td_title"><span>*</span>房间编号：</td> 
						<td><input type="text" name="roomNO" onblur="checkRoomNo()"><span id="mtab">&nbsp;* 必填项,请输入房间编号</span></td>
					</tr>
					<tr>
						<td class="td_title">备注:</td> 
						<td><input type="text" name="msgTxt"></td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>上传视频:</td> 
						<td><input type="button" class="btn_a" value="上传文件" style="line-height:10px" onclick="startUpload()" /><input type="file" name="file" id="files" style="display:none" multiple/></td>
					</tr>
				</table>
				</form>
				<div class="addhouse_last"><a href="javascript:window.history.back();" class="btn_b">返回</a>
				</div>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/plug/js-sdk/aliyun-sdk.min.js"></script>
<script src="__PUBLIC__/plug/js-sdk/vod-sdk-upload.min.js"></script>
<script>
    //验证房间编号：
	function checkRoomNo () {
	    var roomNO = document.regForm.roomNO.value;
	    var mtab = document.getElementById('mtab');
	    if (roomNO == '') {
	    	mtab.innerHTML = '* 房间编号不能为空!';
            mtab.style.color = '#f00';
	    	temp = false;return;
		} else {
			$.ajax({
					type:"post",
					url:"{:U('VODClient/houseRoomProve')}",
					data:{"roomNO":roomNO},
					async: false,
					success:function (data) {	
						var obj = eval('('+data+')');
						if(obj.code == 404) {
			        		mtab.innerHTML = '*'+obj.message;
            				mtab.style.color = '#f00';
			        		temp = false;return;
			    		} else if(obj.code == 400) {
			        		mtab.innerHTML = '*'+obj.message;
            				mtab.style.color = '#f00';
			        		temp = false;return;
			    		} else {
			    			mtab.innerHTML = '*'+obj.message;
            				mtab.style.color = '#f00';
			    			temp = true;
			    			return;
			    		}	
					}
				})	
		}
	}
	function startUpload () {
		if(temp) {
			document.getElementById('files').click();	
		} else {
			alert("请先正确填写房源编号！");
		}
	}
    var uploader = new VODUpload({
        // 文件上传失败
        'onUploadFailed': function (fileName, code, message) {
            console.log("onUploadFailed: " + fileName + code + "," + message);
        },
        // 文件上传完成
        'onUploadSucceed': function (fileName) {
            console.log("onUploadSucceed: " + fileName);
        },
        // 文件上传进度
        'onUploadProgress': function (fileName, totalSize, uploadedSize) {
            console.log("file:" + fileName + ", " + totalSize, uploadedSize, "percent:", Math.ceil(uploadedSize * 100 / totalSize));
        },
        // token超时
        'onUploadTokenExpired': function (callback) {
            console.log("onUploadTokenExpired");
        }
    });
    uploader.init("LTAIP4XBZGMB2Rs8", "kxsvFE5VikpwMN1odb4oUurYKcaQWq");
    document.getElementById("files").addEventListener('change', function (event) {
    	var roomNO = document.regForm.roomNO.value;
    	var msgTxt = document.regForm.msgTxt.value;
        for(var i=0; i<event.target.files.length; i++) {
            uploader.addFile(event.target.files[i],"http://oss-cn-hangzhou.aliyuncs.com","vodapp",roomNO);
            $.ajax({
					type:"post",
					url:"{:U('VODClient/videoCreateInfo')}",
					data:{"room_no":roomNO,"msg_txt":msgTxt},
					success:function (data) {	
						alert(data);
					}
				})
        }
        uploader.startUpload();
    });
</script>
</html>