<html>
<head>
	<meta charset="utf-8">
	<title>视频管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   	<link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/video-js.min.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>视频查询</h2>
				<div class="common_head_main">
				<form action="{:U('VODClient/VODClientList')}" method="get">
						<input type="hidden" name="no" value="26">
						<input type="hidden" name="leftno" value="181">
					<table class="table_one">
						<tr>
							<td class="td_title">上传时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
							</td>
							<td class="td_title">上传人：</td>
							<td class="td_main"><input type="text" name="createMan" value="{:I('get.createMan')}"></td>
							<td class="td_title">房间编号：</td>
							<td class="td_main"><input type="text" name="roomNO" value="{:I('get.roomNO')}"></td>
						</tr>
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>视频列表</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>房间编号</th>
								<th>房间视频</th>
								<th>视频截图</th>
								<th>上传时间</th>
								<th>上传人</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
						  	<volist name="list" id="vo">
								<tr>
									<td>{$i}</td>
									<td>{$vo['room_no']}</td>
									<td><video class="video-js vjs-default-skin" controls    preload="auto"width="300"height="130"   data-setup="{}"><source src="{$vo['video_url']}" type="video/mp4"></video></td>
									<td><img style="width:200px;height:130px" src="{$vo['video_myimg_url']}" alt="秘密"></td>
									<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
									<td>{$vo['create_man']}</td>
									<td><a href="javascript:;" class="btn_a" onclick="startDeleteHousevideo('{$vo.room_id}','{$vo.video_url}','{$vo.video_img_url}','{$vo.video_h5url}',this)">删除</a></td>
								</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/plug/video.min.js"></script>
    <script src="__PUBLIC__/plug/js-sdk/aliyun-oss-sdk.min.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({validateOnBlur:false,step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({validateOnBlur:false,step:10,lang:'ch',timepicker:false,format:"Y-m-d"}); 
	</script>
	<script type="text/javascript">
    function startDeleteHousevideo (roomID,url,imgUrl,h5url,obj) {
		if(confirm('确定永久删除视频吗？')) {
		    var client = new OSS.Wrapper({
				region: "oss-cn-hangzhou",
				accessKeyId: "LTAIP4XBZGMB2Rs8",
				accessKeySecret: "kxsvFE5VikpwMN1odb4oUurYKcaQWq",
				bucket: "vodappout"
		    });			
			var result = client.delete(url.substring(47));
			console.log(result);	
      		var result2 = client.delete(imgUrl.substring(47));
      		console.log(result2);
    		var result3 = client.delete(h5url.substring(47));
    		console.log(result3);
			$.ajax({
	            type:"post",
	            url: "{:U('VODClient/videoDeleteInfoForever')}",
	            data:{"room_id":roomID},
	            success:function(data) {
	            	$(obj).parent().parent().remove();
	            }	
		    })
		}
	}
  	</script>
</body>
</html>
