<html>
<head>
	<meta charset="utf-8">
	<title>职业房东审核</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
   
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>职业房东查询</h2>
				<div class="common_head_main">
				<form action="{:U('Jobowner/jobownerCityList')}" method="get">
						<input type="hidden" name="no" value="6">
						<input type="hidden" name="leftno" value="177">
					<table class="table_one">
						<tr>
							<td class="td_title">手机号：</td>
							<td class="td_main"><input type="tel" maxlength='11' name="mobile" value="{:I('get.mobile')}"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>列表展示</h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>姓名</th>
								<th>手机号</th>
								<th>房东属性</th>
								<th>当前归属城市</th>
								<th>提交时间</th>
								<th>修改归属城市</th>
							</tr>
						</thead>
						<tbody>
						  	<volist name="list" id="vo">
							<tr>
								<input type="hidden" name="customer" value="{$vo['customer_id']}">
								<input type="hidden" name="mycity" value="{$vo['city_code']}">
								<td>{$i}</td>
								<td>{$vo['true_name']}</td>
								<td>{$vo['mobile']}</td>
								<td>
									<if condition="$vo['is_owner'] eq '3'">
									 个人房东
									<elseif condition="$vo['is_owner'] eq '4'"/>
									 职业房东
									 <elseif condition="$vo['is_owner'] eq '5'"/>
									 中介
									</if>
								</td>
								<td class="city">
									<if condition="$vo['city_code'] eq '001009001'">
									 上海
									<elseif condition="$vo['city_code'] eq '001001'"/>
									 北京
									 <elseif condition="$vo['city_code'] eq '001010001'"/>
									 南京
									 <elseif condition="$vo['city_code'] eq '001011001'"/>
									 杭州
									 <elseif condition="$vo['city_code'] eq '001019002'"/>
									 深圳
									</if>
								</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>
									<a class="city1 btn_a" href="javascript:;" onclick="selectCity('{$vo.id}','{$vo.customer_id}','001009001',this);">上海</a>
									<a class="city2 btn_a" href="javascript:;" onclick="selectCity('{$vo.id}','{$vo.customer_id}','001001',this);">北京</a>
									<a class="city3 btn_a" href="javascript:;" onclick="selectCity('{$vo.id}','{$vo.customer_id}','001010001',this);">南京</a>
									<a class="city4 btn_a" href="javascript:;" onclick="selectCity('{$vo.id}','{$vo.customer_id}','001011001',this);">杭州</a>
									<a class="city5 btn_a" href="javascript:;" onclick="selectCity('{$vo.id}','{$vo.customer_id}','001019002',this);">深圳</a>
								</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"}); 
		var mycity = $("input[name='mycity']").val();
		console.log(mycity);
		switch (mycity) {
			case '001009001':
			$(".city1").hide();
			break;
			case '001001':
			$(".city2").hide();
			break;
			case '001010001':
			$(".city3").hide();
			break;
			case '001011001':
			$(".city4").hide();
			break;
			case '001019002':
			$(".city5").hide();
			break;
		}
	function selectCity (id,customer_id,city_code,obj) {
		var mycity = $("input[name='mycity']").val();
		var city = $(obj).text();
		if(confirm('确定将该用户的归属城市修改成'+city+'吗？')) {
			$.ajax({
		            type:"post",
		            url: "{:U('Jobowner/modifyCustomerCity')}",
		            data:{"id":id,"customer_id":customer_id,"city_code":city_code},
		            success:function(data){
		            	var object = eval('('+data+')');
		            	if(object.code == 404) alert(object.message);
			            if(object.code == 400) alert(object.message);
			            if(object.code == 200) {alert(object.message);$(obj).parent().prev().prev().text(city);}
					    }, 
					datatype:'json',
			    })

		}
	}
	</script>
</body>
</html>
