<html>
<head>
	<meta charset="utf-8">
	<title>职业房东审核</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>中介用户查询</h2>
				<div class="common_head_main">
				<form action="{:U('Jobowner/middlemanVerifyList')}" method="get" id="searchForm">
						<input type="hidden" name="no" value="6">
						<input type="hidden" name="leftno" value="189">
					<table class="table_one">
						<tr>
							<td class="td_title">提交时间：</td>
							<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
							<td class="td_title">手机号：</td>
							<td class="td_main"><input type="tel" maxlength='11' name="mobile" value="{:I('get.mobile')}"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
						</tr>
					</table>
					</form>
					<p class="head_p"><button type="submit" class="btn_a" id="btn_search">搜索</button></p>
				</div>
			</div>
			<div class="common_main">
				<h2>列表展示<a href="__URL__/downloadMiddleManExcel.html?<?php echo $_SERVER["QUERY_STRING"];?>" class="btn_a" style="min-width: 100px">下载</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>姓名</th>
								<th>手机号</th>
								<th>中介公司</th>
								<th>收佣比</th>
								<th>提交时间</th>
								<th>审核操作</th>
								<th>操作人</th>
							</tr>
						</thead>
						<tbody>
						  	<volist name="list" id="vo">
							<tr>
								<input type="hidden" name="customer" value="{$vo['customer_id']}">
								<td>{$i}</td>
								<td>{$vo['true_name']}</td>
								<td>{$vo['mobile']}</td>
								<td>{$vo['agent_company_name']}</td>
								<td>{$vo['agent_commission_price']}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>
									<if condition="$vo['refuse_status'] eq '0'">
									<a href="javascript:;" onclick="IsPass('{$vo[id]}','{$vo[customer_id]}','{$vo[mobile]}',1,'{$vo[agent_company_name]}');">通过&nbsp;&nbsp;</a>
									<a href="__URL__/refuseReason.html?no=6&leftno=189&origin=2&id={$vo.id}">&nbsp;&nbsp;拒绝</a>
									<elseif condition="$vo['refuse_status'] eq '1'"/>
									通过--<if condition="$vo['pay_type'] eq '0'">试用用户
										  <elseif condition="$vo['pay_type'] eq '1'"/>付费用户
										  <elseif condition="$vo['pay_type'] eq '2'"/>免费用户
										  </if>
									<elseif condition="$vo['refuse_status'] eq '2'"/>
									<a href="javascript:;" onclick="IsPass('{$vo[id]}','{$vo[customer_id]}','{$vo[mobile]}',1,'{$vo[agent_company_name]}');">通过</a>
									--已拒绝
									</if>
								</td>
								<td>{$vo['oper_man_name']}</td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页10条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="infoAdd" style="position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.6);z-index:999;display:none;">
		<div style="width:600px;height:470px;background:#fff;position:absolute;left:50%;margin-left:-300px;top:50%;margin-top:-235px;border-radius:10px;">
			<div style="margin:20px;margin-top:150px" class="cf">
				<label class="fl" style="height:36px;line-height:36px;width:150px;text-align:right;">请选择用户类型：</label>
				<select id="pay_type" style="width:300px;height:36px;">
					<option value="0">试用用户</option>
					<option value="1">付费用户</option>
					<option value="2">免费用户</option>
				</select>
			</div>
			<div  style="text-align:center;margin-top:80px">
				<button class="btn_b" style="margin-right:50px;">取消</button>
				<button class="btn_a" id="btn_submit">提交</button>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
	$('#datetimepicker').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$('#datetimepicker1').datetimepicker({step:10,lang:'ch',timepicker:false,format:"Y-m-d"});
	$("#btn_search").click(function(){
		$(this).unbind('click').text('搜索中..');
		$("#searchForm").submit();
	});
	function IsPass(id,customer_id,mobile,refuse_status,company){
		$("#infoAdd").show();
		$(".btn_b").click(function(){
			$("#infoAdd").hide();
		});
		$("#btn_submit").click(function(){
			var pay_type = $("#pay_type").val();
			$.get("__URL__/matchAgentCompany.html",{"company":company},function(data){
				if(data.status == 201 || data.status == 404) {
					alert(data.message);
					location.reload();
				} else if(data.status==200) {
					$.ajax({
				            type:"post",
				            url: "{:U('Jobowner/modifyCustomerCheckVerify')}",
				            data:{"id":id,"customer_id":customer_id,"mobile":mobile,"refuse_status":refuse_status,"pay_type":pay_type},
				            success:function(data){
				            	var object = eval('('+data+')');
				            	if(object.code == 404) alert(object.message);
					            if(object.code == 400) alert(object.message);
					            if(object.code == 200) alert(object.message);
					            $("#infoAdd").hide();
					            location.reload(true);
							    }, 
					    })
				}
		},"json");
	}) 
}	
	</script>
</body>
</html>
