<html>
<head>
	<meta charset="utf-8">
	<title>职业房东核心修改</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>职业房东信息</h2>
			</div>

			<div class="common_main">
				<!-- 表单 -->
				<form method="post" action="__URL__/ownersModifyCoreInfo.html">	
				<input type="hidden" name="customer_id" value="{$customerinfo['id']}">
				<table class="table_one table_two">	
					<tr>
						<td class="td_title">用户身份：</td> 
						<td>
							<select name="is_owner">
								<option value="4">职业房东</option>
								<option value="3">个人房东</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title">姓名：</td> 
						<td>{$customerinfo['true_name']}</td>
					</tr>
					<tr>
						<td class="td_title">手机号：</td>
						<td class="td_main">
							<label><input type="tel" name="mobile" maxlength="11" value="{$customerinfo['mobile']}"  readonly="readonly"></label>
						</td>
					</tr>
					<tr>
						<td class="td_title">房东负责人：</td>
						<td class="td_main">
							<label>
							    <input type="text" name="principal_man" style="width:140px" value="{$customerinfo['principal_man']}">
								<div id="div_principal_man" class="plotbox" style="width:150px;">
									<ul>
									</ul>
								</div>
							</label>
						</td>
					</tr>
					<tr>
						<td class="td_title">免审核权益：</td> 
						<td>
							<lable><input type="radio" name="owner_verify" value="2">是</lable>
							<lable><input type="radio" name="owner_verify" value="0">否</lable>
						</td>			
					</tr>
					<tr>
						<td class="td_title">是否开启IM：</td> 
						<td>
							<select name="im_open" value="{$customerinfo['im_open']}">
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="td_title">在架房源数量：</td>
						<td class="td_main">
							<input type="text" name="house_limit" value="{$customerinfo['house_limit']}">
						</td>
					</tr>
					<tr>
						<td class="td_title">备注：</td>
						<td class="td_main">
							<label><textarea name="owner_remark" maxlength="255">{$customerinfo['owner_remark']}</textarea></label>
						</td>
					</tr>
				</table>
				</form>
				<div class="addhouse_last addhouse_last_room"><a href="javascript:;" class="btn_a">提交</a></div>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.form.js"></script>
<script type="text/javascript">
	$("select[name='is_owner']").val("{$customerinfo['is_owner']}");
	var owner_verify = "{$customerinfo['owner_verify']}";
	$("input[name='owner_verify'][value="+owner_verify+"]").attr("checked","checked");
	$(".btn_a").click(function(){
		submitData();
	});
	function submitData(){
	    var mobile=$("input[name='mobile']").val();
	    if($("input[name='principal_man']").val() == "") {
	    	return alert("请选择房东负责人");
	    } else {
		    $(".btn_a").unbind('click').text('提交中');
		    $('form').submit();    	
	    }  
	}
	/*房东负责人 */
	$("input[name='principal_man']").keyup(function(){
		var key_word=$(this).val();
		if(key_word.length<1){
			return;
		}
		$.get("__ROOT__/HouseResource/searchHandleMen",{keyword:key_word},function(result){
			if(result.status=="200"){
				var attr=result.data;
				var len=attr.length;
				var obj=$("#div_principal_man ul");
				obj.html("");
				for (var i = len-1; i >= 0; i--) {
					obj.append("<li onclick=\"selectPrincipal('"+attr[i].user_name+"','"+attr[i].real_name+"')\" >"+attr[i].real_name+"</li>");
				};
				if(len>0){
					$("#div_principal_man").show();
				}else{
					$("#div_principal_man").hide();
				}
			}
		},"json");
	});
	function selectPrincipal(userName,realName){
		$("input[name='principal_man']").val(userName);
		$("#div_principal_man").hide();
	}
</script>
</html>
