<html>
<head>
	<meta charset="utf-8">
	<title>职业房东审核-拒绝</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body> 
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_main">
				<table class="table_one" style="width:100%">
					<input type="hidden" name="id" value="{$list['id']}">
					<input type="hidden" name="origin" value="{$origin}">
					<input type="hidden" name="customer_id" value="{$list['customer_id']}">
					<input type="hidden" name="mobile" value="{$list['mobile']}">
					<tr>
						<td class="td_title"><span>*</span>姓名：</td>
						<td class="td_main">{$list['true_name']}</td>
						<td class="td_title"><span>*</span>手机号：</td>
						<td class="td_main">{$list['mobile']}</td>
					</tr>
					<tr>
						<td class="td_title"><span>*</span>拒绝原因：</td>
						<td class="td_main" colspan='3'>
							<input type="text"  name="refuse_memo" placeholder="该原因会展示在APP给用户查看" class="refuse_memo" style="width:99%;">
							<div id="estate_div" class="plotbox" style="width:99%;">
							</div>
						</td>
					</tr>
				</table>	
				<div class="addhouse_next"><button class="btn_a" onclick="window.history.back()" style="margin:0px 20px ">取消</button>&nbsp;<button class="btn_a" id="btn_submit" style="margin:0px 20px 0px 200px">提交</button></div>
			</div>
		</div>
</body>
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/listdata.js"></script>
<script type="text/javascript">
	$("#btn_submit").click(function () {
		$(this).unbind('click').text('搜索中..');
		var id = $("input[name='id']").val();
		var origin = $("input[name='origin']").val();
		var customer_id = $("input[name='customer_id']").val();
	 	var refuse_memo = $("input[name='refuse_memo']").val();
	 	var mobile = $("input[name='mobile']").val();
		if(refuse_memo == '') {
			alert("拒绝原因不能为空");
		} else {
			$.ajax({
		            type:"post",
		            url: "{:U('Jobowner/modifyCustomerCheckRefuse')}",
		            data:{"id":id,"customer_id":customer_id,"mobile":mobile,"refuse_status":2,"refuse_memo":refuse_memo},
		            success:function(data){
		            	var object = eval('('+data+')');
		            	if(object.code == 404) alert(object.message);
			            if(object.code == 400) alert(object.message);
			            if(object.code == 200) alert(object.message);
			            if(origin == 1) {
			            	window.location.href = '__URL__/jobownerVerifyList.html?no=6&leftno=176';
			            } else if(origin == 2) {
			            	window.location.href = '__URL__/middlemanVerifyList.html?no=6&leftno=189';
			            }
				    }, 
			    })
		}
	});
</script>
</html>
