<html>
<head>
	<meta charset="utf-8">
	<title>拉黑历史记录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
</head>
<body>
	<div class="main">
		<div class="main_right">
			<div class="common_head">
				<h2>历史记录</h2>
			</div>
			<div class="common_main">
				<div class="table" id="dataDiv">
					<table width="50%">
						<thead>
							<tr>
								<th>操作人</th>
								<th>操作时间</th>
								<th>操作</th>
								<th>拉黑操作原因</th>
								<th>备注信息</th>
							</tr>
						</thead>
						<tbody>
							<foreach item="vo" name="list">
							<tr>
								<td>{$vo.oper_name}</td>
								<td>{$vo.update_time|date="Y-m-d H:i:s",###}</td>
								<td><if condition="($vo.handle_type eq '1')">恢复<else/>拉黑</if></td>
								<td>
									<switch name="vo.bak_type"><case value="1">骗子/钓鱼/微商</case><case value="2">违规操作</case><case value="3">商务需求</case><case value="4">中介/托管</case><case value="6">其他</case></switch>
								</td>
								<td>{$vo.bak_info}</td>
							</tr>
							</foreach>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
