<html>
<head>
	<meta charset="utf-8">
	<title>不透传白名单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/jquery.datetimepicker.css"/>

</head>
<body>
<include file="Public/head_city" />
     <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
		<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
		<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>不透传白名单查询</h2>
				<div class="common_head_main">
				<form action="__URL__/passthroughlist.html" method="get">
				    <input type="hidden" name="no" value="6">
					<input type="hidden" name="leftno" value="160">
					<table class="table_one">
						<tr>
							<td class="td_title">手机号：</td>
							<td class="td_main"><input type="tel" name="mobile" maxlength="11" value="<?php echo I('get.mobile');?>"></td>
							<td class="td_title"></td>
							<td class="td_main"></td>
				     		<td class="td_title"></td>
							<td class="td_main"></td>
							</td>
						</tr>
						
					</table>
					<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
					</form>
				</div>
			</div>
			<div class="common_main">
				<h2>不透传白名单列表 <a href="__URL__/apassthroughtemp.html?no=6&leftno=160" class="btn_a">新增</a></h2>
				<div class="table">
					<table>
						<thead>
							<tr>
								<th>序号</th>
								<th>手机号</th>
								<th>备注</th>
								<th>新增时间</th>
								<th>操作人</th>
								<th>删除</th>
							</tr>
						</thead>
						<tbody>
						  <volist name="list" id="vo">
							<tr>
								<td>{$i}</td>
								<td>{$vo['mobile']}</td>
								<td>{$vo['memo']}</td>
								<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
								<td>{$vo['oper_man_name']}</td>
								<td><a href="javascript:;" onclick="DeleteByMobile({$vo['mobile']})">删除</a></td>
							</tr>
				        	</volist>
						</tbody>
					</table>
					<div class="skip cf">
						<p class="fl skip_left">共{$pagecount}条记录，每页15条</p>
						<p class="fr skip_right">
							{$show}
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/plug/jquery.datetimepicker.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/js/listdata.js"></script>
	<script>
     function DeleteByMobile(mobile) {
     	if(confirm('确认删除？')){
	     	$.get('__URL__/deletebymobile.html?mobile='+mobile,function(result){
				if(result.status=="200"){
					location.reload();
				}
			},'json');
	     }
     }
</script>
</body>
</html>
