<html>
<head>
	<meta charset="utf-8">
	<title>分期修改</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- 最新版本渲染 -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/audit_rent_orders.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basic.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">

</head>
<body>
<include file="Public/head_city" />
    <div class="title cf">
    	<div class="logo fl cf">
			<img src="__PUBLIC__/images/logo.png">
		</div>
		<ul class="cf fl">
			<li><a href="{:U('Welcome/welcome')}">首页</a></li>
			{$menutophtml}
		</ul>
		<div class="cf fr title_right">
			<a class="blue" href="javascript:">欢迎您 <?php echo cookie("admin_user_name");?></a>
			<span>|</span>
			<a href="{:U('/Index/outlogin')}">退出</a>
		</div>
    </div>
	<div class="main">
		<div class="main_left subNavBox">
			<include file="Public/left_menu" />
			{$menulefthtml}
		</div>
		<div class="main_right">
			<div class="common_head">
				<h2>分期修改</h2>
			</div>
			<div class="common_main">
				<table class="table_one">
					<tr>
						<td colspan="4"><span>租客信息</span></td>
					</tr>
					<tr>
						<td class="td_title">姓名</td>
						<td class="td_main">{$data['name']}</td>
						<td class="td_title">地区</td>
						<td class="td_main">{$data['city']}{$data['area']}</td>
					</tr>
					<tr>
						<td class="td_title">月租金</td>
						<td class="td_main">{$data['rental']}</td>
						<td class="td_title">手机</td>
						<td class="td_main">{$data['mobile']}</td>
					</tr>
					<tr>
						<td class="td_title">付款方式</td>
						<td class="td_main">{$data['paymanner']}</td>
						<td class="td_title">身份证号</td>
						<td class="td_main">{$data['identity_card']}</td>
					</tr>
					<tr>
						<td class="td_title">合同开始日期</td>
						<td class="td_main">{$data['pact_startdate']|date="Y-m-d",###}</td>
						<td class="td_title">合同期限(月)</td>
						<td class="td_main">{$data['pact_limit']}</td>
					</tr>
					<tr>
						<td colspan="4"><span>房东信息</span></td>
					</tr>
					<tr>
						<td class="td_title">姓名</td>
						<td class="td_main">{$data['owner_name']}</td>
						<td class="td_title">手机</td>
						<td class="td_main">{$data['owner_mobile']}</td>
					</tr>
					<tr>
						<td class="td_title">银行卡号</td>
						<td class="td_main">{$data['bank_no']}</td>
						<td class="td_title"></td>
						<td class="td_main"></td>
					</tr>
					<tr><td colspan="3"><span>操作记录</span></td></tr>
					<tr>
						<td class="td_title">操作者</td>
						<td class="td_title">状态</td>
						<td class="td_title">时间</td>
						<td class="td_title"></td>
					</tr>
					<volist name="status" id="vo">
					<tr>
						<td>{$vo['name']}</td>
						<td>{$vo['stag_status']}</td>
						<td>{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
						<td></td>
					</tr>
					</volist>
					<tr><td colspan="4"><span>分期信息</span></td></tr>
					<tr>
						<td class="td_title">推荐码</td>
						<td class="td_main">{$data['recommend']}</td>
						<td class="td_title">放款流水号</td>
						<td class="td_main"><input type="text" name="loan_num"></td>
					</tr>
					<tr>
						<td class="td_title">放款额</td>
						<td class="td_main"><input type="text" name="loan_money"></td>
						<td class="td_title"></td>
						<td class="td_main"></td>
					</tr>
				</table>
				<div id="tab">
					<div class="tabList">
						<ul class="cf">
							<li class="cur">合同照片</li>
						</ul>
					</div>
					<div class="tabCon">
					    <div class="module cf">
						    <volist name="pactimgs" id="vo">
							  <a href="javascript:"><img src="{$vo.img_path}"></a>
							</volist>
						</div>
					</div>
					<div class="tabfloat">
						<img src="">
					</div>
				</div>

			</div>
			<div class="common_bottom cf">
				<div class="back fl">
					<a href="{:U('Staging/stagingList')}?no=4&leftno=55">返回</a>
				</div>
				<div class="refuse fl cf">
					<span>修改状态为：</span>
					<select name=""  id="js_status" style="margin:12px 10px;width:180px;">
						<option value="">=请选择=</option>
						{$stagStagusList}
					</select>
				</div>
				<div class="through fl">
					<a href="javascript:;" id="js_submite">确定</a>
				</div>
			</div>
		</div>
	</div>
</body>
 <script src="__PUBLIC__/js/jquery.js"></script>
 <script src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
	/*分期状态*/
	/*var stagStatus="{$data['stages_status']}";
	var stagStatusName=$("#js_status option[value="+stagStatus+"]").text();
	$("#stagspan").text(stagStatusName);*/
	$(".tabList li").bind("click",function(){
		$(this).addClass("cur").siblings().removeClass("cur");
		$(".module").hide().eq($(".tabList li").index(this)).show();
	});
	$(".operate").click(function(){
		$(".floatDiv").fadeIn();
	})
	$(".out").click(function(){
		$(".floatDiv").fadeOut();
	})
	$("#select").change(function(){
		if ($(this).val()=="其他原因"){
			$("#txtReson").show();
		}else{
			$("#txtReson").hide();
		};
	})
	/*图片展示*/
	$(".tabCon img").bind("click",function(){
		var img=$(this).attr("src"); 
		$(".tabfloat img").attr("src",img); 
		$(".tabfloat").fadeIn();
	});
	$(".tabfloat img").bind("click",function(){
		$(".tabfloat").fadeOut();
	})
	$("#js_submite").click(function(){
    	var js_status=$("#js_status").val();
    	if(js_status==""){
    		alert("请选择修改状态");return;
    	}
    	var sid="{$data['id']}";
    	var loan_num=$("input[name='loan_num']").val();
    	var loan_money=$("input[name='loan_money']").val();
    	if(js_status==10){
			if(loan_num==""){
    			alert("请填写放款流水号");
    			return;
    		}else if(loan_money==""){
    			alert("请填写放款额");
    			return;
    		}
    	}
    	if(js_status==10){
    		window.location.href="__URL__/substaging.html?sid="+sid+"&stages_status="+js_status+"&loan_num="+loan_num+"&loan_money="+loan_money;
    	}else{
    		window.location.href="__URL__/substaging.html?sid="+sid+"&stages_status="+js_status;
    	}
	});

</script>
</html>
